n8n/workflows/cadence_monthly.json
{
    "updatedAt": "2026-06-17T08:22:18.903Z",
    "createdAt": "2026-06-15T10:53:46.856Z",
    "id": "0Zh45UoTtjjhRn8U",
    "name": "Nexa · [Cadence] Monthly Report",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "mnth-001",
            "name": "Schedule · Monthly",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                0,
                0
            ],
            "typeVersion": 1,
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 5 1 * *"
                        }
                    ]
                }
            }
        },
        {
            "id": "mnth-002",
            "name": "Set Dates · Monthly",
            "type": "n8n-nodes-base.code",
            "position": [
                800,
                0
            ],
            "typeVersion": 2,
            "parameters": {
                "jsCode": "const tz='Asia/Riyadh',now=new Date(new Date().toLocaleString('en-US',{timeZone:tz})),fmt=d=>d.toISOString().slice(0,10),mtdStart=new Date(now.getFullYear(),now.getMonth(),1),prevStart=new Date(now.getFullYear(),now.getMonth()-1,1),prevEnd=new Date(now.getFullYear(),now.getMonth(),0);return[{json:{mtdStart:fmt(mtdStart),today:fmt(now),prevMonthStart:fmt(prevStart),prevMonthEnd:fmt(prevEnd),monthLabel:now.toLocaleDateString('en-US',{timeZone:tz,month:'long',year:'numeric'}),reportType:'monthly'}}];"
            }
        },
        {
            "id": "mnth-003",
            "name": "Query Period Compare",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                1600,
                -800
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "WITH hs AS (\n  SELECT\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH) THEN 'prior_month'\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) THEN 'this_month'\n    END AS period,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date >= DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH)\n  GROUP BY period, qoyod_source\n),\nspend AS (\n  SELECT\n    channel,\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH) THEN 'prior_month'\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) THEN 'this_month'\n    END AS period,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE date >= DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH)\n  GROUP BY channel, period\n)\nSELECT s.channel, s.period,\n  ROUND(s.spend,2) AS spend,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.leads,0),0)),2) AS cpl,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  'compare' AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel AND s.period = hs.period\nWHERE s.period IS NOT NULL\nORDER BY s.channel, s.period",
                "options": {}
            }
        },
        {
            "id": "mnth-004",
            "name": "Query Forecast",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                1600,
                -400
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "WITH hs AS (\n  SELECT qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY qoyod_source\n),\nspend AS (\n  SELECT channel, SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY channel\n)\nSELECT s.channel,\n  ROUND(s.spend,2) AS mtd_spend,\n  COALESCE(hs.leads,0) AS mtd_leads,\n  COALESCE(hs.sqls,0) AS mtd_sqls,\n  DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1 AS days_in_month,\n  DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1 AS days_elapsed,\n  ROUND(s.spend/(DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1),0) AS proj_spend_eom,\n  ROUND(COALESCE(hs.leads,0)/(DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1),0) AS proj_leads_eom,\n  'forecast' AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel\nORDER BY mtd_spend DESC",
                "options": {}
            }
        },
        {
            "id": "mnth-005",
            "name": "Query CRO",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                1600,
                0
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "WITH hs AS (\n  SELECT LOWER(lead_utm_campaign) AS k,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls,\n    SUM(leads_disqualified) AS disq\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY LOWER(lead_utm_campaign), qoyod_source\n),\nspend AS (\n  SELECT channel, LOWER(campaign_name) AS k, campaign_name,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY channel, LOWER(campaign_name), campaign_name\n)\nSELECT s.channel, s.campaign_name,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  COALESCE(hs.disq,0) AS disq,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.sqls,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS qual_rate_pct,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.disq,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS disq_rate_pct,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  'cro' AS _query\nFROM spend s\nLEFT JOIN hs ON s.k = hs.k\nWHERE COALESCE(hs.leads,0) >= 5\nORDER BY qual_rate_pct ASC LIMIT 20",
                "options": {}
            }
        },
        {
            "id": "mnth-006",
            "name": "Query ROAS",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                1600,
                400
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "SELECT channel,\n  ROUND(SUM(spend),2) AS spend,\n  ROUND(SUM(revenue_won),2) AS revenue_won,\n  ROUND(SAFE_DIVIDE(SUM(revenue_won),NULLIF(SUM(spend),0)),2) AS roas,\n  0 AS leads,\n  0 AS deals_won,\n  'roas' AS _query\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.paid_channel_daily`\nWHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\nGROUP BY channel ORDER BY roas DESC",
                "options": {}
            }
        },
        {
            "id": "mnth-007",
            "name": "Query Monitor",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                1600,
                800
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "SELECT action_type,target_name,channel,event_date,outcome,DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),event_date,DAY) AS days_since,'monitor' AS _query FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log` WHERE event_date>=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) ORDER BY event_date DESC LIMIT 30",
                "options": {}
            }
        },
        {
            "id": "mnth-008",
            "name": "Collect Queries",
            "type": "n8n-nodes-base.merge",
            "position": [
                2400,
                0
            ],
            "typeVersion": 3,
            "parameters": {
                "mode": "append",
                "numberInputs": 5
            }
        },
        {
            "id": "mnth-009",
            "name": "Build · monthly-analyst",
            "type": "n8n-nodes-base.code",
            "position": [
                3200,
                0
            ],
            "typeVersion": 2,
            "parameters": {
                "jsCode": "const rows=$input.all().map(i=>i.json),compare=rows.filter(r=>r._query==='compare'),forecast=rows.filter(r=>r._query==='forecast'),cro=rows.filter(r=>r._query==='cro'),roas=rows.filter(r=>r._query==='roas'),monitor=rows.filter(r=>r._query==='monitor'),today=new Date().toLocaleDateString('en-US',{timeZone:'Asia/Riyadh',month:'long',year:'numeric'});return[{json:{system:'You are Nexa, Qoyod paid media agent. Monthly review for '+today+'. USD only. Slack mrkdwn. Strategic analysis: MoM trends, CRO quality, ROAS by channel, top strategic actions.',messages:[{role:'user',content:JSON.stringify({compare,forecast,cro,roas,monitor})}],tools:[{name:'monthly_digest',description:'Monthly performance digest',input_schema:{type:'object',required:['digest','actions'],properties:{digest:{type:'string'},actions:{type:'array',items:{type:'object',required:['title','description','priority'],properties:{title:{type:'string'},description:{type:'string'},priority:{type:'string',enum:['high','medium','low']},channel:{type:'string'},estimated_impact:{type:'string'}}}}}}}],tool_choice:{type:'any'}}}];"
            }
        },
        {
            "id": "mnth-010",
            "name": "Claude · monthly-analyst",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                4000,
                0
            ],
            "typeVersion": 4,
            "credentials": {
                "anthropicApi": {
                    "id": "yLwrXNzxReOM4Fgn",
                    "name": "Anthropic account"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "anthropicApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                "options": {}
            }
        },
        {
            "id": "mnth-011",
            "name": "Parse · monthly",
            "type": "n8n-nodes-base.code",
            "position": [
                4800,
                0
            ],
            "typeVersion": 2,
            "parameters": {
                "jsCode": "const resp=$input.first().json,block=(resp.content||[]).find(b=>b.type==='tool_use'),out=block?.input||{},actions=out.actions||[],approvalsText=actions.map((a,i)=>(i+1)+'. *'+a.title+'* ['+a.priority+']\n'+a.description+(a.estimated_impact?'\n_Impact: '+a.estimated_impact+'_':'')).join('\n\n');return[{json:{digest:out.digest||'Monthly digest unavailable.',approvalsText:approvalsText||'No actions.',actions,reportType:'monthly',generatedAt:new Date().toISOString()}}];"
            }
        },
        {
            "id": "mnth-012",
            "name": "Post Slack · Monthly",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                5600,
                -200
            ],
            "typeVersion": 4,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YwdlGwXs943DQrfh",
                    "name": "Slack (Qoyod)"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_NOTIFY, text:$json.digest, unfurl_links:false }) }}",
                "options": {}
            }
        },
        {
            "id": "mnth-013",
            "name": "Post Slack · Approvals",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                5600,
                200
            ],
            "typeVersion": 4,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YwdlGwXs943DQrfh",
                    "name": "Slack (Qoyod)"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_APPROVALS, text:'*Monthly Strategic Actions — ✅ approve / ❌ skip*\n\n'+$json.approvalsText, unfurl_links:false }) }}",
                "options": {}
            }
        },
        {
            "id": "mnth-014",
            "name": "Expand Asana Tasks",
            "type": "n8n-nodes-base.code",
            "position": [
                5600,
                600
            ],
            "typeVersion": 2,
            "parameters": {
                "jsCode": "const {actions}=$input.first().json,today=new Date().toLocaleDateString('en-US',{timeZone:'Asia/Riyadh'});return(actions||[]).map(a=>({json:{data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:a.title,notes:a.description+'\\n\\nChannel: '+(a.channel||'all')+'\\nPriority: '+(a.priority||'medium')+'\\nEstimated Impact: '+(a.estimated_impact||'N/A')+'\\nType: monthly-review\\nCreated: '+today,assignee:$vars.ASANA_ASSIGNEE_DEFAULT}}}));"
            }
        },
        {
            "id": "mnth-015",
            "name": "Create Asana Task",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                6400,
                600
            ],
            "typeVersion": 4,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "iUYNax4N4UkcLiQB",
                    "name": "Asana (Qoyod)"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://app.asana.com/api/1.0/tasks",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            }
        },
        {
            "id": "mnth-016",
            "name": "Build Audit SQL",
            "type": "n8n-nodes-base.code",
            "position": [
                6400,
                -200
            ],
            "typeVersion": 2,
            "parameters": {
                "jsCode": "const r=$input.first().json,proj=$vars.BQ_PROJECT,ds=$vars.BQ_DATASET;return[{json:{sql:`INSERT INTO \\`${proj}.${ds}.agent_activity_log\\` (action_type,target_name,channel,event_date,outcome,created_at) VALUES ('monthly_review','report','all',CURRENT_DATE('Asia/Riyadh'),'${r.reportType}_generated',CURRENT_TIMESTAMP())`}}];"
            }
        },
        {
            "id": "mnth-017",
            "name": "Audit Log → BQ",
            "type": "n8n-nodes-base.googleBigQuery",
            "position": [
                7200,
                -200
            ],
            "typeVersion": 2,
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": {
                    "__rl": true,
                    "mode": "expression",
                    "value": "={{ $vars.BQ_PROJECT }}"
                },
                "sqlQuery": "{{ $json.sql }}",
                "options": {}
            }
        },
        {
            "id": "mnth-cr-01",
            "name": "BQ · Creative Report",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                800,
                1400
            ],
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "query": "SELECT channel, ad_name, ad_id,\n  SUM(clicks) AS clicks,\n  ROUND(SAFE_DIVIDE(SUM(clicks), NULLIF(SUM(impressions),0)),4) AS ctr,\n  SUM(leads_total) AS leads,\n  SUM(qualified) AS qualified_leads,\n  ROUND(SAFE_DIVIDE(SUM(qualified), NULLIF(SUM(leads_total),0)),4) AS qual_ratio,\n  ROUND(SAFE_DIVIDE(SUM(spend), NULLIF(SUM(leads_total),0)),2) AS cpl,\n  ROUND(SUM(spend),2) AS spend\nFROM `angular-axle-492812-q4.qoyod_marketing.v_ad_performance`\nWHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  AND leads_total > 0\nGROUP BY channel, ad_name, ad_id\nHAVING SUM(leads_total) >= 3\nORDER BY channel, qual_ratio DESC, cpl ASC",
                "options": {}
            },
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            }
        },
        {
            "id": "mnth-cr-02",
            "name": "Code · Format Creative",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                1400
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const fmt=t=>new Date(t).toLocaleString('sv',{timeZone:'Asia/Riyadh'}).split(' ')[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst monthLabel=new Date().toLocaleString('en',{timeZone:'Asia/Riyadh',month:'long',year:'numeric'});\nconst tabName='Creatives-'+today.slice(0,7);\nconst classify=r=>{if(r.qual_ratio>0.50&&r.cpl<=25)return'Winner';if(r.qual_ratio>0.50)return'Optimise';return'Underperformer';};\nconst rows=$input.all().map(i=>{const d=i.json;return[d.channel||'',d.ad_name||'',d.ad_id||'',d.clicks||0,d.ctr||0,d.leads||0,d.qualified_leads||0,d.qual_ratio||0,d.cpl||0,d.spend||0,classify(d)];});\nconst headers=['channel','ad_name','ad_id','clicks','ctr','leads','qualified_leads','qual_ratio','cpl','spend','status'];\nconst sheetLink='https://docs.google.com/spreadsheets/d/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg';\nconst winners=rows.filter(r=>r[10]==='Winner').map(r=>r[0]+': '+r[1]+' — '+(r[7]*100).toFixed(0)+'% qual, $'+r[8]+' CPL').join('\\n')||'None';\nconst under=rows.filter(r=>r[10]==='Underperformer'&&(r[7]===0||r[8]>50)).map(r=>r[0]+': '+r[1]+' ($'+r[8]+' CPL, '+(r[7]*100).toFixed(0)+'% qual)').join('\\n')||'None';\nconst notes='WINNING CREATIVES — '+monthLabel+'\\nSheet: '+sheetLink+'\\n\\nTOP WINNERS:\\n'+winners+'\\n\\nUNDERPERFORMERS:\\n'+under+'\\n\\n---\\nCreated: '+today+' | Due: '+due+' | Priority: Medium | Type: Recommendation | Channel: all | Asset level: ad | Action: optimize → [Creative Strategist]';\nreturn [{json:{rows,headers,tabName,sheetLink,today,due,monthLabel,notes}}];"
            }
        },
        {
            "id": "mnth-cr-03",
            "name": "Sheets · Create Creative Tab",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2400,
                1400
            ],
            "parameters": {
                "method": "POST",
                "url": "https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg:batchUpdate",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({requests:[{addSheet:{properties:{title:$('Code · Format Creative').first().json.tabName}}}]}) }}",
                "options": {}
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "kBgcDkRIN5tMoACU",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "id": "mnth-cr-04",
            "name": "Sheets · Write Creative Rows",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                3200,
                1400
            ],
            "parameters": {
                "method": "POST",
                "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg/values/'+encodeURIComponent($('Code · Format Creative').first().json.tabName)+':append?valueInputOption=RAW' }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({values:[$('Code · Format Creative').first().json.headers,...$('Code · Format Creative').first().json.rows]}) }}",
                "options": {}
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "kBgcDkRIN5tMoACU",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "id": "mnth-cr-05",
            "name": "Asana · Creative Report Monthly",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                4000,
                1400
            ],
            "parameters": {
                "method": "POST",
                "url": "https://app.asana.com/api/1.0/tasks",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:'WINNING CREATIVES — '+$('Code · Format Creative').first().json.monthLabel,notes:$('Code · Format Creative').first().json.notes,due_on:$('Code · Format Creative').first().json.due}}) }}",
                "options": {}
            },
            "credentials": {
                "httpHeaderAuth": {
                    "id": "iUYNax4N4UkcLiQB",
                    "name": "Asana (Qoyod)"
                }
            }
        },
        {
            "id": "mnth-lp-01",
            "name": "BQ · LP Brief",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                800,
                1900
            ],
            "parameters": {
                "authentication": "serviceAccount",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "query": "WITH hs AS (\n  SELECT lead_utm_campaign, SUM(leads_total) AS leads, SUM(leads_qualified) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 1 MONTH), MONTH)\n  GROUP BY lead_utm_campaign\n), lp AS (\n  SELECT destination_url, MIN(c.campaign_name) AS sample_campaign,\n    SUM(c.spend) AS spend, SUM(c.clicks) AS clicks,\n    SUM(COALESCE(h.leads,0)) AS leads, SUM(COALESCE(h.sqls,0)) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.campaigns_daily` c\n  LEFT JOIN hs h ON LOWER(c.campaign_name) = LOWER(h.lead_utm_campaign)\n  WHERE DATE_TRUNC(c.date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 1 MONTH), MONTH)\n    AND c.destination_url IS NOT NULL\n  GROUP BY destination_url\n)\nSELECT destination_url, sample_campaign,\n  ROUND(spend,2) AS spend_usd, clicks, leads, sqls,\n  ROUND(SAFE_DIVIDE(leads,NULLIF(clicks,0))*100,2) AS cvr_pct,\n  ROUND(SAFE_DIVIDE(spend,NULLIF(sqls,0)),2) AS cpql_usd\nFROM lp WHERE sqls > 0\nORDER BY sqls DESC LIMIT 1",
                "options": {}
            },
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            }
        },
        {
            "id": "mnth-lp-02",
            "name": "Code · Format LP Brief",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                1900
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const fmt=t=>new Date(t).toLocaleString('sv',{timeZone:'Asia/Riyadh'}).split(' ')[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst all=$input.all();\nif(!all.length||!all[0].json.destination_url){return [{json:{skip:true,notes:'Monthly LP brief skipped — no SQLs last month.\\n\\n---\\nCreated: '+today}}];}\nconst d=all[0].json;\nconst ym=today.slice(0,7);\nconst channel=d.sample_campaign?.split('_')[0]||'All';\nconst notes='[DRAFT] LP DUPLICATE BRIEF — '+ym+' Winner: '+d.destination_url+'\\n\\nWINNING LP: '+d.destination_url+' | SQLs: '+d.sqls+' | Leads: '+d.leads+' | CVR: '+d.cvr_pct+'% | CPQL: $'+d.cpql_usd+'\\n\\nHYPOTHESIS: A duplicate of '+d.destination_url+' with refreshed hero + CTA will match or beat $'+d.cpql_usd+' CPQL within 14 days.\\n\\nWHY DUPLICATE: LP already converts — preserve structure, refresh creative only. Same form, same ZATCA badge above fold.\\n\\nVARIANT CHANGES: hero image | H1 alternative | CTA text only. No structural changes.\\n\\nSUCCESS CRITERION: CPQL ≤ $'+d.cpql_usd+' after 14 days. Min 50 leads per variant.\\n\\nZATCA BADGE: above fold, non-negotiable. UI/UX to confirm desktop + mobile (375px).\\n\\n---\\nCreated: '+today+' | Due: '+due+' | Priority: Normal | Type: LP Duplicate | Channel: '+channel+' | Asset level: LP';\nreturn [{json:{skip:false,title:'[DRAFT] LP Duplicate Brief — '+ym+' Winner: '+d.destination_url,notes,due}}];"
            }
        },
        {
            "id": "mnth-lp-03",
            "name": "Asana · LP Draft Monthly",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2400,
                1900
            ],
            "parameters": {
                "method": "POST",
                "url": "https://app.asana.com/api/1.0/tasks",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:$('Code · Format LP Brief').first().json.title||'Monthly LP brief skipped',notes:$('Code · Format LP Brief').first().json.notes,due_on:$('Code · Format LP Brief').first().json.due||undefined}}) }}",
                "options": {}
            },
            "credentials": {
                "httpHeaderAuth": {
                    "id": "iUYNax4N4UkcLiQB",
                    "name": "Asana (Qoyod)"
                }
            }
        },
        {
            "id": "m-bq-fresh-001",
            "name": "BQ · Freshness Check",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                400,
                0
            ],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{$vars.BQ_PROJECT}}",
                "sqlQuery": "SELECT FORMAT_DATE('%Y-%m-%d', MAX(date)) as latest_date, DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) as days_stale FROM `{{$vars.BQ_PROJECT}}.{{$vars.BQ_DATASET}}.campaigns_daily`",
                "options": {},
                "authentication": "serviceAccount"
            }
        },
        {
            "id": "m-if-fresh-001",
            "name": "IF · Data Fresh?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                600,
                0
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "fc",
                            "leftValue": "={{$json.days_stale}}",
                            "rightValue": 1,
                            "operator": {
                                "type": "number",
                                "operation": "lte"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "m-slack-stale-001",
            "name": "Slack · Stale Data Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                -300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YwdlGwXs943DQrfh",
                    "name": "Slack (Qoyod)"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "genericCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel: $vars.SLACK_CHANNEL_NOTIFY || \"#data-health\", text: \"⚠️ *BQ data stale* — `campaigns_daily` MAX(date) is *\" + $json.latest_date + \"* (\" + $json.days_stale + \" days behind). Monthly review skipped.\", unfurl_links: false }) }}",
                "options": {}
            }
        },
        {
            "id": "m-build-perf-001",
            "name": "Build · performance-lead",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4500,
                0
            ],
            "parameters": {
                "jsCode": "// Build prompt for performance-lead — takes growth-analyst output as context\nconst resp = $input.first().json;\nconst block = (resp.content || []).find(b => b.type === 'tool_use');\nconst analysis = block?.input || {};\n\nconst systemPrompt = 'You are the Performance Lead at Qoyod. Review the Growth Analyst weekly report and add strategic context. ' +\n  'Validate findings, escalate CPQL regressions (>$160 = pause; $130-160 = warning), identify cross-channel patterns, ' +\n  'add a 1-paragraph executive summary, and confirm or override analyst actions with reasoning. ' +\n  'CPQL zones: scale <$85 | acceptable $85-$130 | warning $130-$160 | pause >$160. ' +\n  'Min 14-day window for pause/scale. Spend in USD.';\n\nconst digest = analysis.digest || JSON.stringify(analysis).slice(0, 3000);\n\nconst tools = [{\n  name: 'weekly_digest',\n  description: 'Weekly digest — performance-lead final review',\n  input_schema: {\n    type: 'object',\n    required: ['digest', 'actions'],\n    properties: {\n      digest: {type: 'string'},\n      actions: {type: 'array', items: {type: 'object', required: ['title','description','priority'],\n        properties: {title:{type:'string'}, description:{type:'string'}, priority:{type:'string',enum:['high','medium','low']}, channel:{type:'string'}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: 'user', content: 'Growth Analyst report:\\n\\n' + digest + '\\n\\nProvide your strategic review.'}],\n  tools,\n  tool_choice: {type: 'required'}\n}}];"
            }
        },
        {
            "id": "m-claude-perf-001",
            "name": "Claude · performance-lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                4800,
                0
            ],
            "credentials": {
                "anthropicApi": {
                    "id": "yLwrXNzxReOM4Fgn",
                    "name": "Anthropic account"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "anthropicApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                "options": {}
            }
        },
        {
            "id": "m-build-creative-001",
            "name": "Build · creative-strategist",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2400,
                1400
            ],
            "parameters": {
                "jsCode": "// Build prompt for creative-strategist — analyzes formatted creative report data\nconst rows = $input.all().map(i => i.json);\n\nconst systemPrompt = 'You are the Creative Strategist at Qoyod. Analyze this month creative performance data. ' +\n  'Identify top-performing creatives (qual_ratio > 0.50 AND CPL <= $25), underperformers, and optimization opportunities. ' +\n  'Classify each creative: Winner = qual_ratio>0.50 AND CPL<=$25 | Optimise = qual_ratio>0.50 AND CPL>$25 | Underperformer = qual_ratio<=0.50. ' +\n  'Provide actionable creative briefs for next month (new angle for winners, revision notes for optimise, kill for underperformers). ' +\n  'Respond using the creative_report tool.';\n\nconst creativeData = rows.map(r => \n  (r.creative_name || r.ad_name || 'unknown') + ': CPL=$' + (r.cpl || 0).toFixed(2) + \n  ', qual_ratio=' + (r.qual_ratio || 0).toFixed(2) + \n  ', leads=' + (r.leads_total || 0) + ', sqls=' + (r.leads_qualified || 0)\n).join('\\n');\n\nconst tools = [{\n  name: 'creative_report',\n  description: 'Creative strategist monthly report',\n  input_schema: {\n    type: 'object', required: ['summary', 'creatives'],\n    properties: {\n      summary: {type: 'string', description: 'Executive summary of creative performance'},\n      creatives: {type: 'array', items: {type: 'object', required: ['name','classification','recommendation'],\n        properties: {name:{type:'string'}, classification:{type:'string',enum:['winner','optimise','underperformer']}, \n          cpl:{type:'number'}, qual_ratio:{type:'number'}, recommendation:{type:'string'}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: 'user', content: 'Creative performance this month:\\n\\n' + creativeData}],\n  tools,\n  tool_choice: {type: 'required'},\n  original_rows: rows\n}}];"
            }
        },
        {
            "id": "m-claude-creative-001",
            "name": "Claude · creative-strategist",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2800,
                1400
            ],
            "credentials": {
                "anthropicApi": {
                    "id": "yLwrXNzxReOM4Fgn",
                    "name": "Anthropic account"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "anthropicApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "Schedule · Monthly": {
            "main": [
                [
                    {
                        "node": "BQ · Freshness Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Dates · Monthly": {
            "main": [
                [
                    {
                        "node": "Query Period Compare",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Query Forecast",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Query CRO",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Query ROAS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Query Monitor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Period Compare": {
            "main": [
                [
                    {
                        "node": "Collect Queries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Forecast": {
            "main": [
                [
                    {
                        "node": "Collect Queries",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Query CRO": {
            "main": [
                [
                    {
                        "node": "Collect Queries",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Query ROAS": {
            "main": [
                [
                    {
                        "node": "Collect Queries",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Query Monitor": {
            "main": [
                [
                    {
                        "node": "Collect Queries",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Collect Queries": {
            "main": [
                [
                    {
                        "node": "Build · monthly-analyst",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build · monthly-analyst": {
            "main": [
                [
                    {
                        "node": "Claude · monthly-analyst",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude · monthly-analyst": {
            "main": [
                [
                    {
                        "node": "Build · performance-lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse · monthly": {
            "main": [
                [
                    {
                        "node": "Post Slack · Monthly",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post Slack · Approvals",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Expand Asana Tasks",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Build Audit SQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Expand Asana Tasks": {
            "main": [
                [
                    {
                        "node": "Create Asana Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Audit SQL": {
            "main": [
                [
                    {
                        "node": "Audit Log → BQ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BQ · Creative Report": {
            "main": [
                [
                    {
                        "node": "Code · Format Creative",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code · Format Creative": {
            "main": [
                [
                    {
                        "node": "Build · creative-strategist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sheets · Create Creative Tab": {
            "main": [
                [
                    {
                        "node": "Sheets · Write Creative Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sheets · Write Creative Rows": {
            "main": [
                [
                    {
                        "node": "Asana · Creative Report Monthly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BQ · LP Brief": {
            "main": [
                [
                    {
                        "node": "Code · Format LP Brief",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code · Format LP Brief": {
            "main": [
                [
                    {
                        "node": "Asana · LP Draft Monthly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BQ · Freshness Check": {
            "main": [
                [
                    {
                        "node": "IF · Data Fresh?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF · Data Fresh?": {
            "main": [
                [
                    {
                        "node": "Set Dates · Monthly",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BQ · Creative Report",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "BQ · LP Brief",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Slack · Stale Data Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build · performance-lead": {
            "main": [
                [
                    {
                        "node": "Claude · performance-lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude · performance-lead": {
            "main": [
                [
                    {
                        "node": "Parse · monthly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build · creative-strategist": {
            "main": [
                [
                    {
                        "node": "Claude · creative-strategist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude · creative-strategist": {
            "main": [
                [
                    {
                        "node": "Sheets · Create Creative Tab",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": true
    },
    "staticData": {
        "node:Schedule · Monthly": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
    "activeVersionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
    "versionCounter": 8,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "shared": [
        {
            "updatedAt": "2026-06-15T10:53:46.858Z",
            "createdAt": "2026-06-15T10:53:46.858Z",
            "role": "workflow:owner",
            "workflowId": "0Zh45UoTtjjhRn8U",
            "projectId": "adzgqz9cb5avvdf1",
            "project": {
                "updatedAt": "2026-05-28T17:50:33.321Z",
                "createdAt": "2026-05-28T17:50:26.370Z",
                "id": "adzgqz9cb5avvdf1",
                "name": "Mohamed Irshaid <mohammad.irsheid@qoyod.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "customTelemetryTags": [],
                "creatorId": "2a6e0304-07da-4c79-a506-3c92b5981bd1"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-06-17T07:59:36.375Z",
        "createdAt": "2026-06-17T07:59:36.375Z",
        "versionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
        "workflowId": "0Zh45UoTtjjhRn8U",
        "nodes": [
            {
                "id": "mnth-001",
                "name": "Schedule · Monthly",
                "type": "n8n-nodes-base.scheduleTrigger",
                "position": [
                    0,
                    0
                ],
                "typeVersion": 1,
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 5 1 * *"
                            }
                        ]
                    }
                }
            },
            {
                "id": "mnth-002",
                "name": "Set Dates · Monthly",
                "type": "n8n-nodes-base.code",
                "position": [
                    800,
                    0
                ],
                "typeVersion": 2,
                "parameters": {
                    "jsCode": "const tz='Asia/Riyadh',now=new Date(new Date().toLocaleString('en-US',{timeZone:tz})),fmt=d=>d.toISOString().slice(0,10),mtdStart=new Date(now.getFullYear(),now.getMonth(),1),prevStart=new Date(now.getFullYear(),now.getMonth()-1,1),prevEnd=new Date(now.getFullYear(),now.getMonth(),0);return[{json:{mtdStart:fmt(mtdStart),today:fmt(now),prevMonthStart:fmt(prevStart),prevMonthEnd:fmt(prevEnd),monthLabel:now.toLocaleDateString('en-US',{timeZone:tz,month:'long',year:'numeric'}),reportType:'monthly'}}];"
                }
            },
            {
                "id": "mnth-003",
                "name": "Query Period Compare",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    1600,
                    -800
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "WITH hs AS (\n  SELECT\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH) THEN 'prior_month'\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) THEN 'this_month'\n    END AS period,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date >= DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH)\n  GROUP BY period, qoyod_source\n),\nspend AS (\n  SELECT\n    channel,\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH) THEN 'prior_month'\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) THEN 'this_month'\n    END AS period,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE date >= DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'),INTERVAL 1 MONTH),MONTH)\n  GROUP BY channel, period\n)\nSELECT s.channel, s.period,\n  ROUND(s.spend,2) AS spend,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.leads,0),0)),2) AS cpl,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  'compare' AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel AND s.period = hs.period\nWHERE s.period IS NOT NULL\nORDER BY s.channel, s.period",
                    "options": {}
                }
            },
            {
                "id": "mnth-004",
                "name": "Query Forecast",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    1600,
                    -400
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "WITH hs AS (\n  SELECT qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY qoyod_source\n),\nspend AS (\n  SELECT channel, SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY channel\n)\nSELECT s.channel,\n  ROUND(s.spend,2) AS mtd_spend,\n  COALESCE(hs.leads,0) AS mtd_leads,\n  COALESCE(hs.sqls,0) AS mtd_sqls,\n  DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1 AS days_in_month,\n  DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1 AS days_elapsed,\n  ROUND(s.spend/(DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1),0) AS proj_spend_eom,\n  ROUND(COALESCE(hs.leads,0)/(DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE('Asia/Riyadh')),DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH),DAY)+1),0) AS proj_leads_eom,\n  'forecast' AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel\nORDER BY mtd_spend DESC",
                    "options": {}
                }
            },
            {
                "id": "mnth-005",
                "name": "Query CRO",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    1600,
                    0
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "WITH hs AS (\n  SELECT LOWER(lead_utm_campaign) AS k,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls,\n    SUM(leads_disqualified) AS disq\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY LOWER(lead_utm_campaign), qoyod_source\n),\nspend AS (\n  SELECT channel, LOWER(campaign_name) AS k, campaign_name,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\n  GROUP BY channel, LOWER(campaign_name), campaign_name\n)\nSELECT s.channel, s.campaign_name,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  COALESCE(hs.disq,0) AS disq,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.sqls,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS qual_rate_pct,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.disq,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS disq_rate_pct,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  'cro' AS _query\nFROM spend s\nLEFT JOIN hs ON s.k = hs.k\nWHERE COALESCE(hs.leads,0) >= 5\nORDER BY qual_rate_pct ASC LIMIT 20",
                    "options": {}
                }
            },
            {
                "id": "mnth-006",
                "name": "Query ROAS",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    1600,
                    400
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "SELECT channel,\n  ROUND(SUM(spend),2) AS spend,\n  ROUND(SUM(revenue_won),2) AS revenue_won,\n  ROUND(SAFE_DIVIDE(SUM(revenue_won),NULLIF(SUM(spend),0)),2) AS roas,\n  0 AS leads,\n  0 AS deals_won,\n  'roas' AS _query\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.paid_channel_daily`\nWHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH)\nGROUP BY channel ORDER BY roas DESC",
                    "options": {}
                }
            },
            {
                "id": "mnth-007",
                "name": "Query Monitor",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    1600,
                    800
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "SELECT action_type,target_name,channel,event_date,outcome,DATE_DIFF(CURRENT_DATE('Asia/Riyadh'),event_date,DAY) AS days_since,'monitor' AS _query FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log` WHERE event_date>=DATE_TRUNC(CURRENT_DATE('Asia/Riyadh'),MONTH) ORDER BY event_date DESC LIMIT 30",
                    "options": {}
                }
            },
            {
                "id": "mnth-008",
                "name": "Collect Queries",
                "type": "n8n-nodes-base.merge",
                "position": [
                    2400,
                    0
                ],
                "typeVersion": 3,
                "parameters": {
                    "mode": "append",
                    "numberInputs": 5
                }
            },
            {
                "id": "mnth-009",
                "name": "Build · monthly-analyst",
                "type": "n8n-nodes-base.code",
                "position": [
                    3200,
                    0
                ],
                "typeVersion": 2,
                "parameters": {
                    "jsCode": "const rows=$input.all().map(i=>i.json),compare=rows.filter(r=>r._query==='compare'),forecast=rows.filter(r=>r._query==='forecast'),cro=rows.filter(r=>r._query==='cro'),roas=rows.filter(r=>r._query==='roas'),monitor=rows.filter(r=>r._query==='monitor'),today=new Date().toLocaleDateString('en-US',{timeZone:'Asia/Riyadh',month:'long',year:'numeric'});return[{json:{system:'You are Nexa, Qoyod paid media agent. Monthly review for '+today+'. USD only. Slack mrkdwn. Strategic analysis: MoM trends, CRO quality, ROAS by channel, top strategic actions.',messages:[{role:'user',content:JSON.stringify({compare,forecast,cro,roas,monitor})}],tools:[{name:'monthly_digest',description:'Monthly performance digest',input_schema:{type:'object',required:['digest','actions'],properties:{digest:{type:'string'},actions:{type:'array',items:{type:'object',required:['title','description','priority'],properties:{title:{type:'string'},description:{type:'string'},priority:{type:'string',enum:['high','medium','low']},channel:{type:'string'},estimated_impact:{type:'string'}}}}}}}],tool_choice:{type:'any'}}}];"
                }
            },
            {
                "id": "mnth-010",
                "name": "Claude · monthly-analyst",
                "type": "n8n-nodes-base.httpRequest",
                "position": [
                    4000,
                    0
                ],
                "typeVersion": 4,
                "credentials": {
                    "anthropicApi": {
                        "id": "yLwrXNzxReOM4Fgn",
                        "name": "Anthropic account"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://api.anthropic.com/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "anthropicApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "anthropic-version",
                                "value": "2023-06-01"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                    "options": {}
                }
            },
            {
                "id": "mnth-011",
                "name": "Parse · monthly",
                "type": "n8n-nodes-base.code",
                "position": [
                    4800,
                    0
                ],
                "typeVersion": 2,
                "parameters": {
                    "jsCode": "const resp=$input.first().json,block=(resp.content||[]).find(b=>b.type==='tool_use'),out=block?.input||{},actions=out.actions||[],approvalsText=actions.map((a,i)=>(i+1)+'. *'+a.title+'* ['+a.priority+']\n'+a.description+(a.estimated_impact?'\n_Impact: '+a.estimated_impact+'_':'')).join('\n\n');return[{json:{digest:out.digest||'Monthly digest unavailable.',approvalsText:approvalsText||'No actions.',actions,reportType:'monthly',generatedAt:new Date().toISOString()}}];"
                }
            },
            {
                "id": "mnth-012",
                "name": "Post Slack · Monthly",
                "type": "n8n-nodes-base.httpRequest",
                "position": [
                    5600,
                    -200
                ],
                "typeVersion": 4,
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "YwdlGwXs943DQrfh",
                        "name": "Slack (Qoyod)"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_NOTIFY, text:$json.digest, unfurl_links:false }) }}",
                    "options": {}
                }
            },
            {
                "id": "mnth-013",
                "name": "Post Slack · Approvals",
                "type": "n8n-nodes-base.httpRequest",
                "position": [
                    5600,
                    200
                ],
                "typeVersion": 4,
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "YwdlGwXs943DQrfh",
                        "name": "Slack (Qoyod)"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_APPROVALS, text:'*Monthly Strategic Actions — ✅ approve / ❌ skip*\n\n'+$json.approvalsText, unfurl_links:false }) }}",
                    "options": {}
                }
            },
            {
                "id": "mnth-014",
                "name": "Expand Asana Tasks",
                "type": "n8n-nodes-base.code",
                "position": [
                    5600,
                    600
                ],
                "typeVersion": 2,
                "parameters": {
                    "jsCode": "const {actions}=$input.first().json,today=new Date().toLocaleDateString('en-US',{timeZone:'Asia/Riyadh'});return(actions||[]).map(a=>({json:{data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:a.title,notes:a.description+'\\n\\nChannel: '+(a.channel||'all')+'\\nPriority: '+(a.priority||'medium')+'\\nEstimated Impact: '+(a.estimated_impact||'N/A')+'\\nType: monthly-review\\nCreated: '+today,assignee:$vars.ASANA_ASSIGNEE_DEFAULT}}}));"
                }
            },
            {
                "id": "mnth-015",
                "name": "Create Asana Task",
                "type": "n8n-nodes-base.httpRequest",
                "position": [
                    6400,
                    600
                ],
                "typeVersion": 4,
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "iUYNax4N4UkcLiQB",
                        "name": "Asana (Qoyod)"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://app.asana.com/api/1.0/tasks",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json) }}",
                    "options": {}
                }
            },
            {
                "id": "mnth-016",
                "name": "Build Audit SQL",
                "type": "n8n-nodes-base.code",
                "position": [
                    6400,
                    -200
                ],
                "typeVersion": 2,
                "parameters": {
                    "jsCode": "const r=$input.first().json,proj=$vars.BQ_PROJECT,ds=$vars.BQ_DATASET;return[{json:{sql:`INSERT INTO \\`${proj}.${ds}.agent_activity_log\\` (action_type,target_name,channel,event_date,outcome,created_at) VALUES ('monthly_review','report','all',CURRENT_DATE('Asia/Riyadh'),'${r.reportType}_generated',CURRENT_TIMESTAMP())`}}];"
                }
            },
            {
                "id": "mnth-017",
                "name": "Audit Log → BQ",
                "type": "n8n-nodes-base.googleBigQuery",
                "position": [
                    7200,
                    -200
                ],
                "typeVersion": 2,
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": {
                        "__rl": true,
                        "mode": "expression",
                        "value": "={{ $vars.BQ_PROJECT }}"
                    },
                    "sqlQuery": "{{ $json.sql }}",
                    "options": {}
                }
            },
            {
                "id": "mnth-cr-01",
                "name": "BQ · Creative Report",
                "type": "n8n-nodes-base.googleBigQuery",
                "typeVersion": 2,
                "position": [
                    800,
                    1400
                ],
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": "={{ $vars.BQ_PROJECT }}",
                    "query": "SELECT channel, ad_name, ad_id,\n  SUM(clicks) AS clicks,\n  ROUND(SAFE_DIVIDE(SUM(clicks), NULLIF(SUM(impressions),0)),4) AS ctr,\n  SUM(leads_total) AS leads,\n  SUM(qualified) AS qualified_leads,\n  ROUND(SAFE_DIVIDE(SUM(qualified), NULLIF(SUM(leads_total),0)),4) AS qual_ratio,\n  ROUND(SAFE_DIVIDE(SUM(spend), NULLIF(SUM(leads_total),0)),2) AS cpl,\n  ROUND(SUM(spend),2) AS spend\nFROM `angular-axle-492812-q4.qoyod_marketing.v_ad_performance`\nWHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  AND leads_total > 0\nGROUP BY channel, ad_name, ad_id\nHAVING SUM(leads_total) >= 3\nORDER BY channel, qual_ratio DESC, cpl ASC",
                    "options": {}
                },
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                }
            },
            {
                "id": "mnth-cr-02",
                "name": "Code · Format Creative",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1600,
                    1400
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const fmt=t=>new Date(t).toLocaleString('sv',{timeZone:'Asia/Riyadh'}).split(' ')[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst monthLabel=new Date().toLocaleString('en',{timeZone:'Asia/Riyadh',month:'long',year:'numeric'});\nconst tabName='Creatives-'+today.slice(0,7);\nconst classify=r=>{if(r.qual_ratio>0.50&&r.cpl<=25)return'Winner';if(r.qual_ratio>0.50)return'Optimise';return'Underperformer';};\nconst rows=$input.all().map(i=>{const d=i.json;return[d.channel||'',d.ad_name||'',d.ad_id||'',d.clicks||0,d.ctr||0,d.leads||0,d.qualified_leads||0,d.qual_ratio||0,d.cpl||0,d.spend||0,classify(d)];});\nconst headers=['channel','ad_name','ad_id','clicks','ctr','leads','qualified_leads','qual_ratio','cpl','spend','status'];\nconst sheetLink='https://docs.google.com/spreadsheets/d/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg';\nconst winners=rows.filter(r=>r[10]==='Winner').map(r=>r[0]+': '+r[1]+' — '+(r[7]*100).toFixed(0)+'% qual, $'+r[8]+' CPL').join('\\n')||'None';\nconst under=rows.filter(r=>r[10]==='Underperformer'&&(r[7]===0||r[8]>50)).map(r=>r[0]+': '+r[1]+' ($'+r[8]+' CPL, '+(r[7]*100).toFixed(0)+'% qual)').join('\\n')||'None';\nconst notes='WINNING CREATIVES — '+monthLabel+'\\nSheet: '+sheetLink+'\\n\\nTOP WINNERS:\\n'+winners+'\\n\\nUNDERPERFORMERS:\\n'+under+'\\n\\n---\\nCreated: '+today+' | Due: '+due+' | Priority: Medium | Type: Recommendation | Channel: all | Asset level: ad | Action: optimize → [Creative Strategist]';\nreturn [{json:{rows,headers,tabName,sheetLink,today,due,monthLabel,notes}}];"
                }
            },
            {
                "id": "mnth-cr-03",
                "name": "Sheets · Create Creative Tab",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    2400,
                    1400
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg:batchUpdate",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "googleSheetsOAuth2Api",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({requests:[{addSheet:{properties:{title:$('Code · Format Creative').first().json.tabName}}}]}) }}",
                    "options": {}
                },
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "kBgcDkRIN5tMoACU",
                        "name": "Google Sheets OAuth2 API"
                    }
                }
            },
            {
                "id": "mnth-cr-04",
                "name": "Sheets · Write Creative Rows",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    3200,
                    1400
                ],
                "parameters": {
                    "method": "POST",
                    "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg/values/'+encodeURIComponent($('Code · Format Creative').first().json.tabName)+':append?valueInputOption=RAW' }}",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "googleSheetsOAuth2Api",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({values:[$('Code · Format Creative').first().json.headers,...$('Code · Format Creative').first().json.rows]}) }}",
                    "options": {}
                },
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "kBgcDkRIN5tMoACU",
                        "name": "Google Sheets OAuth2 API"
                    }
                }
            },
            {
                "id": "mnth-cr-05",
                "name": "Asana · Creative Report Monthly",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    4000,
                    1400
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://app.asana.com/api/1.0/tasks",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:'WINNING CREATIVES — '+$('Code · Format Creative').first().json.monthLabel,notes:$('Code · Format Creative').first().json.notes,due_on:$('Code · Format Creative').first().json.due}}) }}",
                    "options": {}
                },
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "iUYNax4N4UkcLiQB",
                        "name": "Asana (Qoyod)"
                    }
                }
            },
            {
                "id": "mnth-lp-01",
                "name": "BQ · LP Brief",
                "type": "n8n-nodes-base.googleBigQuery",
                "typeVersion": 2,
                "position": [
                    800,
                    1900
                ],
                "parameters": {
                    "authentication": "serviceAccount",
                    "projectId": "={{ $vars.BQ_PROJECT }}",
                    "query": "WITH hs AS (\n  SELECT lead_utm_campaign, SUM(leads_total) AS leads, SUM(leads_qualified) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 1 MONTH), MONTH)\n  GROUP BY lead_utm_campaign\n), lp AS (\n  SELECT destination_url, MIN(c.campaign_name) AS sample_campaign,\n    SUM(c.spend) AS spend, SUM(c.clicks) AS clicks,\n    SUM(COALESCE(h.leads,0)) AS leads, SUM(COALESCE(h.sqls,0)) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.campaigns_daily` c\n  LEFT JOIN hs h ON LOWER(c.campaign_name) = LOWER(h.lead_utm_campaign)\n  WHERE DATE_TRUNC(c.date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 1 MONTH), MONTH)\n    AND c.destination_url IS NOT NULL\n  GROUP BY destination_url\n)\nSELECT destination_url, sample_campaign,\n  ROUND(spend,2) AS spend_usd, clicks, leads, sqls,\n  ROUND(SAFE_DIVIDE(leads,NULLIF(clicks,0))*100,2) AS cvr_pct,\n  ROUND(SAFE_DIVIDE(spend,NULLIF(sqls,0)),2) AS cpql_usd\nFROM lp WHERE sqls > 0\nORDER BY sqls DESC LIMIT 1",
                    "options": {}
                },
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                }
            },
            {
                "id": "mnth-lp-02",
                "name": "Code · Format LP Brief",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1600,
                    1900
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "const fmt=t=>new Date(t).toLocaleString('sv',{timeZone:'Asia/Riyadh'}).split(' ')[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst all=$input.all();\nif(!all.length||!all[0].json.destination_url){return [{json:{skip:true,notes:'Monthly LP brief skipped — no SQLs last month.\\n\\n---\\nCreated: '+today}}];}\nconst d=all[0].json;\nconst ym=today.slice(0,7);\nconst channel=d.sample_campaign?.split('_')[0]||'All';\nconst notes='[DRAFT] LP DUPLICATE BRIEF — '+ym+' Winner: '+d.destination_url+'\\n\\nWINNING LP: '+d.destination_url+' | SQLs: '+d.sqls+' | Leads: '+d.leads+' | CVR: '+d.cvr_pct+'% | CPQL: $'+d.cpql_usd+'\\n\\nHYPOTHESIS: A duplicate of '+d.destination_url+' with refreshed hero + CTA will match or beat $'+d.cpql_usd+' CPQL within 14 days.\\n\\nWHY DUPLICATE: LP already converts — preserve structure, refresh creative only. Same form, same ZATCA badge above fold.\\n\\nVARIANT CHANGES: hero image | H1 alternative | CTA text only. No structural changes.\\n\\nSUCCESS CRITERION: CPQL ≤ $'+d.cpql_usd+' after 14 days. Min 50 leads per variant.\\n\\nZATCA BADGE: above fold, non-negotiable. UI/UX to confirm desktop + mobile (375px).\\n\\n---\\nCreated: '+today+' | Due: '+due+' | Priority: Normal | Type: LP Duplicate | Channel: '+channel+' | Asset level: LP';\nreturn [{json:{skip:false,title:'[DRAFT] LP Duplicate Brief — '+ym+' Winner: '+d.destination_url,notes,due}}];"
                }
            },
            {
                "id": "mnth-lp-03",
                "name": "Asana · LP Draft Monthly",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    2400,
                    1900
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://app.asana.com/api/1.0/tasks",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[$vars.ASANA_PROJECT_PAID],name:$('Code · Format LP Brief').first().json.title||'Monthly LP brief skipped',notes:$('Code · Format LP Brief').first().json.notes,due_on:$('Code · Format LP Brief').first().json.due||undefined}}) }}",
                    "options": {}
                },
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "iUYNax4N4UkcLiQB",
                        "name": "Asana (Qoyod)"
                    }
                }
            },
            {
                "id": "m-bq-fresh-001",
                "name": "BQ · Freshness Check",
                "type": "n8n-nodes-base.googleBigQuery",
                "typeVersion": 2,
                "position": [
                    400,
                    0
                ],
                "credentials": {
                    "googleApi": {
                        "id": "kE5RxM61mQkpV21N",
                        "name": "BigQuery (Qoyod)"
                    }
                },
                "parameters": {
                    "operation": "executeQuery",
                    "projectId": "={{$vars.BQ_PROJECT}}",
                    "sqlQuery": "SELECT FORMAT_DATE('%Y-%m-%d', MAX(date)) as latest_date, DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) as days_stale FROM `{{$vars.BQ_PROJECT}}.{{$vars.BQ_DATASET}}.campaigns_daily`",
                    "options": {},
                    "authentication": "serviceAccount"
                }
            },
            {
                "id": "m-if-fresh-001",
                "name": "IF · Data Fresh?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    600,
                    0
                ],
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "fc",
                                "leftValue": "={{$json.days_stale}}",
                                "rightValue": 1,
                                "operator": {
                                    "type": "number",
                                    "operation": "lte"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                }
            },
            {
                "id": "m-slack-stale-001",
                "name": "Slack · Stale Data Alert",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    800,
                    -300
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "YwdlGwXs943DQrfh",
                        "name": "Slack (Qoyod)"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "genericCredentialType",
                    "nodeCredentialType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel: $vars.SLACK_CHANNEL_NOTIFY || \"#data-health\", text: \"⚠️ *BQ data stale* — `campaigns_daily` MAX(date) is *\" + $json.latest_date + \"* (\" + $json.days_stale + \" days behind). Monthly review skipped.\", unfurl_links: false }) }}",
                    "options": {}
                }
            },
            {
                "id": "m-build-perf-001",
                "name": "Build · performance-lead",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    4500,
                    0
                ],
                "parameters": {
                    "jsCode": "// Build prompt for performance-lead — takes growth-analyst output as context\nconst resp = $input.first().json;\nconst block = (resp.content || []).find(b => b.type === 'tool_use');\nconst analysis = block?.input || {};\n\nconst systemPrompt = 'You are the Performance Lead at Qoyod. Review the Growth Analyst weekly report and add strategic context. ' +\n  'Validate findings, escalate CPQL regressions (>$160 = pause; $130-160 = warning), identify cross-channel patterns, ' +\n  'add a 1-paragraph executive summary, and confirm or override analyst actions with reasoning. ' +\n  'CPQL zones: scale <$85 | acceptable $85-$130 | warning $130-$160 | pause >$160. ' +\n  'Min 14-day window for pause/scale. Spend in USD.';\n\nconst digest = analysis.digest || JSON.stringify(analysis).slice(0, 3000);\n\nconst tools = [{\n  name: 'weekly_digest',\n  description: 'Weekly digest — performance-lead final review',\n  input_schema: {\n    type: 'object',\n    required: ['digest', 'actions'],\n    properties: {\n      digest: {type: 'string'},\n      actions: {type: 'array', items: {type: 'object', required: ['title','description','priority'],\n        properties: {title:{type:'string'}, description:{type:'string'}, priority:{type:'string',enum:['high','medium','low']}, channel:{type:'string'}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: 'user', content: 'Growth Analyst report:\\n\\n' + digest + '\\n\\nProvide your strategic review.'}],\n  tools,\n  tool_choice: {type: 'required'}\n}}];"
                }
            },
            {
                "id": "m-claude-perf-001",
                "name": "Claude · performance-lead",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4800,
                    0
                ],
                "credentials": {
                    "anthropicApi": {
                        "id": "yLwrXNzxReOM4Fgn",
                        "name": "Anthropic account"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://api.anthropic.com/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "anthropicApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "anthropic-version",
                                "value": "2023-06-01"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                    "options": {}
                }
            },
            {
                "id": "m-build-creative-001",
                "name": "Build · creative-strategist",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2400,
                    1400
                ],
                "parameters": {
                    "jsCode": "// Build prompt for creative-strategist — analyzes formatted creative report data\nconst rows = $input.all().map(i => i.json);\n\nconst systemPrompt = 'You are the Creative Strategist at Qoyod. Analyze this month creative performance data. ' +\n  'Identify top-performing creatives (qual_ratio > 0.50 AND CPL <= $25), underperformers, and optimization opportunities. ' +\n  'Classify each creative: Winner = qual_ratio>0.50 AND CPL<=$25 | Optimise = qual_ratio>0.50 AND CPL>$25 | Underperformer = qual_ratio<=0.50. ' +\n  'Provide actionable creative briefs for next month (new angle for winners, revision notes for optimise, kill for underperformers). ' +\n  'Respond using the creative_report tool.';\n\nconst creativeData = rows.map(r => \n  (r.creative_name || r.ad_name || 'unknown') + ': CPL=$' + (r.cpl || 0).toFixed(2) + \n  ', qual_ratio=' + (r.qual_ratio || 0).toFixed(2) + \n  ', leads=' + (r.leads_total || 0) + ', sqls=' + (r.leads_qualified || 0)\n).join('\\n');\n\nconst tools = [{\n  name: 'creative_report',\n  description: 'Creative strategist monthly report',\n  input_schema: {\n    type: 'object', required: ['summary', 'creatives'],\n    properties: {\n      summary: {type: 'string', description: 'Executive summary of creative performance'},\n      creatives: {type: 'array', items: {type: 'object', required: ['name','classification','recommendation'],\n        properties: {name:{type:'string'}, classification:{type:'string',enum:['winner','optimise','underperformer']}, \n          cpl:{type:'number'}, qual_ratio:{type:'number'}, recommendation:{type:'string'}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: 'user', content: 'Creative performance this month:\\n\\n' + creativeData}],\n  tools,\n  tool_choice: {type: 'required'},\n  original_rows: rows\n}}];"
                }
            },
            {
                "id": "m-claude-creative-001",
                "name": "Claude · creative-strategist",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2800,
                    1400
                ],
                "credentials": {
                    "anthropicApi": {
                        "id": "yLwrXNzxReOM4Fgn",
                        "name": "Anthropic account"
                    }
                },
                "parameters": {
                    "method": "POST",
                    "url": "https://api.anthropic.com/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "anthropicApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "anthropic-version",
                                "value": "2023-06-01"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}",
                    "options": {}
                }
            }
        ],
        "connections": {
            "Schedule · Monthly": {
                "main": [
                    [
                        {
                            "node": "BQ · Freshness Check",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Dates · Monthly": {
                "main": [
                    [
                        {
                            "node": "Query Period Compare",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Query Forecast",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Query CRO",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Query ROAS",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Query Monitor",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Query Period Compare": {
                "main": [
                    [
                        {
                            "node": "Collect Queries",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Query Forecast": {
                "main": [
                    [
                        {
                            "node": "Collect Queries",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Query CRO": {
                "main": [
                    [
                        {
                            "node": "Collect Queries",
                            "type": "main",
                            "index": 2
                        }
                    ]
                ]
            },
            "Query ROAS": {
                "main": [
                    [
                        {
                            "node": "Collect Queries",
                            "type": "main",
                            "index": 3
                        }
                    ]
                ]
            },
            "Query Monitor": {
                "main": [
                    [
                        {
                            "node": "Collect Queries",
                            "type": "main",
                            "index": 4
                        }
                    ]
                ]
            },
            "Collect Queries": {
                "main": [
                    [
                        {
                            "node": "Build · monthly-analyst",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build · monthly-analyst": {
                "main": [
                    [
                        {
                            "node": "Claude · monthly-analyst",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude · monthly-analyst": {
                "main": [
                    [
                        {
                            "node": "Build · performance-lead",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse · monthly": {
                "main": [
                    [
                        {
                            "node": "Post Slack · Monthly",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Post Slack · Approvals",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Expand Asana Tasks",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Build Audit SQL",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Expand Asana Tasks": {
                "main": [
                    [
                        {
                            "node": "Create Asana Task",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Audit SQL": {
                "main": [
                    [
                        {
                            "node": "Audit Log → BQ",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "BQ · Creative Report": {
                "main": [
                    [
                        {
                            "node": "Code · Format Creative",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code · Format Creative": {
                "main": [
                    [
                        {
                            "node": "Build · creative-strategist",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Sheets · Create Creative Tab": {
                "main": [
                    [
                        {
                            "node": "Sheets · Write Creative Rows",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Sheets · Write Creative Rows": {
                "main": [
                    [
                        {
                            "node": "Asana · Creative Report Monthly",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "BQ · LP Brief": {
                "main": [
                    [
                        {
                            "node": "Code · Format LP Brief",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code · Format LP Brief": {
                "main": [
                    [
                        {
                            "node": "Asana · LP Draft Monthly",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "BQ · Freshness Check": {
                "main": [
                    [
                        {
                            "node": "IF · Data Fresh?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "IF · Data Fresh?": {
                "main": [
                    [
                        {
                            "node": "Set Dates · Monthly",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "BQ · Creative Report",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "BQ · LP Brief",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Slack · Stale Data Alert",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build · performance-lead": {
                "main": [
                    [
                        {
                            "node": "Claude · performance-lead",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude · performance-lead": {
                "main": [
                    [
                        {
                            "node": "Parse · monthly",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build · creative-strategist": {
                "main": [
                    [
                        {
                            "node": "Claude · creative-strategist",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude · creative-strategist": {
                "main": [
                    [
                        {
                            "node": "Sheets · Create Creative Tab",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "nodeGroups": [],
        "authors": "Mohamed Irshaid",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-06-17T07:59:51.009Z",
                "id": 67,
                "workflowId": "0Zh45UoTtjjhRn8U",
                "versionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
                "event": "activated",
                "userId": "2a6e0304-07da-4c79-a506-3c92b5981bd1"
            },
            {
                "createdAt": "2026-06-17T08:22:19.011Z",
                "id": 75,
                "workflowId": "0Zh45UoTtjjhRn8U",
                "versionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
                "event": "activated",
                "userId": "2a6e0304-07da-4c79-a506-3c92b5981bd1"
            },
            {
                "createdAt": "2026-06-17T08:22:18.967Z",
                "id": 74,
                "workflowId": "0Zh45UoTtjjhRn8U",
                "versionId": "767a9c8d-4b0e-436b-8e1b-7e16deb7b53b",
                "event": "deactivated",
                "userId": "2a6e0304-07da-4c79-a506-3c92b5981bd1"
            }
        ]
    }
}