n8n/workflows/cadence_monthly.json
{"updatedAt":"2026-06-17T08:22:18.903Z","createdAt":"2026-06-15T10:53:46.856Z","id":"0Zh45UoTtjjhRn8U","name":"Nexa · [Cadence] Monthly Report","description":null,"active":true,"isArchived":false,"nodes":[{"id":"mnth-001","name":"Schedule · Monthly","type":"n8n-nodes-base.scheduleTrigger","position":[0,0],"typeVersion":1,"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 1 * *"}]}}},{"id":"mnth-002","name":"Set Dates · Monthly","type":"n8n-nodes-base.code","position":[800,0],"typeVersion":2,"parameters":{"jsCode":"const tz=\u0027Asia/Riyadh\u0027,now=new Date(new Date().toLocaleString(\u0027en-US\u0027,{timeZone:tz})),fmt=d=\u003ed.toISOString().slice(0,10),mtdStart=new Date(now.getFullYear(),now.getMonth(),1),prevStart=new Date(now.getFullYear(),now.getMonth()-1,1),prevEnd=new Date(now.getFullYear(),now.getMonth(),0);return[{json:{mtdStart:fmt(mtdStart),today:fmt(now),prevMonthStart:fmt(prevStart),prevMonthEnd:fmt(prevEnd),monthLabel:now.toLocaleDateString(\u0027en-US\u0027,{timeZone:tz,month:\u0027long\u0027,year:\u0027numeric\u0027}),reportType:\u0027monthly\u0027}}];"}},{"id":"mnth-003","name":"Query Period Compare","type":"n8n-nodes-base.googleBigQuery","position":[1600,-800],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH) THEN \u0027prior_month\u0027\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) THEN \u0027this_month\u0027\n    END AS period,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date \u003e= DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH)\n  GROUP BY period, qoyod_source\n),\nspend AS (\n  SELECT\n    channel,\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH) THEN \u0027prior_month\u0027\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) THEN \u0027this_month\u0027\n    END AS period,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE date \u003e= DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH)\n  GROUP BY channel, period\n)\nSELECT s.channel, s.period,\n  ROUND(s.spend,2) AS spend,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.leads,0),0)),2) AS cpl,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  \u0027compare\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel AND s.period = hs.period\nWHERE s.period IS NOT NULL\nORDER BY s.channel, s.period","options":{}}},{"id":"mnth-004","name":"Query Forecast","type":"n8n-nodes-base.googleBigQuery","position":[1600,-400],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY qoyod_source\n),\nspend AS (\n  SELECT channel, SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY channel\n)\nSELECT s.channel,\n  ROUND(s.spend,2) AS mtd_spend,\n  COALESCE(hs.leads,0) AS mtd_leads,\n  COALESCE(hs.sqls,0) AS mtd_sqls,\n  DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1 AS days_in_month,\n  DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1 AS days_elapsed,\n  ROUND(s.spend/(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1),0) AS proj_spend_eom,\n  ROUND(COALESCE(hs.leads,0)/(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1),0) AS proj_leads_eom,\n  \u0027forecast\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel\nORDER BY mtd_spend DESC","options":{}}},{"id":"mnth-005","name":"Query CRO","type":"n8n-nodes-base.googleBigQuery","position":[1600,0],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT LOWER(lead_utm_campaign) AS k,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls,\n    SUM(leads_disqualified) AS disq\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY LOWER(lead_utm_campaign), qoyod_source\n),\nspend AS (\n  SELECT channel, LOWER(campaign_name) AS k, campaign_name,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY channel, LOWER(campaign_name), campaign_name\n)\nSELECT s.channel, s.campaign_name,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  COALESCE(hs.disq,0) AS disq,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.sqls,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS qual_rate_pct,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.disq,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS disq_rate_pct,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  \u0027cro\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.k = hs.k\nWHERE COALESCE(hs.leads,0) \u003e= 5\nORDER BY qual_rate_pct ASC LIMIT 20","options":{}}},{"id":"mnth-006","name":"Query ROAS","type":"n8n-nodes-base.googleBigQuery","position":[1600,400],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"SELECT channel,\n  ROUND(SUM(spend),2) AS spend,\n  ROUND(SUM(revenue_won),2) AS revenue_won,\n  ROUND(SAFE_DIVIDE(SUM(revenue_won),NULLIF(SUM(spend),0)),2) AS roas,\n  0 AS leads,\n  0 AS deals_won,\n  \u0027roas\u0027 AS _query\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.paid_channel_daily`\nWHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\nGROUP BY channel ORDER BY roas DESC","options":{}}},{"id":"mnth-007","name":"Query Monitor","type":"n8n-nodes-base.googleBigQuery","position":[1600,800],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"SELECT action AS action_type,campaign_name AS target_name,channel,DATE(ts,\u0027Asia/Riyadh\u0027) AS event_date,status AS outcome,DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE(ts,\u0027Asia/Riyadh\u0027),DAY) AS days_since,\u0027monitor\u0027 AS _query FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log` WHERE DATE(ts,\u0027Asia/Riyadh\u0027)\u003e=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) ORDER BY ts DESC LIMIT 30","options":{}}},{"id":"mnth-008","name":"Collect Queries","type":"n8n-nodes-base.merge","position":[2400,0],"typeVersion":3,"parameters":{"mode":"append","numberInputs":5}},{"id":"mnth-009","name":"Build · monthly-analyst","type":"n8n-nodes-base.code","position":[3200,0],"typeVersion":2,"parameters":{"jsCode":"const rows=$input.all().map(i=\u003ei.json),compare=rows.filter(r=\u003er._query===\u0027compare\u0027),forecast=rows.filter(r=\u003er._query===\u0027forecast\u0027),cro=rows.filter(r=\u003er._query===\u0027cro\u0027),roas=rows.filter(r=\u003er._query===\u0027roas\u0027),monitor=rows.filter(r=\u003er._query===\u0027monitor\u0027),today=new Date().toLocaleDateString(\u0027en-US\u0027,{timeZone:\u0027Asia/Riyadh\u0027,month:\u0027long\u0027,year:\u0027numeric\u0027});return[{json:{system:\u0027You are Nexa, Qoyod paid media agent. Monthly review for \u0027+today+\u0027. USD only. Slack mrkdwn. Strategic analysis: MoM trends, CRO quality, ROAS by channel, top strategic actions.\u0027,messages:[{role:\u0027user\u0027,content:JSON.stringify({compare,forecast,cro,roas,monitor})}],tools:[{name:\u0027monthly_digest\u0027,description:\u0027Monthly performance digest\u0027,input_schema:{type:\u0027object\u0027,required:[\u0027digest\u0027,\u0027actions\u0027],properties:{digest:{type:\u0027string\u0027},actions:{type:\u0027array\u0027,items:{type:\u0027object\u0027,required:[\u0027title\u0027,\u0027description\u0027,\u0027priority\u0027],properties:{title:{type:\u0027string\u0027},description:{type:\u0027string\u0027},priority:{type:\u0027string\u0027,enum:[\u0027high\u0027,\u0027medium\u0027,\u0027low\u0027]},channel:{type:\u0027string\u0027},estimated_impact:{type:\u0027string\u0027}}}}}}}],tool_choice:{type:\u0027any\u0027}}}];"}},{"id":"mnth-010","name":"Claude · monthly-analyst","type":"n8n-nodes-base.httpRequest","position":[4000,0],"typeVersion":4,"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}},{"id":"mnth-011","name":"Parse · monthly","type":"n8n-nodes-base.code","position":[4800,0],"typeVersion":2,"parameters":{"jsCode":"const resp=$input.first().json,block=(resp.content||[]).find(b=\u003eb.type===\u0027tool_use\u0027),out=block?.input||{},actions=out.actions||[],approvalsText=actions.map((a,i)=\u003e(i+1)+\u0027. *\u0027+a.title+\u0027* [\u0027+a.priority+\u0027]\\n\u0027+a.description+(a.estimated_impact?\u0027\\n_Impact: \u0027+a.estimated_impact+\u0027_\u0027:\u0027\u0027)).join(\u0027\\n\\n\u0027);return[{json:{digest:out.digest||\u0027Monthly digest unavailable.\u0027,approvalsText:approvalsText||\u0027No actions.\u0027,actions,reportType:\u0027monthly\u0027,generatedAt:new Date().toISOString()}}];"}},{"id":"mnth-012","name":"Post Slack · Monthly","type":"n8n-nodes-base.httpRequest","position":[5600,-200],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_NOTIFY, text:$json.digest, unfurl_links:false }) }}","options":{}},"disabled":true},{"id":"mnth-013","name":"Post Slack · Approvals","type":"n8n-nodes-base.httpRequest","position":[5600,200],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","options":{},"jsonBody":"={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_APPROVALS, text:\"📋 Monthly Review | \"+$json.actions.length+\" actions created\\n\"+$json.actions.filter(a=\u003ea.priority===\u0027high\u0027).length+\" high · \"+$json.actions.filter(a=\u003ea.priority===\u0027medium\u0027).length+\" medium · \"+$json.actions.filter(a=\u003ea.priority===\u0027low\u0027).length+\" low\\nAll detail in Asana tasks.\", unfurl_links:false }) }}"}},{"id":"mnth-014","name":"Expand Asana Tasks","type":"n8n-nodes-base.code","position":[5600,600],"typeVersion":2,"parameters":{"jsCode":"const {actions}=$input.first().json,today=new Date().toLocaleDateString(\u0027en-US\u0027,{timeZone:\u0027Asia/Riyadh\u0027});const channelMap={\u0027Meta\u0027:\u00271213280413868927\u0027,\u0027Google\u0027:\u00271213239419217795\u0027,\u0027Google Ads\u0027:\u00271213239419217795\u0027,\u0027Snapchat\u0027:\u00271214135546324721\u0027,\u0027TikTok\u0027:\u00271214135614950965\u0027,\u0027Microsoft Ads\u0027:\u00271213294555250809\u0027,\u0027Microsoft\u0027:\u00271213294555250809\u0027,\u0027Bing\u0027:\u00271213294555250809\u0027,\u0027HubSpot\u0027:\u00271214135615075674\u0027};return(actions||[]).map(a=\u003e{const ch=a.channel||\u0027\u0027;const projectGid=channelMap[ch]||\u00271214135581886045\u0027;return{json:{data:{workspace:$vars.ASANA_WORKSPACE,projects:[projectGid],name:a.title,notes:a.description+\u0027\\n\\nChannel: \u0027+(ch||\u0027all\u0027)+\u0027\\nPriority: \u0027+(a.priority||\u0027medium\u0027)+\u0027\\nEstimated Impact: \u0027+(a.estimated_impact||\u0027N/A\u0027)+\u0027\\nType: monthly-review\\nCreated: \u0027+today,assignee:$vars.ASANA_ASSIGNEE_DEFAULT}}}});"}},{"id":"mnth-015","name":"Create Asana Task","type":"n8n-nodes-base.httpRequest","position":[6400,600],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}},"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"mnth-016","name":"Build Audit SQL","type":"n8n-nodes-base.code","position":[6400,-200],"typeVersion":2,"parameters":{"jsCode":"const r=$input.first().json,proj=$vars.BQ_PROJECT,ds=$vars.BQ_DATASET;const rt=(r.reportType||\u0027monthly\u0027).replace(/\u0027/g,\"\\\u0027\u0027\");return[{json:{sql:`INSERT INTO \\`${proj}.${ds}.agent_activity_log\\` (activity_id,ts,session_id,role,action,status,channel,campaign_name,details) VALUES (GENERATE_UUID(),CURRENT_TIMESTAMP(),\u0027n8n-monthly\u0027,\u0027llm_cadence\u0027,\u0027monthly_review\u0027,\u0027success\u0027,\u0027all\u0027,\u0027report\u0027,TO_JSON_STRING(JSON_OBJECT(\u0027reportType\u0027,\u0027${rt}\u0027)))`}}];"}},{"id":"mnth-017","name":"Audit Log → BQ","type":"n8n-nodes-base.googleBigQuery","position":[7200,-200],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"{{ $json.sql }}","options":{}}},{"id":"mnth-cr-01","name":"BQ · Creative Report","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[800,1400],"parameters":{"authentication":"serviceAccount","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"SELECT channel, ad_name, ad_id,\n  SUM(clicks) AS clicks,\n  ROUND(SAFE_DIVIDE(SUM(clicks), NULLIF(SUM(impressions),0)),4) AS ctr,\n  SUM(leads_total) AS leads,\n  SUM(qualified) AS qualified_leads,\n  ROUND(SAFE_DIVIDE(SUM(qualified), NULLIF(SUM(leads_total),0)),4) AS qual_ratio,\n  ROUND(SAFE_DIVIDE(SUM(spend), NULLIF(SUM(leads_total),0)),2) AS cpl,\n  ROUND(SUM(spend),2) AS spend\nFROM `angular-axle-492812-q4.qoyod_marketing.v_ad_performance`\nWHERE date \u003e= DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 30 DAY)\n  AND leads_total \u003e 0\nGROUP BY channel, ad_name, ad_id\nHAVING SUM(leads_total) \u003e= 3\nORDER BY channel, qual_ratio DESC, cpl ASC","options":{}},"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}}},{"id":"mnth-cr-02","name":"Code · Format Creative","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const fmt=t=\u003enew Date(t).toLocaleString(\u0027sv\u0027,{timeZone:\u0027Asia/Riyadh\u0027}).split(\u0027 \u0027)[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst monthLabel=new Date().toLocaleString(\u0027en\u0027,{timeZone:\u0027Asia/Riyadh\u0027,month:\u0027long\u0027,year:\u0027numeric\u0027});\nconst tabName=\u0027Creatives-\u0027+today.slice(0,7);\nconst classify=r=\u003e{if(r.qual_ratio\u003e0.50\u0026\u0026r.cpl\u003c=25)return\u0027Winner\u0027;if(r.qual_ratio\u003e0.50)return\u0027Optimise\u0027;return\u0027Underperformer\u0027;};\nconst rows=$input.all().map(i=\u003e{const d=i.json;return[d.channel||\u0027\u0027,d.ad_name||\u0027\u0027,d.ad_id||\u0027\u0027,d.clicks||0,d.ctr||0,d.leads||0,d.qualified_leads||0,d.qual_ratio||0,d.cpl||0,d.spend||0,classify(d)];});\nconst headers=[\u0027channel\u0027,\u0027ad_name\u0027,\u0027ad_id\u0027,\u0027clicks\u0027,\u0027ctr\u0027,\u0027leads\u0027,\u0027qualified_leads\u0027,\u0027qual_ratio\u0027,\u0027cpl\u0027,\u0027spend\u0027,\u0027status\u0027];\nconst sheetLink=\u0027https://docs.google.com/spreadsheets/d/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg\u0027;\nconst winners=rows.filter(r=\u003er[10]===\u0027Winner\u0027).map(r=\u003er[0]+\u0027: \u0027+r[1]+\u0027 — \u0027+(r[7]*100).toFixed(0)+\u0027% qual, $\u0027+r[8]+\u0027 CPL\u0027).join(\u0027\\n\u0027)||\u0027None\u0027;\nconst under=rows.filter(r=\u003er[10]===\u0027Underperformer\u0027\u0026\u0026(r[7]===0||r[8]\u003e50)).map(r=\u003er[0]+\u0027: \u0027+r[1]+\u0027 ($\u0027+r[8]+\u0027 CPL, \u0027+(r[7]*100).toFixed(0)+\u0027% qual)\u0027).join(\u0027\\n\u0027)||\u0027None\u0027;\nconst notes=\u0027WINNING CREATIVES — \u0027+monthLabel+\u0027\\nSheet: \u0027+sheetLink+\u0027\\n\\nTOP WINNERS:\\n\u0027+winners+\u0027\\n\\nUNDERPERFORMERS:\\n\u0027+under+\u0027\\n\\n---\\nCreated: \u0027+today+\u0027 | Due: \u0027+due+\u0027 | Priority: Medium | Type: Recommendation | Channel: all | Asset level: ad | Action: optimize → [Creative Strategist]\u0027;\nreturn [{json:{rows,headers,tabName,sheetLink,today,due,monthLabel,notes}}];"}},{"id":"mnth-cr-03","name":"Sheets · Create Creative Tab","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2400,1400],"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({requests:[{addSheet:{properties:{title:$(\u0027Code · Format Creative\u0027).first().json.tabName}}}]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"kBgcDkRIN5tMoACU","name":"Google Sheets OAuth2 API"}}},{"id":"mnth-cr-04","name":"Sheets · Write Creative Rows","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3200,1400],"parameters":{"method":"POST","url":"={{ \u0027https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg/values/\u0027+encodeURIComponent($(\u0027Code · Format Creative\u0027).first().json.tabName)+\u0027:append?valueInputOption=RAW\u0027 }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({values:[$(\u0027Code · Format Creative\u0027).first().json.headers,...$(\u0027Code · Format Creative\u0027).first().json.rows]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"kBgcDkRIN5tMoACU","name":"Google Sheets OAuth2 API"}}},{"id":"mnth-cr-05","name":"Asana · Creative Report Monthly","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[4000,1400],"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[\u00271214135581886045\u0027],name:\u0027WINNING CREATIVES — \u0027+$(\u0027Code · Format Creative\u0027).first().json.monthLabel,notes:$(\u0027Code · Format Creative\u0027).first().json.notes,due_on:$(\u0027Code · Format Creative\u0027).first().json.due}}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}}},{"id":"mnth-lp-01","name":"BQ · LP Brief","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[800,1900],"parameters":{"authentication":"serviceAccount","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"WITH hs AS (\n  SELECT lead_utm_campaign, SUM(leads_total) AS leads, SUM(leads_qualified) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 1 MONTH), MONTH)\n  GROUP BY lead_utm_campaign\n), lp AS (\n  SELECT final_url, MIN(c.campaign_name) AS sample_campaign,\n    SUM(c.spend) AS spend, SUM(c.clicks) AS clicks,\n    SUM(COALESCE(h.leads,0)) AS leads, SUM(COALESCE(h.sqls,0)) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.campaigns_daily` c\n  LEFT JOIN hs h ON LOWER(c.campaign_name) = LOWER(h.lead_utm_campaign)\n  WHERE DATE_TRUNC(c.date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 1 MONTH), MONTH)\n    AND c.final_url IS NOT NULL\n  GROUP BY final_url\n)\nSELECT final_url AS destination_url, sample_campaign,\n  ROUND(spend,2) AS spend_usd, clicks, leads, sqls,\n  ROUND(SAFE_DIVIDE(leads,NULLIF(clicks,0))*100,2) AS cvr_pct,\n  ROUND(SAFE_DIVIDE(spend,NULLIF(sqls,0)),2) AS cpql_usd\nFROM lp WHERE sqls \u003e 0\nORDER BY sqls DESC LIMIT 1","options":{}},"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}}},{"id":"mnth-lp-02","name":"Code · Format LP Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1900],"parameters":{"mode":"runOnceForAllItems","jsCode":"const fmt=t=\u003enew Date(t).toLocaleString(\u0027sv\u0027,{timeZone:\u0027Asia/Riyadh\u0027}).split(\u0027 \u0027)[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst all=$input.all();\nif(!all.length||!all[0].json.destination_url){return [{json:{skip:true,notes:\u0027Monthly LP brief skipped — no SQLs last month.\\n\\n---\\nCreated: \u0027+today}}];}\nconst d=all[0].json;\nconst ym=today.slice(0,7);\nconst channel=d.sample_campaign?.split(\u0027_\u0027)[0]||\u0027All\u0027;\nconst notes=\u0027[DRAFT] LP DUPLICATE BRIEF — \u0027+ym+\u0027 Winner: \u0027+d.destination_url+\u0027\\n\\nWINNING LP: \u0027+d.destination_url+\u0027 | SQLs: \u0027+d.sqls+\u0027 | Leads: \u0027+d.leads+\u0027 | CVR: \u0027+d.cvr_pct+\u0027% | CPQL: $\u0027+d.cpql_usd+\u0027\\n\\nHYPOTHESIS: A duplicate of \u0027+d.destination_url+\u0027 with refreshed hero + CTA will match or beat $\u0027+d.cpql_usd+\u0027 CPQL within 14 days.\\n\\nWHY DUPLICATE: LP already converts — preserve structure, refresh creative only. Same form, same ZATCA badge above fold.\\n\\nVARIANT CHANGES: hero image | H1 alternative | CTA text only. No structural changes.\\n\\nSUCCESS CRITERION: CPQL ≤ $\u0027+d.cpql_usd+\u0027 after 14 days. Min 50 leads per variant.\\n\\nZATCA BADGE: above fold, non-negotiable. UI/UX to confirm desktop + mobile (375px).\\n\\n---\\nCreated: \u0027+today+\u0027 | Due: \u0027+due+\u0027 | Priority: Normal | Type: LP Duplicate | Channel: \u0027+channel+\u0027 | Asset level: LP\u0027;\nreturn [{json:{skip:false,title:\u0027[DRAFT] LP Duplicate Brief — \u0027+ym+\u0027 Winner: \u0027+d.destination_url,notes,due}}];"}},{"id":"mnth-lp-03","name":"Asana · LP Draft Monthly","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2400,1900],"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[\u00271214135581886045\u0027],name:$(\u0027Code · Format LP Brief\u0027).first().json.title||\u0027Monthly LP brief skipped\u0027,notes:$(\u0027Code · Format LP Brief\u0027).first().json.notes,due_on:$(\u0027Code · Format LP Brief\u0027).first().json.due||undefined}}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}}},{"id":"m-bq-fresh-001","name":"BQ · Freshness Check","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[400,0],"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"operation":"executeQuery","projectId":"={{$vars.BQ_PROJECT}}","sqlQuery":"SELECT FORMAT_DATE(\u0027%Y-%m-%d\u0027, MAX(date)) as latest_date, CAST(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027), MAX(date), DAY) AS INT64) as days_stale FROM `{{$vars.BQ_PROJECT}}.{{$vars.BQ_DATASET}}.campaigns_daily`","options":{},"authentication":"serviceAccount"}},{"id":"m-if-fresh-001","name":"IF · Data Fresh?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fc","leftValue":"={{$json.days_stale}}","rightValue":1,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"}}},{"id":"m-slack-stale-001","name":"Slack · Stale Data Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-300],"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $vars.SLACK_CHANNEL_NOTIFY || \"#data-health\", text: \"⚠️ *BQ data stale* — `campaigns_daily` MAX(date) is *\" + $json.latest_date + \"* (\" + $json.days_stale + \" days behind). Monthly review skipped.\", unfurl_links: false }) }}","options":{}},"disabled":true},{"id":"m-build-perf-001","name":"Build · performance-lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,0],"parameters":{"jsCode":"// Build prompt for performance-lead — takes growth-analyst output as context\nconst resp = $input.first().json;\nconst block = (resp.content || []).find(b =\u003e b.type === \u0027tool_use\u0027);\nconst analysis = block?.input || {};\n\nconst systemPrompt = \u0027You are the Performance Lead at Qoyod. Review the Growth Analyst weekly report and add strategic context. \u0027 +\n  \u0027Validate findings, escalate CPQL regressions (\u003e$160 = pause; $130-160 = warning), identify cross-channel patterns, \u0027 +\n  \u0027add a 1-paragraph executive summary, and confirm or override analyst actions with reasoning. \u0027 +\n  \u0027CPQL zones: scale \u003c$85 | acceptable $85-$130 | warning $130-$160 | pause \u003e$160. \u0027 +\n  \u0027Min 14-day window for pause/scale. Spend in USD.\u0027;\n\nconst rawStr = analysis.digest || JSON.stringify(analysis);\nconst clean = rawStr.replace(/[\\uD800-\\uDFFF]/g,\u0027?\u0027);\nconst digest = [...clean].slice(0, 2500).join(\u0027\u0027);\n\nconst tools = [{\n  name: \u0027weekly_digest\u0027,\n  description: \u0027Weekly digest — performance-lead final review\u0027,\n  input_schema: {\n    type: \u0027object\u0027,\n    required: [\u0027digest\u0027, \u0027actions\u0027],\n    properties: {\n      digest: {type: \u0027string\u0027},\n      actions: {type: \u0027array\u0027, items: {type: \u0027object\u0027, required: [\u0027title\u0027,\u0027description\u0027,\u0027priority\u0027],\n        properties: {title:{type:\u0027string\u0027}, description:{type:\u0027string\u0027}, priority:{type:\u0027string\u0027,enum:[\u0027high\u0027,\u0027medium\u0027,\u0027low\u0027]}, channel:{type:\u0027string\u0027}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: \u0027user\u0027, content: \u0027Growth Analyst report:\\n\\n\u0027 + digest + \u0027\\n\\nProvide your strategic review.\u0027}],\n  tools,\n  tool_choice: {type: \u0027any\u0027}\n}}];"}},{"id":"m-claude-perf-001","name":"Claude · performance-lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4800,0],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}},{"id":"m-build-creative-001","name":"Build · creative-strategist","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,1400],"parameters":{"jsCode":"// Build prompt for creative-strategist — analyzes formatted creative report data\nconst rows = $input.all().map(i =\u003e i.json);\n\nconst systemPrompt = \u0027You are the Creative Strategist at Qoyod. Analyze this month creative performance data. \u0027 +\n  \u0027Identify top-performing creatives (qual_ratio \u003e 0.50 AND CPL \u003c= $25), underperformers, and optimization opportunities. \u0027 +\n  \u0027Classify each creative: Winner = qual_ratio\u003e0.50 AND CPL\u003c=$25 | Optimise = qual_ratio\u003e0.50 AND CPL\u003e$25 | Underperformer = qual_ratio\u003c=0.50. \u0027 +\n  \u0027Provide actionable creative briefs for next month (new angle for winners, revision notes for optimise, kill for underperformers). \u0027 +\n  \u0027Respond using the creative_report tool.\u0027;\n\nconst creativeData = rows.map(r =\u003e \n  (r.creative_name || r.ad_name || \u0027unknown\u0027) + \u0027: CPL=$\u0027 + (r.cpl || 0).toFixed(2) + \n  \u0027, qual_ratio=\u0027 + (r.qual_ratio || 0).toFixed(2) + \n  \u0027, leads=\u0027 + (r.leads_total || 0) + \u0027, sqls=\u0027 + (r.leads_qualified || 0)\n).join(\u0027\\n\u0027);\n\nconst tools = [{\n  name: \u0027creative_report\u0027,\n  description: \u0027Creative strategist monthly report\u0027,\n  input_schema: {\n    type: \u0027object\u0027, required: [\u0027summary\u0027, \u0027creatives\u0027],\n    properties: {\n      summary: {type: \u0027string\u0027, description: \u0027Executive summary of creative performance\u0027},\n      creatives: {type: \u0027array\u0027, items: {type: \u0027object\u0027, required: [\u0027name\u0027,\u0027classification\u0027,\u0027recommendation\u0027],\n        properties: {name:{type:\u0027string\u0027}, classification:{type:\u0027string\u0027,enum:[\u0027winner\u0027,\u0027optimise\u0027,\u0027underperformer\u0027]}, \n          cpl:{type:\u0027number\u0027}, qual_ratio:{type:\u0027number\u0027}, recommendation:{type:\u0027string\u0027}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: \u0027user\u0027, content: \u0027Creative performance this month:\\n\\n\u0027 + creativeData}],\n  tools,\n  tool_choice: {type: \u0027any\u0027},\n  original_rows: rows\n}}];"}},{"id":"m-claude-creative-001","name":"Claude · creative-strategist","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1400],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}}],"connections":{"Schedule · Monthly":{"main":[[{"node":"BQ · Freshness Check","type":"main","index":0}]]},"Set Dates · Monthly":{"main":[[{"node":"Query Period Compare","type":"main","index":0},{"node":"Query Forecast","type":"main","index":0},{"node":"Query CRO","type":"main","index":0},{"node":"Query ROAS","type":"main","index":0},{"node":"Query Monitor","type":"main","index":0}]]},"Query Period Compare":{"main":[[{"node":"Collect Queries","type":"main","index":0}]]},"Query Forecast":{"main":[[{"node":"Collect Queries","type":"main","index":1}]]},"Query CRO":{"main":[[{"node":"Collect Queries","type":"main","index":2}]]},"Query ROAS":{"main":[[{"node":"Collect Queries","type":"main","index":3}]]},"Query Monitor":{"main":[[{"node":"Collect Queries","type":"main","index":4}]]},"Collect Queries":{"main":[[{"node":"Build · monthly-analyst","type":"main","index":0}]]},"Build · monthly-analyst":{"main":[[{"node":"Claude · monthly-analyst","type":"main","index":0}]]},"Claude · monthly-analyst":{"main":[[{"node":"Build · performance-lead","type":"main","index":0}]]},"Parse · monthly":{"main":[[{"node":"Post Slack · Monthly","type":"main","index":0},{"node":"Post Slack · Approvals","type":"main","index":0},{"node":"Expand Asana Tasks","type":"main","index":0},{"node":"Build Audit SQL","type":"main","index":0}]]},"Expand Asana Tasks":{"main":[[{"node":"Create Asana Task","type":"main","index":0}]]},"Build Audit SQL":{"main":[[{"node":"Audit Log → BQ","type":"main","index":0}]]},"BQ · Creative Report":{"main":[[{"node":"Code · Format Creative","type":"main","index":0}]]},"Code · Format Creative":{"main":[[{"node":"Build · creative-strategist","type":"main","index":0}]]},"Sheets · Create Creative Tab":{"main":[[{"node":"Sheets · Write Creative Rows","type":"main","index":0}]]},"Sheets · Write Creative Rows":{"main":[[{"node":"Asana · Creative Report Monthly","type":"main","index":0}]]},"BQ · LP Brief":{"main":[[{"node":"Code · Format LP Brief","type":"main","index":0}]]},"Code · Format LP Brief":{"main":[[{"node":"Asana · LP Draft Monthly","type":"main","index":0}]]},"BQ · Freshness Check":{"main":[[{"node":"IF · Data Fresh?","type":"main","index":0}]]},"IF · Data Fresh?":{"main":[[{"node":"Set Dates · Monthly","type":"main","index":0},{"node":"BQ · Creative Report","type":"main","index":0},{"node":"BQ · LP Brief","type":"main","index":0}],[{"node":"Slack · Stale Data Alert","type":"main","index":0}]]},"Build · performance-lead":{"main":[[{"node":"Claude · performance-lead","type":"main","index":0}]]},"Claude · performance-lead":{"main":[[{"node":"Parse · monthly","type":"main","index":0}]]},"Build · creative-strategist":{"main":[[{"node":"Claude · creative-strategist","type":"main","index":0}]]},"Claude · creative-strategist":{"main":[[{"node":"Sheets · Create Creative Tab","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Schedule · Monthly":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","activeVersionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","versionCounter":8,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-15T10:53:46.858Z","createdAt":"2026-06-15T10:53:46.858Z","role":"workflow:owner","workflowId":"0Zh45UoTtjjhRn8U","projectId":"adzgqz9cb5avvdf1","project":{"updatedAt":"2026-05-28T17:50:33.321Z","createdAt":"2026-05-28T17:50:26.370Z","id":"adzgqz9cb5avvdf1","name":"Mohamed Irshaid \u003cmohammad.irsheid@qoyod.com\u003e","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-17T07:59:36.375Z","createdAt":"2026-06-17T07:59:36.375Z","versionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","workflowId":"0Zh45UoTtjjhRn8U","nodes":[{"id":"mnth-001","name":"Schedule · Monthly","type":"n8n-nodes-base.scheduleTrigger","position":[0,0],"typeVersion":1,"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 1 * *"}]}}},{"id":"mnth-002","name":"Set Dates · Monthly","type":"n8n-nodes-base.code","position":[800,0],"typeVersion":2,"parameters":{"jsCode":"const tz=\u0027Asia/Riyadh\u0027,now=new Date(new Date().toLocaleString(\u0027en-US\u0027,{timeZone:tz})),fmt=d=\u003ed.toISOString().slice(0,10),mtdStart=new Date(now.getFullYear(),now.getMonth(),1),prevStart=new Date(now.getFullYear(),now.getMonth()-1,1),prevEnd=new Date(now.getFullYear(),now.getMonth(),0);return[{json:{mtdStart:fmt(mtdStart),today:fmt(now),prevMonthStart:fmt(prevStart),prevMonthEnd:fmt(prevEnd),monthLabel:now.toLocaleDateString(\u0027en-US\u0027,{timeZone:tz,month:\u0027long\u0027,year:\u0027numeric\u0027}),reportType:\u0027monthly\u0027}}];"}},{"id":"mnth-003","name":"Query Period Compare","type":"n8n-nodes-base.googleBigQuery","position":[1600,-800],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH) THEN \u0027prior_month\u0027\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) THEN \u0027this_month\u0027\n    END AS period,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date \u003e= DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH)\n  GROUP BY period, qoyod_source\n),\nspend AS (\n  SELECT\n    channel,\n    CASE\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH) THEN \u0027prior_month\u0027\n      WHEN DATE_TRUNC(date,MONTH)=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) THEN \u0027this_month\u0027\n    END AS period,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE date \u003e= DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027),INTERVAL 1 MONTH),MONTH)\n  GROUP BY channel, period\n)\nSELECT s.channel, s.period,\n  ROUND(s.spend,2) AS spend,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.leads,0),0)),2) AS cpl,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  \u0027compare\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel AND s.period = hs.period\nWHERE s.period IS NOT NULL\nORDER BY s.channel, s.period","options":{}}},{"id":"mnth-004","name":"Query Forecast","type":"n8n-nodes-base.googleBigQuery","position":[1600,-400],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY qoyod_source\n),\nspend AS (\n  SELECT channel, SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY channel\n)\nSELECT s.channel,\n  ROUND(s.spend,2) AS mtd_spend,\n  COALESCE(hs.leads,0) AS mtd_leads,\n  COALESCE(hs.sqls,0) AS mtd_sqls,\n  DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1 AS days_in_month,\n  DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1 AS days_elapsed,\n  ROUND(s.spend/(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1),0) AS proj_spend_eom,\n  ROUND(COALESCE(hs.leads,0)/(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1)\n    *(DATE_DIFF(LAST_DAY(CURRENT_DATE(\u0027Asia/Riyadh\u0027)),DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH),DAY)+1),0) AS proj_leads_eom,\n  \u0027forecast\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.channel = hs.channel\nORDER BY mtd_spend DESC","options":{}}},{"id":"mnth-005","name":"Query CRO","type":"n8n-nodes-base.googleBigQuery","position":[1600,0],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"WITH hs AS (\n  SELECT LOWER(lead_utm_campaign) AS k,\n    qoyod_source AS channel,\n    SUM(leads_total) AS leads,\n    SUM(leads_qualified) AS sqls,\n    SUM(leads_disqualified) AS disq\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY LOWER(lead_utm_campaign), qoyod_source\n),\nspend AS (\n  SELECT channel, LOWER(campaign_name) AS k, campaign_name,\n    SUM(spend) AS spend\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  WHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\n  GROUP BY channel, LOWER(campaign_name), campaign_name\n)\nSELECT s.channel, s.campaign_name,\n  COALESCE(hs.leads,0) AS leads,\n  COALESCE(hs.sqls,0) AS sqls,\n  COALESCE(hs.disq,0) AS disq,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.sqls,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS qual_rate_pct,\n  ROUND(SAFE_DIVIDE(COALESCE(hs.disq,0),NULLIF(COALESCE(hs.leads,0),0))*100,1) AS disq_rate_pct,\n  ROUND(SAFE_DIVIDE(s.spend,NULLIF(COALESCE(hs.sqls,0),0)),2) AS cpql,\n  \u0027cro\u0027 AS _query\nFROM spend s\nLEFT JOIN hs ON s.k = hs.k\nWHERE COALESCE(hs.leads,0) \u003e= 5\nORDER BY qual_rate_pct ASC LIMIT 20","options":{}}},{"id":"mnth-006","name":"Query ROAS","type":"n8n-nodes-base.googleBigQuery","position":[1600,400],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"SELECT channel,\n  ROUND(SUM(spend),2) AS spend,\n  ROUND(SUM(revenue_won),2) AS revenue_won,\n  ROUND(SAFE_DIVIDE(SUM(revenue_won),NULLIF(SUM(spend),0)),2) AS roas,\n  0 AS leads,\n  0 AS deals_won,\n  \u0027roas\u0027 AS _query\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.paid_channel_daily`\nWHERE DATE_TRUNC(date,MONTH) = DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH)\nGROUP BY channel ORDER BY roas DESC","options":{}}},{"id":"mnth-007","name":"Query Monitor","type":"n8n-nodes-base.googleBigQuery","position":[1600,800],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"SELECT action AS action_type,campaign_name AS target_name,channel,DATE(ts,\u0027Asia/Riyadh\u0027) AS event_date,status AS outcome,DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027),DATE(ts,\u0027Asia/Riyadh\u0027),DAY) AS days_since,\u0027monitor\u0027 AS _query FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log` WHERE DATE(ts,\u0027Asia/Riyadh\u0027)\u003e=DATE_TRUNC(CURRENT_DATE(\u0027Asia/Riyadh\u0027),MONTH) ORDER BY ts DESC LIMIT 30","options":{}}},{"id":"mnth-008","name":"Collect Queries","type":"n8n-nodes-base.merge","position":[2400,0],"typeVersion":3,"parameters":{"mode":"append","numberInputs":5}},{"id":"mnth-009","name":"Build · monthly-analyst","type":"n8n-nodes-base.code","position":[3200,0],"typeVersion":2,"parameters":{"jsCode":"const rows=$input.all().map(i=\u003ei.json),compare=rows.filter(r=\u003er._query===\u0027compare\u0027),forecast=rows.filter(r=\u003er._query===\u0027forecast\u0027),cro=rows.filter(r=\u003er._query===\u0027cro\u0027),roas=rows.filter(r=\u003er._query===\u0027roas\u0027),monitor=rows.filter(r=\u003er._query===\u0027monitor\u0027),today=new Date().toLocaleDateString(\u0027en-US\u0027,{timeZone:\u0027Asia/Riyadh\u0027,month:\u0027long\u0027,year:\u0027numeric\u0027});return[{json:{system:\u0027You are Nexa, Qoyod paid media agent. Monthly review for \u0027+today+\u0027. USD only. Slack mrkdwn. Strategic analysis: MoM trends, CRO quality, ROAS by channel, top strategic actions.\u0027,messages:[{role:\u0027user\u0027,content:JSON.stringify({compare,forecast,cro,roas,monitor})}],tools:[{name:\u0027monthly_digest\u0027,description:\u0027Monthly performance digest\u0027,input_schema:{type:\u0027object\u0027,required:[\u0027digest\u0027,\u0027actions\u0027],properties:{digest:{type:\u0027string\u0027},actions:{type:\u0027array\u0027,items:{type:\u0027object\u0027,required:[\u0027title\u0027,\u0027description\u0027,\u0027priority\u0027],properties:{title:{type:\u0027string\u0027},description:{type:\u0027string\u0027},priority:{type:\u0027string\u0027,enum:[\u0027high\u0027,\u0027medium\u0027,\u0027low\u0027]},channel:{type:\u0027string\u0027},estimated_impact:{type:\u0027string\u0027}}}}}}}],tool_choice:{type:\u0027any\u0027}}}];"}},{"id":"mnth-010","name":"Claude · monthly-analyst","type":"n8n-nodes-base.httpRequest","position":[4000,0],"typeVersion":4,"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}},{"id":"mnth-011","name":"Parse · monthly","type":"n8n-nodes-base.code","position":[4800,0],"typeVersion":2,"parameters":{"jsCode":"const resp=$input.first().json,block=(resp.content||[]).find(b=\u003eb.type===\u0027tool_use\u0027),out=block?.input||{},actions=out.actions||[],approvalsText=actions.map((a,i)=\u003e(i+1)+\u0027. *\u0027+a.title+\u0027* [\u0027+a.priority+\u0027]\n\u0027+a.description+(a.estimated_impact?\u0027\n_Impact: \u0027+a.estimated_impact+\u0027_\u0027:\u0027\u0027)).join(\u0027\n\n\u0027);return[{json:{digest:out.digest||\u0027Monthly digest unavailable.\u0027,approvalsText:approvalsText||\u0027No actions.\u0027,actions,reportType:\u0027monthly\u0027,generatedAt:new Date().toISOString()}}];"}},{"id":"mnth-012","name":"Post Slack · Monthly","type":"n8n-nodes-base.httpRequest","position":[5600,-200],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_NOTIFY, text:$json.digest, unfurl_links:false }) }}","options":{}}},{"id":"mnth-013","name":"Post Slack · Approvals","type":"n8n-nodes-base.httpRequest","position":[5600,200],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel:$vars.SLACK_CHANNEL_APPROVALS, text:\u0027*Monthly Strategic Actions — ✅ approve / ❌ skip*\n\n\u0027+$json.approvalsText, unfurl_links:false }) }}","options":{}}},{"id":"mnth-014","name":"Expand Asana Tasks","type":"n8n-nodes-base.code","position":[5600,600],"typeVersion":2,"parameters":{"jsCode":"const {actions}=$input.first().json,today=new Date().toLocaleDateString(\u0027en-US\u0027,{timeZone:\u0027Asia/Riyadh\u0027});const channelMap={\u0027Meta\u0027:\u00271213280413868927\u0027,\u0027Google\u0027:\u00271213239419217795\u0027,\u0027Google Ads\u0027:\u00271213239419217795\u0027,\u0027Snapchat\u0027:\u00271214135546324721\u0027,\u0027TikTok\u0027:\u00271214135614950965\u0027,\u0027Microsoft Ads\u0027:\u00271213294555250809\u0027,\u0027Microsoft\u0027:\u00271213294555250809\u0027,\u0027Bing\u0027:\u00271213294555250809\u0027,\u0027HubSpot\u0027:\u00271214135615075674\u0027};return(actions||[]).map(a=\u003e{const ch=a.channel||\u0027\u0027;const projectGid=channelMap[ch]||\u00271214135581886045\u0027;return{json:{data:{workspace:$vars.ASANA_WORKSPACE,projects:[projectGid],name:a.title,notes:a.description+\u0027\\n\\nChannel: \u0027+(ch||\u0027all\u0027)+\u0027\\nPriority: \u0027+(a.priority||\u0027medium\u0027)+\u0027\\nEstimated Impact: \u0027+(a.estimated_impact||\u0027N/A\u0027)+\u0027\\nType: monthly-review\\nCreated: \u0027+today,assignee:$vars.ASANA_ASSIGNEE_DEFAULT}}}});"}},{"id":"mnth-015","name":"Create Asana Task","type":"n8n-nodes-base.httpRequest","position":[6400,600],"typeVersion":4,"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}},"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}}},{"id":"mnth-016","name":"Build Audit SQL","type":"n8n-nodes-base.code","position":[6400,-200],"typeVersion":2,"parameters":{"jsCode":"const r=$input.first().json,proj=$vars.BQ_PROJECT,ds=$vars.BQ_DATASET;const rt=(r.reportType||\u0027monthly\u0027).replace(/\u0027/g,\"\\\u0027\u0027\");return[{json:{sql:`INSERT INTO \\`${proj}.${ds}.agent_activity_log\\` (activity_id,ts,session_id,role,action,status,channel,campaign_name,details) VALUES (GENERATE_UUID(),CURRENT_TIMESTAMP(),\u0027n8n-monthly\u0027,\u0027llm_cadence\u0027,\u0027monthly_review\u0027,\u0027success\u0027,\u0027all\u0027,\u0027report\u0027,TO_JSON_STRING(JSON_OBJECT(\u0027reportType\u0027,\u0027${rt}\u0027)))`}}];"}},{"id":"mnth-017","name":"Audit Log → BQ","type":"n8n-nodes-base.googleBigQuery","position":[7200,-200],"typeVersion":2,"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"mode":"expression","value":"={{ $vars.BQ_PROJECT }}"},"sqlQuery":"{{ $json.sql }}","options":{}}},{"id":"mnth-cr-01","name":"BQ · Creative Report","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[800,1400],"parameters":{"authentication":"serviceAccount","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"SELECT channel, ad_name, ad_id,\n  SUM(clicks) AS clicks,\n  ROUND(SAFE_DIVIDE(SUM(clicks), NULLIF(SUM(impressions),0)),4) AS ctr,\n  SUM(leads_total) AS leads,\n  SUM(qualified) AS qualified_leads,\n  ROUND(SAFE_DIVIDE(SUM(qualified), NULLIF(SUM(leads_total),0)),4) AS qual_ratio,\n  ROUND(SAFE_DIVIDE(SUM(spend), NULLIF(SUM(leads_total),0)),2) AS cpl,\n  ROUND(SUM(spend),2) AS spend\nFROM `angular-axle-492812-q4.qoyod_marketing.v_ad_performance`\nWHERE date \u003e= DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 30 DAY)\n  AND leads_total \u003e 0\nGROUP BY channel, ad_name, ad_id\nHAVING SUM(leads_total) \u003e= 3\nORDER BY channel, qual_ratio DESC, cpl ASC","options":{}},"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}}},{"id":"mnth-cr-02","name":"Code · Format Creative","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const fmt=t=\u003enew Date(t).toLocaleString(\u0027sv\u0027,{timeZone:\u0027Asia/Riyadh\u0027}).split(\u0027 \u0027)[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst monthLabel=new Date().toLocaleString(\u0027en\u0027,{timeZone:\u0027Asia/Riyadh\u0027,month:\u0027long\u0027,year:\u0027numeric\u0027});\nconst tabName=\u0027Creatives-\u0027+today.slice(0,7);\nconst classify=r=\u003e{if(r.qual_ratio\u003e0.50\u0026\u0026r.cpl\u003c=25)return\u0027Winner\u0027;if(r.qual_ratio\u003e0.50)return\u0027Optimise\u0027;return\u0027Underperformer\u0027;};\nconst rows=$input.all().map(i=\u003e{const d=i.json;return[d.channel||\u0027\u0027,d.ad_name||\u0027\u0027,d.ad_id||\u0027\u0027,d.clicks||0,d.ctr||0,d.leads||0,d.qualified_leads||0,d.qual_ratio||0,d.cpl||0,d.spend||0,classify(d)];});\nconst headers=[\u0027channel\u0027,\u0027ad_name\u0027,\u0027ad_id\u0027,\u0027clicks\u0027,\u0027ctr\u0027,\u0027leads\u0027,\u0027qualified_leads\u0027,\u0027qual_ratio\u0027,\u0027cpl\u0027,\u0027spend\u0027,\u0027status\u0027];\nconst sheetLink=\u0027https://docs.google.com/spreadsheets/d/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg\u0027;\nconst winners=rows.filter(r=\u003er[10]===\u0027Winner\u0027).map(r=\u003er[0]+\u0027: \u0027+r[1]+\u0027 — \u0027+(r[7]*100).toFixed(0)+\u0027% qual, $\u0027+r[8]+\u0027 CPL\u0027).join(\u0027\\n\u0027)||\u0027None\u0027;\nconst under=rows.filter(r=\u003er[10]===\u0027Underperformer\u0027\u0026\u0026(r[7]===0||r[8]\u003e50)).map(r=\u003er[0]+\u0027: \u0027+r[1]+\u0027 ($\u0027+r[8]+\u0027 CPL, \u0027+(r[7]*100).toFixed(0)+\u0027% qual)\u0027).join(\u0027\\n\u0027)||\u0027None\u0027;\nconst notes=\u0027WINNING CREATIVES — \u0027+monthLabel+\u0027\\nSheet: \u0027+sheetLink+\u0027\\n\\nTOP WINNERS:\\n\u0027+winners+\u0027\\n\\nUNDERPERFORMERS:\\n\u0027+under+\u0027\\n\\n---\\nCreated: \u0027+today+\u0027 | Due: \u0027+due+\u0027 | Priority: Medium | Type: Recommendation | Channel: all | Asset level: ad | Action: optimize → [Creative Strategist]\u0027;\nreturn [{json:{rows,headers,tabName,sheetLink,today,due,monthLabel,notes}}];"}},{"id":"mnth-cr-03","name":"Sheets · Create Creative Tab","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2400,1400],"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({requests:[{addSheet:{properties:{title:$(\u0027Code · Format Creative\u0027).first().json.tabName}}}]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"kBgcDkRIN5tMoACU","name":"Google Sheets OAuth2 API"}}},{"id":"mnth-cr-04","name":"Sheets · Write Creative Rows","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3200,1400],"parameters":{"method":"POST","url":"={{ \u0027https://sheets.googleapis.com/v4/spreadsheets/120o-BXLdpvT5phvTY2ePiYcKiyQi5kcXedLuq_cDtVg/values/\u0027+encodeURIComponent($(\u0027Code · Format Creative\u0027).first().json.tabName)+\u0027:append?valueInputOption=RAW\u0027 }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({values:[$(\u0027Code · Format Creative\u0027).first().json.headers,...$(\u0027Code · Format Creative\u0027).first().json.rows]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"kBgcDkRIN5tMoACU","name":"Google Sheets OAuth2 API"}}},{"id":"mnth-cr-05","name":"Asana · Creative Report Monthly","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[4000,1400],"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[\u00271214135581886045\u0027],name:\u0027WINNING CREATIVES — \u0027+$(\u0027Code · Format Creative\u0027).first().json.monthLabel,notes:$(\u0027Code · Format Creative\u0027).first().json.notes,due_on:$(\u0027Code · Format Creative\u0027).first().json.due}}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}}},{"id":"mnth-lp-01","name":"BQ · LP Brief","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[800,1900],"parameters":{"authentication":"serviceAccount","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"WITH hs AS (\n  SELECT lead_utm_campaign, SUM(leads_total) AS leads, SUM(leads_qualified) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.hubspot_leads_module_daily`\n  WHERE DATE_TRUNC(date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 1 MONTH), MONTH)\n  GROUP BY lead_utm_campaign\n), lp AS (\n  SELECT final_url, MIN(c.campaign_name) AS sample_campaign,\n    SUM(c.spend) AS spend, SUM(c.clicks) AS clicks,\n    SUM(COALESCE(h.leads,0)) AS leads, SUM(COALESCE(h.sqls,0)) AS sqls\n  FROM `angular-axle-492812-q4.qoyod_marketing.campaigns_daily` c\n  LEFT JOIN hs h ON LOWER(c.campaign_name) = LOWER(h.lead_utm_campaign)\n  WHERE DATE_TRUNC(c.date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE(\u0027Asia/Riyadh\u0027), INTERVAL 1 MONTH), MONTH)\n    AND c.final_url IS NOT NULL\n  GROUP BY final_url\n)\nSELECT final_url AS destination_url, sample_campaign,\n  ROUND(spend,2) AS spend_usd, clicks, leads, sqls,\n  ROUND(SAFE_DIVIDE(leads,NULLIF(clicks,0))*100,2) AS cvr_pct,\n  ROUND(SAFE_DIVIDE(spend,NULLIF(sqls,0)),2) AS cpql_usd\nFROM lp WHERE sqls \u003e 0\nORDER BY sqls DESC LIMIT 1","options":{}},"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}}},{"id":"mnth-lp-02","name":"Code · Format LP Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1900],"parameters":{"mode":"runOnceForAllItems","jsCode":"const fmt=t=\u003enew Date(t).toLocaleString(\u0027sv\u0027,{timeZone:\u0027Asia/Riyadh\u0027}).split(\u0027 \u0027)[0];\nconst today=fmt(Date.now());\nconst due=fmt(Date.now()+7*86400000);\nconst all=$input.all();\nif(!all.length||!all[0].json.destination_url){return [{json:{skip:true,notes:\u0027Monthly LP brief skipped — no SQLs last month.\\n\\n---\\nCreated: \u0027+today}}];}\nconst d=all[0].json;\nconst ym=today.slice(0,7);\nconst channel=d.sample_campaign?.split(\u0027_\u0027)[0]||\u0027All\u0027;\nconst notes=\u0027[DRAFT] LP DUPLICATE BRIEF — \u0027+ym+\u0027 Winner: \u0027+d.destination_url+\u0027\\n\\nWINNING LP: \u0027+d.destination_url+\u0027 | SQLs: \u0027+d.sqls+\u0027 | Leads: \u0027+d.leads+\u0027 | CVR: \u0027+d.cvr_pct+\u0027% | CPQL: $\u0027+d.cpql_usd+\u0027\\n\\nHYPOTHESIS: A duplicate of \u0027+d.destination_url+\u0027 with refreshed hero + CTA will match or beat $\u0027+d.cpql_usd+\u0027 CPQL within 14 days.\\n\\nWHY DUPLICATE: LP already converts — preserve structure, refresh creative only. Same form, same ZATCA badge above fold.\\n\\nVARIANT CHANGES: hero image | H1 alternative | CTA text only. No structural changes.\\n\\nSUCCESS CRITERION: CPQL ≤ $\u0027+d.cpql_usd+\u0027 after 14 days. Min 50 leads per variant.\\n\\nZATCA BADGE: above fold, non-negotiable. UI/UX to confirm desktop + mobile (375px).\\n\\n---\\nCreated: \u0027+today+\u0027 | Due: \u0027+due+\u0027 | Priority: Normal | Type: LP Duplicate | Channel: \u0027+channel+\u0027 | Asset level: LP\u0027;\nreturn [{json:{skip:false,title:\u0027[DRAFT] LP Duplicate Brief — \u0027+ym+\u0027 Winner: \u0027+d.destination_url,notes,due}}];"}},{"id":"mnth-lp-03","name":"Asana · LP Draft Monthly","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2400,1900],"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({data:{workspace:$vars.ASANA_WORKSPACE,projects:[\u00271214135581886045\u0027],name:$(\u0027Code · Format LP Brief\u0027).first().json.title||\u0027Monthly LP brief skipped\u0027,notes:$(\u0027Code · Format LP Brief\u0027).first().json.notes,due_on:$(\u0027Code · Format LP Brief\u0027).first().json.due||undefined}}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}}},{"id":"m-bq-fresh-001","name":"BQ · Freshness Check","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[400,0],"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"operation":"executeQuery","projectId":"={{$vars.BQ_PROJECT}}","sqlQuery":"SELECT FORMAT_DATE(\u0027%Y-%m-%d\u0027, MAX(date)) as latest_date, CAST(DATE_DIFF(CURRENT_DATE(\u0027Asia/Riyadh\u0027), MAX(date), DAY) AS INT64) as days_stale FROM `{{$vars.BQ_PROJECT}}.{{$vars.BQ_DATASET}}.campaigns_daily`","options":{},"authentication":"serviceAccount"}},{"id":"m-if-fresh-001","name":"IF · Data Fresh?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fc","leftValue":"={{$json.days_stale}}","rightValue":1,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"}}},{"id":"m-slack-stale-001","name":"Slack · Stale Data Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-300],"credentials":{"httpHeaderAuth":{"id":"YwdlGwXs943DQrfh","name":"Slack (Qoyod)"}},"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $vars.SLACK_CHANNEL_NOTIFY || \"#data-health\", text: \"⚠️ *BQ data stale* — `campaigns_daily` MAX(date) is *\" + $json.latest_date + \"* (\" + $json.days_stale + \" days behind). Monthly review skipped.\", unfurl_links: false }) }}","options":{}}},{"id":"m-build-perf-001","name":"Build · performance-lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,0],"parameters":{"jsCode":"// Build prompt for performance-lead — takes growth-analyst output as context\nconst resp = $input.first().json;\nconst block = (resp.content || []).find(b =\u003e b.type === \u0027tool_use\u0027);\nconst analysis = block?.input || {};\n\nconst systemPrompt = \u0027You are the Performance Lead at Qoyod. Review the Growth Analyst weekly report and add strategic context. \u0027 +\n  \u0027Validate findings, escalate CPQL regressions (\u003e$160 = pause; $130-160 = warning), identify cross-channel patterns, \u0027 +\n  \u0027add a 1-paragraph executive summary, and confirm or override analyst actions with reasoning. \u0027 +\n  \u0027CPQL zones: scale \u003c$85 | acceptable $85-$130 | warning $130-$160 | pause \u003e$160. \u0027 +\n  \u0027Min 14-day window for pause/scale. Spend in USD.\u0027;\n\nconst rawStr = analysis.digest || JSON.stringify(analysis);\nconst clean = rawStr.replace(/[\\uD800-\\uDFFF]/g,\u0027?\u0027);\nconst digest = [...clean].slice(0, 2500).join(\u0027\u0027);\n\nconst tools = [{\n  name: \u0027weekly_digest\u0027,\n  description: \u0027Weekly digest — performance-lead final review\u0027,\n  input_schema: {\n    type: \u0027object\u0027,\n    required: [\u0027digest\u0027, \u0027actions\u0027],\n    properties: {\n      digest: {type: \u0027string\u0027},\n      actions: {type: \u0027array\u0027, items: {type: \u0027object\u0027, required: [\u0027title\u0027,\u0027description\u0027,\u0027priority\u0027],\n        properties: {title:{type:\u0027string\u0027}, description:{type:\u0027string\u0027}, priority:{type:\u0027string\u0027,enum:[\u0027high\u0027,\u0027medium\u0027,\u0027low\u0027]}, channel:{type:\u0027string\u0027}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: \u0027user\u0027, content: \u0027Growth Analyst report:\\n\\n\u0027 + digest + \u0027\\n\\nProvide your strategic review.\u0027}],\n  tools,\n  tool_choice: {type: \u0027any\u0027}\n}}];"}},{"id":"m-claude-perf-001","name":"Claude · performance-lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4800,0],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}},{"id":"m-build-creative-001","name":"Build · creative-strategist","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,1400],"parameters":{"jsCode":"// Build prompt for creative-strategist — analyzes formatted creative report data\nconst rows = $input.all().map(i =\u003e i.json);\n\nconst systemPrompt = \u0027You are the Creative Strategist at Qoyod. Analyze this month creative performance data. \u0027 +\n  \u0027Identify top-performing creatives (qual_ratio \u003e 0.50 AND CPL \u003c= $25), underperformers, and optimization opportunities. \u0027 +\n  \u0027Classify each creative: Winner = qual_ratio\u003e0.50 AND CPL\u003c=$25 | Optimise = qual_ratio\u003e0.50 AND CPL\u003e$25 | Underperformer = qual_ratio\u003c=0.50. \u0027 +\n  \u0027Provide actionable creative briefs for next month (new angle for winners, revision notes for optimise, kill for underperformers). \u0027 +\n  \u0027Respond using the creative_report tool.\u0027;\n\nconst creativeData = rows.map(r =\u003e \n  (r.creative_name || r.ad_name || \u0027unknown\u0027) + \u0027: CPL=$\u0027 + (r.cpl || 0).toFixed(2) + \n  \u0027, qual_ratio=\u0027 + (r.qual_ratio || 0).toFixed(2) + \n  \u0027, leads=\u0027 + (r.leads_total || 0) + \u0027, sqls=\u0027 + (r.leads_qualified || 0)\n).join(\u0027\\n\u0027);\n\nconst tools = [{\n  name: \u0027creative_report\u0027,\n  description: \u0027Creative strategist monthly report\u0027,\n  input_schema: {\n    type: \u0027object\u0027, required: [\u0027summary\u0027, \u0027creatives\u0027],\n    properties: {\n      summary: {type: \u0027string\u0027, description: \u0027Executive summary of creative performance\u0027},\n      creatives: {type: \u0027array\u0027, items: {type: \u0027object\u0027, required: [\u0027name\u0027,\u0027classification\u0027,\u0027recommendation\u0027],\n        properties: {name:{type:\u0027string\u0027}, classification:{type:\u0027string\u0027,enum:[\u0027winner\u0027,\u0027optimise\u0027,\u0027underperformer\u0027]}, \n          cpl:{type:\u0027number\u0027}, qual_ratio:{type:\u0027number\u0027}, recommendation:{type:\u0027string\u0027}}}}\n    }\n  }\n}];\n\nreturn [{json: {\n  system: systemPrompt,\n  messages: [{role: \u0027user\u0027, content: \u0027Creative performance this month:\\n\\n\u0027 + creativeData}],\n  tools,\n  tool_choice: {type: \u0027any\u0027},\n  original_rows: rows\n}}];"}},{"id":"m-claude-creative-001","name":"Claude · creative-strategist","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1400],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:\u0027claude-sonnet-4-6\u0027, max_tokens:8000, system:$json.system, messages:$json.messages, tools:$json.tools, tool_choice:$json.tool_choice }) }}","options":{}}}],"connections":{"Schedule · Monthly":{"main":[[{"node":"BQ · Freshness Check","type":"main","index":0}]]},"Set Dates · Monthly":{"main":[[{"node":"Query Period Compare","type":"main","index":0},{"node":"Query Forecast","type":"main","index":0},{"node":"Query CRO","type":"main","index":0},{"node":"Query ROAS","type":"main","index":0},{"node":"Query Monitor","type":"main","index":0}]]},"Query Period Compare":{"main":[[{"node":"Collect Queries","type":"main","index":0}]]},"Query Forecast":{"main":[[{"node":"Collect Queries","type":"main","index":1}]]},"Query CRO":{"main":[[{"node":"Collect Queries","type":"main","index":2}]]},"Query ROAS":{"main":[[{"node":"Collect Queries","type":"main","index":3}]]},"Query Monitor":{"main":[[{"node":"Collect Queries","type":"main","index":4}]]},"Collect Queries":{"main":[[{"node":"Build · monthly-analyst","type":"main","index":0}]]},"Build · monthly-analyst":{"main":[[{"node":"Claude · monthly-analyst","type":"main","index":0}]]},"Claude · monthly-analyst":{"main":[[{"node":"Build · performance-lead","type":"main","index":0}]]},"Parse · monthly":{"main":[[{"node":"Post Slack · Monthly","type":"main","index":0},{"node":"Post Slack · Approvals","type":"main","index":0},{"node":"Expand Asana Tasks","type":"main","index":0},{"node":"Build Audit SQL","type":"main","index":0}]]},"Expand Asana Tasks":{"main":[[{"node":"Create Asana Task","type":"main","index":0}]]},"Build Audit SQL":{"main":[[{"node":"Audit Log → BQ","type":"main","index":0}]]},"BQ · Creative Report":{"main":[[{"node":"Code · Format Creative","type":"main","index":0}]]},"Code · Format Creative":{"main":[[{"node":"Build · creative-strategist","type":"main","index":0}]]},"Sheets · Create Creative Tab":{"main":[[{"node":"Sheets · Write Creative Rows","type":"main","index":0}]]},"Sheets · Write Creative Rows":{"main":[[{"node":"Asana · Creative Report Monthly","type":"main","index":0}]]},"BQ · LP Brief":{"main":[[{"node":"Code · Format LP Brief","type":"main","index":0}]]},"Code · Format LP Brief":{"main":[[{"node":"Asana · LP Draft Monthly","type":"main","index":0}]]},"BQ · Freshness Check":{"main":[[{"node":"IF · Data Fresh?","type":"main","index":0}]]},"IF · Data Fresh?":{"main":[[{"node":"Set Dates · Monthly","type":"main","index":0},{"node":"BQ · Creative Report","type":"main","index":0},{"node":"BQ · LP Brief","type":"main","index":0}],[{"node":"Slack · Stale Data Alert","type":"main","index":0}]]},"Build · performance-lead":{"main":[[{"node":"Claude · performance-lead","type":"main","index":0}]]},"Claude · performance-lead":{"main":[[{"node":"Parse · monthly","type":"main","index":0}]]},"Build · creative-strategist":{"main":[[{"node":"Claude · creative-strategist","type":"main","index":0}]]},"Claude · creative-strategist":{"main":[[{"node":"Sheets · Create Creative Tab","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Mohamed Irshaid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-17T07:59:51.009Z","id":67,"workflowId":"0Zh45UoTtjjhRn8U","versionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","event":"activated","userId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"},{"createdAt":"2026-06-17T08:22:19.011Z","id":75,"workflowId":"0Zh45UoTtjjhRn8U","versionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","event":"activated","userId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"},{"createdAt":"2026-06-17T08:22:18.967Z","id":74,"workflowId":"0Zh45UoTtjjhRn8U","versionId":"767a9c8d-4b0e-436b-8e1b-7e16deb7b53b","event":"deactivated","userId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"}]}}