n8n/workflows/infra_activity_page.json
{
    "name": "Infra: Agent Activity Dashboard → GitHub Pages",
    "nodes": [
        {
            "id": "schedule-trigger-001",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [-600, 0],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            }
        },
        {
            "id": "bq-system-health-001",
            "name": "BQ - System Health",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, -400],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT CAST(MAX(ts) AS STRING) AS last_ts\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE ts >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-connector-health-paid-001",
            "name": "BQ - Connector Health (Paid)",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, -240],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT channel, CAST(MAX(date) AS STRING) AS last_date,\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) AS days_stale\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\nWHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 14 DAY)\nGROUP BY channel",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-connector-health-hs-001",
            "name": "BQ - Connector Health (HubSpot)",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, -80],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT 'hubspot_leads' AS channel, CAST(MAX(date) AS STRING) AS last_date,\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) AS days_stale\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\nUNION ALL\nSELECT 'hubspot_deals', CAST(MAX(date) AS STRING),\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY)\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_deals_daily`",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-heatmap-001",
            "name": "BQ - Heatmap",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, 80],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT\n  EXTRACT(DAYOFWEEK FROM ts AT TIME ZONE 'Asia/Riyadh') AS dow,\n  EXTRACT(HOUR FROM ts AT TIME ZONE 'Asia/Riyadh') AS hr,\n  COUNT(*) AS cnt\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE ts >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\nGROUP BY dow, hr\nORDER BY dow, hr",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-activity-feed-001",
            "name": "BQ - Activity Feed",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, 240],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT CAST(ts AS STRING) AS ts, role, action, status, channel, details\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE action != 'heartbeat'\nORDER BY ts DESC LIMIT 20",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-open-tasks-001",
            "name": "BQ - Open Tasks",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-350, 400],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT title, assignee_name, CAST(due_on AS STRING) AS due_on, project_key\nFROM (\n  SELECT title, assignee_name, due_on, project_key,\n         ROW_NUMBER() OVER (PARTITION BY gid ORDER BY due_on ASC NULLS LAST) AS rn\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.asana_task_status`\n  WHERE completed = FALSE\n  AND title IS NOT NULL AND title != ''\n  AND title NOT LIKE '[Direct Log]%'\n  AND title NOT LIKE '[Agent Connection Test]%'\n)\nWHERE rn = 1\nORDER BY due_on ASC NULLS LAST LIMIT 10",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "code-build-html-001",
            "name": "Build HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [100, 0],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// ── Constants ──\nconst N8N_BASE = 'https://qoyod.app.n8n.cloud/workflow';\nconst N8N_WORKFLOWS = {\n  orchestrator: 'T8icImtZFLYeCa7e', weekly: 'iNSdpXH7Rc9Lb8h8',\n  monthly: '0Zh45UoTtjjhRn8U', growth_analyst: 'MHCdIiAtKzHNve1x',\n  perf_lead: 'Qd5SoGxZbgT1ohYP', cro: 'jfE5KKnPJQBf7MCj',\n  qual: 'PxFBmtXDVgcNGzIM', campaign_mgr: 'eL0V6ReftV2U1wNf',\n  creative: 'smHaEhWloComRQyz', qa: 'ug3niLKrjPfO9Iz7',\n  data_collection: 'jOnJxdpdaO3Vbi0B', approval: '5Acqsbxsk0XQ5k9e'\n};\nconst CONNECTORS = [\n  ['Google Ads','google_ads'],['Meta','meta'],['Snapchat','snapchat'],\n  ['TikTok','tiktok'],['LinkedIn','linkedin'],['Microsoft Ads','microsoft_ads'],\n  ['HubSpot Leads','hubspot_leads'],['HubSpot Deals','hubspot_deals']\n];\n\n// ── Data from BQ nodes ──\nconst sysHealth   = ($('BQ - System Health').all()[0] || {json:{}}).json;\nconst paidHealth  = $('BQ - Connector Health (Paid)').all().map(i=>i.json);\nconst hsHealth    = $('BQ - Connector Health (HubSpot)').all().map(i=>i.json);\nconst heatRows    = $('BQ - Heatmap').all().map(i=>i.json);\nconst actFeed     = $('BQ - Activity Feed').all().map(i=>i.json);\nconst openTasks   = $('BQ - Open Tasks').all().map(i=>i.json);\n\n// ── Helpers ──\nfunction esc(s){ return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\nfunction stalenessColor(d) {\n  if (d===null||d===undefined) return 'var(--muted)';\n  const n = parseInt(d,10);\n  if (isNaN(n)) return 'var(--muted)';\n  return n===0 ? 'var(--green)' : n===1 ? 'var(--orange)' : '#e05c5c';\n}\n\nfunction fmtTs(tsStr) {\n  if (!tsStr || tsStr==='null') return '\\u2014';\n  try {\n    const d = new Date(tsStr);\n    return d.toLocaleString('en-GB',{timeZone:'UTC',month:'short',day:'2-digit',hour:'2-digit',minute:'2-digit',hour12:false}).replace(',','') + ' UTC';\n  } catch(e) { return String(tsStr).substring(0,16); }\n}\n\nfunction freshnessStatus(tsStr) {\n  if (!tsStr || tsStr==='null') return {color:'var(--muted)',label:'No data'};\n  const now = new Date();\n  const d = new Date(tsStr);\n  const diffH = (now - d) / 3600000;\n  if (diffH < 12) return {color:'var(--green)', label: Math.floor(diffH)+'h ago'};\n  if (diffH < 24) return {color:'var(--orange)', label: Math.floor(diffH)+'h ago'};\n  return {color:'#e05c5c', label: Math.floor(diffH)+'h ago'};\n}\n\nfunction agoStr(tsStr) {\n  if (!tsStr) return '\\u2014';\n  const now = new Date();\n  const d = new Date(tsStr);\n  const m = Math.floor((now - d) / 60000);\n  if (m < 60) return m+'m ago';\n  if (m < 1440) return Math.floor(m/60)+'h ago';\n  return Math.floor(m/1440)+'d ago';\n}\n\n// ── Section 1: System Health Bar ──\nfunction buildHealthBar() {\n  const fr = freshnessStatus(sysHealth.last_ts);\n  const dot = c => `<span class=\"hdot\" style=\"background:${c};box-shadow:0 0 5px ${c}\"></span>`;\n  const nowUtc = new Date();\n  let next8 = new Date(nowUtc);\n  next8.setUTCHours(5,0,0,0);\n  if (nowUtc >= next8) next8 = new Date(next8.getTime() + 86400000);\n  const diffMs = next8 - nowUtc;\n  const nextH = Math.floor(diffMs/3600000);\n  const nextM = Math.floor((diffMs%3600000)/60000);\n  return `<div class=\"hbar\">\n  <div class=\"hchip\">${dot(fr.color)}<span class=\"hlabel\">BQ Activity</span><span class=\"hval\" style=\"color:${fr.color}\">${fr.label}</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">n8n Master</span><span class=\"hval\" style=\"color:var(--muted)\">Daily 08:00 AST</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">GitHub Actions</span><span class=\"hval\" style=\"color:var(--muted)\">Every 6h</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">GitHub Pages</span><span class=\"hval\" style=\"color:var(--green)\">Serving</span></div>\n  <div class=\"hchip\"><span class=\"hlabel\">&#8987; Next run in</span><span class=\"hval\" style=\"color:var(--muted)\">${nextH}h ${nextM}m</span></div>\n  <div class=\"hchip\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.data_collection}\" target=\"_blank\" class=\"n8n-link\">Data Collection &rarr;</a></div>\n  <div class=\"hchip\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.approval}\" target=\"_blank\" class=\"n8n-link\">Approval Listener &rarr;</a></div>\n</div>`;\n}\n\n// ── Section 2: Connector Cards ──\nfunction buildConnectorCards() {\n  const bqToSlug = {\n    'Google Ads':'google_ads','Meta':'meta','Meta Ads':'meta',\n    'Snapchat':'snapchat','Snapchat Ads':'snapchat',\n    'TikTok':'tiktok','TikTok Ads':'tiktok',\n    'LinkedIn':'linkedin','LinkedIn Ads':'linkedin',\n    'Microsoft Ads':'microsoft_ads','Bing Ads':'microsoft_ads',\n    'hubspot_leads':'hubspot_leads','hubspot_deals':'hubspot_deals'\n  };\n  const slugMap = {};\n  [...paidHealth, ...hsHealth].forEach(r => {\n    const slug = bqToSlug[r.channel] || (r.channel||'').toLowerCase().replace(/\\s+/g,'_');\n    slugMap[slug] = r;\n  });\n  return CONNECTORS.map(([name, key]) => {\n    const info = slugMap[key] || {};\n    const lastDate = info.last_date || null;\n    const daysStale = info.days_stale !== undefined ? info.days_stale : null;\n    const color = stalenessColor(daysStale);\n    const dateStr = lastDate ? String(lastDate).substring(0,10) : 'No data';\n    const staleStr = daysStale===null ? '\\u2014' : (parseInt(daysStale)===0 ? 'Fresh' : `${parseInt(daysStale)}d stale`);\n    return `<div class=\"conn-card\">\n  <div class=\"conn-top\"><span class=\"conn-name\">${esc(name)}</span><span class=\"conn-dot\" style=\"background:${color};box-shadow:0 0 4px ${color}\"></span></div>\n  <div class=\"conn-ts\">${dateStr}</div>\n  <div class=\"conn-status\" style=\"color:${color}\">${staleStr}</div>\n</div>`;\n  }).join('\\n');\n}\n\n// ── Section 3: Heat Map ──\nfunction buildHeatmap() {\n  const DOW_LABELS = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];\n  const DOW_ORDER  = [2,3,4,5,6,7,1];\n  const lookup = {};\n  heatRows.forEach(r => { lookup[`${r.dow}_${r.hr}`] = parseInt(r.cnt)||0; });\n  const maxCnt = Math.max(1, ...Object.values(lookup).concat([1]));\n  const hourHeaders = Array.from({length:24},(_,h)=>`<th class=\"hm-h\">${String(h).padStart(2,'0')}</th>`).join('');\n  const rowsHtml = DOW_ORDER.map((dow,i) => {\n    const cells = Array.from({length:24},(_,hr) => {\n      const cnt = lookup[`${dow}_${hr}`]||0;\n      const alpha = cnt ? (cnt/maxCnt).toFixed(2) : '0';\n      const bg = cnt ? `rgba(0,255,136,${alpha})` : 'var(--border)';\n      return `<td class=\"hm-cell\" style=\"background:${bg}\" title=\"${cnt} events\"></td>`;\n    }).join('');\n    return `<tr><th class=\"hm-row\">${DOW_LABELS[i]}</th>${cells}</tr>`;\n  }).join('');\n  return `<div class=\"hm-wrap\"><table class=\"hm-table\"><thead><tr><th></th>${hourHeaders}</tr></thead><tbody>${rowsHtml}</tbody></table>\n<div class=\"hm-legend\"><span style=\"color:var(--muted);font-size:11px\">Less</span><div class=\"hm-grad\"></div><span style=\"color:var(--muted);font-size:11px\">More</span><span style=\"color:var(--muted);font-size:11px;margin-left:16px\">Asia/Riyadh &middot; last 7 days</span></div></div>`;\n}\n\n// ── Section 4: Activity Feed ──\nfunction buildActivityFeed() {\n  if (!actFeed.length) return '<div class=\"feed-empty\">No activity in the last 7 days &mdash; BQ may be unreachable</div>';\n  const STATUS_COLOR = {\n    success:'var(--green)',failed:'#e05c5c',skipped:'var(--muted)',\n    pending_approval:'var(--orange)',approved:'var(--green)',rejected:'#e05c5c'\n  };\n  return actFeed.map(r => {\n    const color = STATUS_COLOR[(r.status||'').toLowerCase()] || 'var(--dim)';\n    const chTag = r.channel ? `<span class=\"feed-ch\">${esc(r.channel)}</span>` : '';\n    return `<div class=\"feed-row\"><span class=\"feed-ts\">${fmtTs(r.ts)}</span><span class=\"feed-role\">${esc(r.role)}</span>${chTag}<span class=\"feed-action\">${esc(r.action)}</span><span class=\"feed-badge\" style=\"color:${color};border-color:${color}\">${esc(r.status)}</span></div>`;\n  }).join('');\n}\n\n// ── Section 6: Actions & Tasks ──\nfunction buildActionsAndTasks() {\n  const recent = actFeed.slice(0,10);\n  const todayStr = new Date(new Date().getTime()+3*3600000).toISOString().substring(0,10);\n  const actionsHtml = recent.length ? recent.map(r => {\n    const status = (r.status||'').toLowerCase();\n    const sc = status==='success'?'at-status-ok':(status==='failed'||status==='error')?'at-status-fail':'at-status-pend';\n    const ch = r.channel ? ` &middot; ${esc(r.channel)}` : '';\n    return `<div class=\"at-row\"><span class=\"at-role\">${esc(r.role)}</span><span style=\"flex:1\">${esc(r.action)}${ch}</span><span class=\"${sc}\">${esc(r.status)}</span><span style=\"color:var(--muted);font-size:10px;margin-left:6px\">${agoStr(r.ts)}</span></div>`;\n  }).join('') : '<div class=\"at-empty\">No recent actions &mdash; Daily workflow has not completed yet</div>';\n  const tasksHtml = openTasks.length ? openTasks.map(r => {\n    const due = r.due_on ? String(r.due_on).substring(0,10) : '\\u2014';\n    const overdue = r.due_on && due < todayStr;\n    const cls = overdue ? ' at-overdue' : '';\n    const assign = r.assignee_name ? ` &middot; ${esc(r.assignee_name)}` : '';\n    const proj = r.project_key ? `<span style=\"color:var(--muted);font-size:10px\">${esc(r.project_key)}</span>` : '';\n    return `<div class=\"at-row\"><span style=\"flex:1\">${esc(r.title)}${assign} ${proj}</span><span class=\"at-status-pend${cls}\">${due}</span></div>`;\n  }).join('') : '<div class=\"at-empty\">No open tasks found</div>';\n  return `<div class=\"at-grid\">\n<div class=\"at-card\"><div class=\"at-title\">Recent Actions</div>${actionsHtml}</div>\n<div class=\"at-card\"><div class=\"at-title\">Open Asana Tasks</div>${tasksHtml}</div>\n<div class=\"at-card\"><div class=\"at-title\">Pending Approvals</div>\n<div style=\"font-size:12px;color:var(--dim);line-height:1.7\">Approvals are managed in Slack <strong>#approvals</strong>.<br>React <strong>&#10003;</strong> to execute all scale + pause items.<br>React <strong>&#10007;</strong> to skip.</div>\n<div style=\"margin-top:10px\"><a href=\"#\" class=\"n8n-link\">Open #approvals in Slack &rarr;</a></div>\n<div style=\"margin-top:14px;font-size:11px;color:var(--muted)\">optimize / junk / drilldown items are review-only &mdash; Asana tasks already created, no further execution needed.</div></div></div>`;\n}\n\n// ── Generate timestamp ──\nconst nowStr = new Date().toLocaleString('en-GB',{timeZone:'Asia/Riyadh',day:'2-digit',month:'short',year:'numeric',hour:'2-digit',minute:'2-digit',hour12:false}).replace(',','') + ' AST';\n\n// ── Assemble HTML ──\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta http-equiv=\"refresh\" content=\"3600\">\n<title>Nexa Performance Agent</title>\n<style>\n*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\n:root{\n  --bg:#0d0d0d;--card:#1a1a1a;--panel:#141414;--border:#2a2a2a;\n  --text:#e6e6e6;--dim:#aaa;--muted:#888;\n  --blue:#58a6ff;--lblue:#79c0ff;--purple:#d2a8ff;\n  --orange:#f0883e;--warm-orange:#ffa657;--green:#3fb950;--lgreen:#7ee787;\n  --grey:#8b949e;--red:#f85149;--accent:#00ff88;\n}\nbody{background:var(--bg);color:var(--text);\n  font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif;\n  font-size:14px;line-height:1.5;min-height:100vh}\nheader{display:flex;align-items:center;gap:10px;padding:16px 24px;\n  border-bottom:1px solid var(--border);background:#111;\n  position:sticky;top:0;z-index:100}\nheader h1{font-size:16px;font-weight:600;letter-spacing:.3px}\n.dot{width:8px;height:8px;border-radius:50%;background:var(--accent);\n  box-shadow:0 0 6px var(--accent);flex-shrink:0}\n.htag{margin-left:auto;font-size:11px;color:var(--muted);background:#222;\n  padding:3px 8px;border-radius:4px;border:1px solid var(--border)}\nmain{max-width:1160px;margin:0 auto;padding:28px 20px 60px}\n.sec{font-size:11px;font-weight:600;text-transform:uppercase;\n  letter-spacing:1.2px;color:var(--muted);margin:32px 0 14px;\n  display:flex;align-items:center;gap:8px}\n.sec::after{content:\"\";flex:1;height:1px;background:var(--border)}\n/* Health bar */\n.hbar{display:flex;flex-wrap:wrap;gap:10px;margin-bottom:4px}\n.hchip{display:flex;align-items:center;gap:7px;background:var(--card);\n  border:1px solid var(--border);border-radius:20px;padding:6px 14px;\n  font-size:12px}\n.hdot{width:8px;height:8px;border-radius:50%;flex-shrink:0}\n.hlabel{color:var(--dim)}\n.hval{font-weight:600}\n/* Connector cards */\n.conn-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:12px}\n@media(max-width:900px){.conn-grid{grid-template-columns:repeat(2,1fr)}}\n@media(max-width:520px){.conn-grid{grid-template-columns:1fr}}\n.conn-card{background:var(--card);border:1px solid var(--border);\n  border-radius:8px;padding:14px 16px;display:flex;flex-direction:column;gap:5px}\n.conn-top{display:flex;align-items:center;justify-content:space-between}\n.conn-name{font-size:13px;font-weight:600}\n.conn-dot{width:8px;height:8px;border-radius:50%;flex-shrink:0}\n.conn-ts{font-size:11px;color:var(--muted)}\n.conn-status{font-size:11px;font-weight:600}\n/* Heatmap */\n.hm-wrap{overflow-x:auto}\n.hm-table{border-collapse:collapse;font-size:10px}\n.hm-h{color:var(--muted);padding:2px 3px;text-align:center;font-weight:400;width:22px}\n.hm-row{color:var(--dim);padding:2px 8px 2px 0;text-align:right;\n  font-size:11px;white-space:nowrap;font-weight:500}\n.hm-cell{width:22px;height:18px;border-radius:3px;cursor:default}\n.hm-legend{display:flex;align-items:center;gap:8px;margin-top:8px}\n.hm-grad{width:80px;height:10px;border-radius:4px;\n  background:linear-gradient(to right,var(--border),var(--accent))}\n/* Activity feed */\n.feed-row{display:flex;align-items:center;gap:10px;padding:8px 12px;\n  border-bottom:1px solid var(--border);font-size:12px;flex-wrap:wrap}\n.feed-row:last-child{border-bottom:none}\n.feed-ts{color:var(--muted);white-space:nowrap;min-width:110px}\n.feed-role{color:var(--blue);font-weight:600;min-width:120px}\n.feed-ch{background:#1f1f1f;color:var(--dim);border:1px solid var(--border);\n  border-radius:4px;padding:1px 6px;font-size:10px}\n.feed-action{flex:1;color:var(--text)}\n.feed-badge{font-size:10px;font-weight:700;text-transform:uppercase;\n  padding:2px 7px;border-radius:10px;border:1px solid;white-space:nowrap}\n.feed-empty{color:var(--muted);font-size:12px;padding:16px;\n  background:var(--card);border:1px solid var(--border);border-radius:8px}\n.feed-wrap{background:var(--card);border:1px solid var(--border);border-radius:8px;overflow:hidden}\n/* Cadence */\n.cgrid{display:grid;grid-template-columns:repeat(3,1fr);gap:14px}\n@media(max-width:700px){.cgrid{grid-template-columns:1fr}}\n.ccard{background:var(--card);border:1px solid var(--border);border-radius:8px;\n  padding:14px 16px;display:flex;justify-content:space-between;\n  align-items:flex-start;gap:12px}\n.cname{font-size:13px;font-weight:600}\n.cdesc{font-size:11px;color:var(--muted);margin-top:3px}\n.csched{font-size:11px;color:var(--muted);background:#111;\n  padding:3px 8px;border-radius:4px;font-family:monospace;white-space:nowrap;flex-shrink:0}\n/* Agent panels */\n.agent-panel{border-left:4px solid var(--panel-color,#444);\n  background:var(--panel);border-radius:8px;margin-bottom:18px;overflow:hidden}\n.agent-header{display:flex;align-items:center;gap:10px;\n  padding:14px 18px;border-bottom:1px solid var(--border);\n  background:color-mix(in srgb,var(--panel-color,#444) 8%,var(--panel))}\n.agent-icon{font-size:18px}\n.agent-name{font-size:15px;font-weight:700;color:var(--panel-color,#e6e6e6)}\n.agent-desc{font-size:12px;color:var(--dim);flex:1}\n.dept-chip{font-size:10px;font-weight:700;text-transform:uppercase;\n  letter-spacing:.8px;padding:2px 8px;border-radius:10px;\n  border:1px solid currentColor;color:var(--panel-color,#888);opacity:.8;white-space:nowrap}\n.agent-body{padding:16px 18px}\n.orch-card{background:color-mix(in srgb,#f0883e 6%,#111);\n  border:1px solid color-mix(in srgb,#f0883e 20%,var(--border));\n  border-radius:8px;padding:16px 20px}\n.orch-title{font-size:13px;font-weight:700;color:#f0883e;margin-bottom:8px}\n.orch-loop{list-style:none;counter-reset:loop;display:flex;flex-direction:column;gap:5px}\n.orch-loop li{counter-increment:loop;display:flex;align-items:flex-start;gap:8px;\n  font-size:12px;color:var(--dim)}\n.orch-loop li::before{content:counter(loop);min-width:18px;height:18px;\n  border-radius:50%;background:color-mix(in srgb,#f0883e 25%,#222);\n  color:#f0883e;font-size:10px;font-weight:700;display:flex;align-items:center;\n  justify-content:center;flex-shrink:0;margin-top:1px}\n.sub-panel{border-left:2px solid var(--sub-color,#444);\n  background:color-mix(in srgb,var(--sub-color,#444) 5%,#0f0f0f);\n  border-radius:6px;margin-bottom:14px;overflow:hidden;margin-left:24px}\n.sub-header{display:flex;align-items:center;gap:8px;\n  padding:10px 14px;border-bottom:1px solid var(--border)}\n.sub-arrow{font-size:14px;color:var(--dim);flex-shrink:0}\n.sub-name{font-size:13px;font-weight:700;color:var(--sub-color,#e6e6e6)}\n.sub-desc{font-size:11px;color:var(--muted);flex:1}\n.sub-chip{font-size:10px;font-weight:700;text-transform:uppercase;\n  letter-spacing:.8px;padding:2px 8px;border-radius:10px;\n  border:1px solid currentColor;color:var(--sub-color,#888);opacity:.8;white-space:nowrap}\n.sub-body{padding:12px 14px}\n.grid{display:grid;grid-template-columns:repeat(3,1fr);gap:12px}\n@media(max-width:900px){.grid{grid-template-columns:repeat(2,1fr)}}\n@media(max-width:520px){.grid{grid-template-columns:1fr}}\n.grid-2{display:grid;grid-template-columns:repeat(2,1fr);gap:12px}\n@media(max-width:600px){.grid-2{grid-template-columns:1fr}}\n.card{background:var(--card);border:1px solid var(--border);border-radius:7px;\n  padding:14px;display:flex;flex-direction:column;gap:8px;\n  transition:border-color .15s}\n.card:hover{border-color:#3a3a3a}\n.ctitle{font-size:13px;font-weight:600}\n.cdesc2{font-size:12px;color:var(--dim);flex:1}\n.cfoot{display:flex;align-items:center;justify-content:space-between;\n  margin-top:4px;gap:6px}\n.cnote{font-size:11px;color:var(--muted)}\n.n8n-link{color:#f0883e;font-size:11px;text-decoration:none;\n  border:1px solid #f0883e44;padding:2px 8px;border-radius:4px;white-space:nowrap}\n.n8n-link:hover{background:#f0883e22}\n.n8n-run-btn{color:#111;background:#f0883e;font-size:12px;font-weight:700;\n  text-decoration:none;border:none;padding:5px 14px;border-radius:6px;\n  white-space:nowrap;display:inline-block;margin-top:10px}\n.n8n-run-btn:hover{background:#ffa657}\n.at-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:16px}\n@media(max-width:900px){.at-grid{grid-template-columns:1fr}}\n.at-card{background:var(--card);border:1px solid var(--border);border-radius:8px;\n  padding:16px;display:flex;flex-direction:column;gap:6px}\n.at-title{font-size:13px;font-weight:700;margin-bottom:4px}\n.at-row{font-size:11px;color:var(--dim);padding:4px 0;\n  border-bottom:1px solid var(--border);display:flex;flex-wrap:wrap;gap:6px;\n  align-items:center}\n.at-row:last-child{border-bottom:none}\n.at-role{color:var(--blue);font-weight:600;min-width:90px}\n.at-status-ok{color:var(--green);font-weight:600}\n.at-status-fail{color:#e05c5c;font-weight:600}\n.at-status-pend{color:var(--orange);font-weight:600}\n.at-overdue{color:#e05c5c;font-weight:600}\n.at-empty{color:var(--muted);font-size:12px;font-style:italic}\n</style>\n</head>\n<body>\n<header>\n  <div class=\"dot\"></div>\n  <h1>Nexa Performance Agent</h1>\n  <span class=\"htag\">n8n Cloud &bull; GitHub Pages</span>\n</header>\n<main>\n\n<!-- SYSTEM HEALTH BAR -->\n<div class=\"sec\">System Health</div>\n${buildHealthBar()}\n\n<!-- CONNECTOR HEALTH CARDS -->\n<div class=\"sec\">Connector Health</div>\n<div class=\"conn-grid\">\n${buildConnectorCards()}\n</div>\n\n<!-- ACTIVITY HEAT MAP -->\n<div class=\"sec\">Activity Heat Map &mdash; Last 7 Days</div>\n${buildHeatmap()}\n\n<!-- RECENT AGENT ACTIVITY -->\n<div class=\"sec\">Recent Agent Activity</div>\n<div class=\"feed-wrap\">\n${buildActivityFeed()}\n</div>\n\n<!-- CADENCE FLOWS -->\n<div class=\"sec\">Cadence Flows</div>\n<div class=\"cgrid\">\n  <div class=\"ccard\">\n    <div>\n      <div class=\"cname\">Daily Master</div>\n      <div class=\"cdesc\">Full daily analysis: spend, leads, CPQL, anomaly detection, Slack summary, pause/scale candidates</div>\n      <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.orchestrator}\" target=\"_blank\" class=\"n8n-link\">Open Daily in n8n &rarr;</a></div>\n    </div>\n    <div class=\"csched\">05:00 UTC daily</div>\n  </div>\n  <div class=\"ccard\">\n    <div>\n      <div class=\"cname\">Weekly Review</div>\n      <div class=\"cdesc\">7-day vs prior-7 period comparison, keyword autofix, channel flags, weekly Slack digest</div>\n      <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.weekly}\" target=\"_blank\" class=\"n8n-link\">Open Weekly in n8n &rarr;</a></div>\n    </div>\n    <div class=\"csched\">Sun 05:00 UTC</div>\n  </div>\n  <div class=\"ccard\">\n    <div>\n      <div class=\"cname\">Monthly Review</div>\n      <div class=\"cdesc\">MoM review, OKR tracking, budget reconciliation, 30-day forecast</div>\n      <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.monthly}\" target=\"_blank\" class=\"n8n-link\">Open Monthly in n8n &rarr;</a></div>\n    </div>\n    <div class=\"csched\">1st 05:00 UTC</div>\n  </div>\n</div>\n\n<!-- ACTIONS & TASKS -->\n<div class=\"sec\">Actions &amp; Tasks</div>\n${buildActionsAndTasks()}\n\n<!-- AGENT TEAM -->\n<div class=\"sec\">Agent Team</div>\n\n<!-- AI Orchestrator -->\n<div class=\"agent-panel\" style=\"--panel-color:#f0883e\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#127775;</span>\n    <span class=\"agent-name\">AI Orchestrator</span>\n    <span class=\"agent-desc\">Routes all work &middot; gates every &#10003; &middot; daily 8-step loop at 08:00 Riyadh</span>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.orchestrator}\" target=\"_blank\" class=\"n8n-link\">Open Daily in n8n &rarr;</a>\n    <span class=\"dept-chip\">MANAGER</span>\n  </div>\n  <div class=\"agent-body\">\n    <div class=\"orch-card\">\n      <div class=\"orch-title\">The 8-Step Intelligence Loop (runs every daily cadence)</div>\n      <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.orchestrator}\" target=\"_blank\" class=\"n8n-run-btn\">&#9654; Run Daily Now</a>\n      <ol class=\"orch-loop\" style=\"margin-top:12px\">\n        <li>OBSERVE &mdash; pull live data from BQ, never yesterday&#39;s recollection</li>\n        <li>COMPARE period-over-period &mdash; last 7d vs prior 7d via period_compare.py</li>\n        <li>INVESTIGATE root cause &mdash; campaign mix, audience, launch waves, silent deaths, LP routing</li>\n        <li>DECIDE with full setup &mdash; complete campaign/adset/creative/LP spec, not just &ldquo;pause this&rdquo;</li>\n        <li>EXECUTE only after &#10003; approval &mdash; #approvals + &#10003;/&#10007; flow</li>\n        <li>MONITOR post-action &mdash; re-evaluate every action at 7d and 14d</li>\n        <li>LEARN &mdash; record outcome in memory/14_learning_patterns.md</li>\n        <li>FORECAST &mdash; end-of-month projection via forecaster.py (spend, leads, SQLs, CPQL, ROAS)</li>\n      </ol>\n    </div>\n  </div>\n</div>\n\n<!-- Layer 2 Operations -->\n<div class=\"sec\">Layer 2 &mdash; Operations</div>\n\n<!-- QA Auditor -->\n<div class=\"agent-panel\" style=\"--panel-color:var(--red)\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#128270;</span>\n    <span class=\"agent-name\">QA Auditor</span>\n    <span class=\"agent-desc\">Validates every agent output &middot; stamps QA_PASSED or QA_FAILED &middot; nothing ships without passing</span>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.qa}\" target=\"_blank\" class=\"n8n-link\">QA Gate &rarr;</a>\n    <span class=\"dept-chip\">GATEKEEPER</span>\n  </div>\n  <div class=\"agent-body\">\n    <div class=\"grid-2\">\n      <div class=\"card\">\n        <div class=\"ctitle\">QA Validation Run</div>\n        <div class=\"cdesc2\">Run validation checklist on recent agent outputs: data integrity, task completeness, approval gate, format, technical checks</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Project Coordinator -->\n<div class=\"agent-panel\" style=\"--panel-color:var(--grey)\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#128295;</span>\n    <span class=\"agent-name\">Project Coordinator</span>\n    <span class=\"agent-desc\">Seasonal &amp; product campaign coordination &middot; all-seat Asana task creation &middot; Slack monitoring &middot; monthly campaign reports &middot; connector health &middot; GTM &middot; pixel audit</span>\n    <span class=\"dept-chip\">OPS</span>\n  </div>\n  <div class=\"agent-body\">\n    <div style=\"margin-bottom:10px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:1px;color:var(--blue);border-bottom:1px solid color-mix(in srgb,var(--blue) 25%,var(--border));padding-bottom:6px\">Campaign Coordination</div>\n    <div class=\"grid\" style=\"margin-bottom:22px\">\n      <div class=\"card\" style=\"border-color:color-mix(in srgb,var(--blue) 18%,var(--border))\">\n        <div class=\"ctitle\" style=\"color:var(--blue)\">Seasonal Campaign Brief</div>\n        <div class=\"cdesc2\">Kick off a seasonal campaign (National Day &middot; Founding Day &middot; Ramadan &middot; End of Year). Timeline, budget, naming, Asana tasks for all seats.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\" style=\"border-color:color-mix(in srgb,var(--blue) 18%,var(--border))\">\n        <div class=\"ctitle\" style=\"color:var(--blue)\">Seasonal Campaign Monitor</div>\n        <div class=\"cdesc2\">Status check: Asana tasks on track, blockers in Slack, mid-campaign CPQL vs target, delivery dates</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\" style=\"border-color:color-mix(in srgb,var(--blue) 18%,var(--border))\">\n        <div class=\"ctitle\" style=\"color:var(--blue)\">Product Campaign Brief</div>\n        <div class=\"cdesc2\">Launch a product/industry campaign (Bookkeeping &middot; Qflavours &middot; QHR &middot; POS). Includes HubSpot lead module check, deal pipeline, UTM structure, all-seat Asana tasks.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\" style=\"border-color:color-mix(in srgb,var(--blue) 18%,var(--border))\">\n        <div class=\"ctitle\" style=\"color:var(--blue)\">Product Campaign Monitor</div>\n        <div class=\"cdesc2\">Monitor active product campaigns: HubSpot attribution, deal pipeline conversion, CPQL vs target, Slack blockers</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\" style=\"border-color:color-mix(in srgb,var(--blue) 18%,var(--border))\">\n        <div class=\"ctitle\" style=\"color:var(--blue)\">Monthly Campaign Report</div>\n        <div class=\"cdesc2\">End-of-month report: all seasonal + product campaigns. Spend &middot; leads &middot; SQLs &middot; CPQL vs target &middot; deal value. Creates follow-up Asana tasks for misses.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n    </div>\n    <div style=\"margin-bottom:10px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:1px;color:var(--grey);border-bottom:1px solid color-mix(in srgb,var(--grey) 25%,var(--border));padding-bottom:6px\">Technical Health</div>\n    <div class=\"grid\">\n      <div class=\"card\">\n        <div class=\"ctitle\">Connector Health</div>\n        <div class=\"cdesc2\">Check BQ freshness for all source tables. Flag STALE (&gt;12h) or DEAD (&gt;24h) connectors.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #data-health</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">GTM Audit</div>\n        <div class=\"cdesc2\">Audit GTM-TFH26VC2 (web) + GTM-PK6924TJ (server): tags, triggers, UTM passthrough, duplicates</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">Meta Pixel Health</div>\n        <div class=\"cdesc2\">Verify both Meta pixels fire on every LP form submit. Flag gaps in Events Manager.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #data-health</span></div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Layer 3 Performance -->\n<div class=\"sec\">Layer 3 &mdash; Performance</div>\n\n<!-- Performance Lead -->\n<div class=\"agent-panel\" style=\"--panel-color:var(--blue)\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#127919;</span>\n    <span class=\"agent-name\">Performance Lead</span>\n    <span class=\"agent-desc\">KPI thresholds &middot; budget allocation &middot; channel mix &middot; triage to Campaign Manager or Creative Strategist</span>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.perf_lead}\" target=\"_blank\" class=\"n8n-link\">CPL sub-flow &rarr;</a>\n    <span class=\"dept-chip\">PERFORMANCE</span>\n  </div>\n  <div class=\"agent-body\">\n    <div class=\"grid\" style=\"margin-bottom:18px\">\n      <div class=\"card\">\n        <div class=\"ctitle\">Campaign Brief</div>\n        <div class=\"cdesc2\">Full brief for a new campaign: audience, creative direction, budget, naming, KPI gates</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">Monthly Plan</div>\n        <div class=\"cdesc2\">Monthly performance plan with targets, channel allocation, and action priorities</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">Quarterly Plan</div>\n        <div class=\"cdesc2\">Quarterly strategy: OKRs, budget roadmap by month, risk &amp; upside analysis</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">KPI Threshold Review</div>\n        <div class=\"cdesc2\">Review live CPQL/CPL/ROAS against config.py thresholds &mdash; flag if calibration needed</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n    </div>\n    <!-- Campaign Manager sub-panel -->\n    <div class=\"sub-panel\" style=\"--sub-color:var(--lblue)\">\n      <div class=\"sub-header\">\n        <span class=\"sub-arrow\">&#8618;</span>\n        <span class=\"sub-name\">Campaign Manager</span>\n        <span class=\"sub-desc\">Campaign optimization &middot; keyword policy &middot; ad audit &middot; scale &amp; pause proposals &middot; naming convention</span>\n        <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.campaign_mgr}\" target=\"_blank\" class=\"n8n-link\">IS sub-flow &rarr;</a>\n        <span class=\"sub-chip\">PERFORMANCE</span>\n      </div>\n      <div class=\"sub-body\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <div class=\"ctitle\">Keyword Audit</div>\n            <div class=\"cdesc2\">Scan enabled keywords for policy violations: always-negative patterns, wrong language, QS&lt;5+IS&gt;80%</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Ad Audit</div>\n            <div class=\"cdesc2\">Scan live ads: zero-conv ($70/7d), junk leads (60%+ disqualified), high CPL (&gt;$50/10d)</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Campaign Health</div>\n            <div class=\"cdesc2\">ROAS &rarr; CPQL &rarr; CPL waterfall per channel. Flag campaigns outside KPI zones.</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Scale Proposal</div>\n            <div class=\"cdesc2\">Identify campaigns with CPQL &le;$60 over 14d and generate full scale proposals for #approvals</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Campaign Naming Audit</div>\n            <div class=\"cdesc2\">Validate all live campaign names against {Channel}_{Type}_{Language}_{Product}_{Audience}. Flag &ldquo;Prospecting&rdquo; audience, wrong product names, LinkedIn UTM mismatches.</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n        </div>\n      </div>\n    </div>\n    <!-- Creative Strategist sub-panel -->\n    <div class=\"sub-panel\" style=\"--sub-color:var(--purple)\">\n      <div class=\"sub-header\">\n        <span class=\"sub-arrow\">&#8618;</span>\n        <span class=\"sub-name\">Creative Strategist</span>\n        <span class=\"sub-desc\">OCEAN persona mapping &middot; creative variants &middot; MSA Arabic copy &middot; LP asset alignment</span>\n        <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.creative}\" target=\"_blank\" class=\"n8n-link\">Creative sub-flow &rarr;</a>\n        <span class=\"sub-chip\">PERFORMANCE</span>\n      </div>\n      <div class=\"sub-body\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <div class=\"ctitle\">Creative Analysis</div>\n            <div class=\"cdesc2\">Rank creatives by qualified leads, CPQL, CTR, and video VTR (video-aware analysis)</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Creative Brief</div>\n            <div class=\"cdesc2\">Generate brief for next creative batch: winning patterns, variants, OCEAN mapping, copy hooks</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">Creative Audit</div>\n            <div class=\"cdesc2\">Audit live creatives for fatigue (&gt;30d), duplicate variants, CTR &lt;0.5%, VTR &lt;15%</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n          <div class=\"card\">\n            <div class=\"ctitle\">OCEAN Persona Map</div>\n            <div class=\"cdesc2\">Map target audiences to OCEAN dimensions (O/C/E/A/N) for a product or campaign</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Layer 3 CRO Chain -->\n<div class=\"sec\">Layer 3 &mdash; CRO Chain</div>\n\n<!-- CRO Specialist -->\n<div class=\"agent-panel\" style=\"--panel-color:var(--orange)\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#128200;</span>\n    <span class=\"agent-name\">CRO Specialist</span>\n    <span class=\"agent-desc\">LP briefs &middot; qual ratio decisions (redirect at &lt;30%) &middot; A/B test hypotheses &middot; test result calls</span>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.cro}\" target=\"_blank\" class=\"n8n-link\">CPQL sub-flow &rarr;</a>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.qual}\" target=\"_blank\" class=\"n8n-link\">Qual sub-flow &rarr;</a>\n    <span class=\"dept-chip\">CRO CHAIN</span>\n  </div>\n  <div class=\"agent-body\">\n    <div class=\"grid-2\" style=\"margin-bottom:18px\">\n      <div class=\"card\">\n        <div class=\"ctitle\">LP Brief</div>\n        <div class=\"cdesc2\">8-section LP brief: objective, OCEAN audience, hypothesis, success criteria, ZATCA badge, timeline</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">LP Performance Analysis</div>\n        <div class=\"cdesc2\">Analyse qual rate by destination_url. Flag LPs &lt;30% qual rate for immediate redirect.</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n    </div>\n    <!-- UI/UX Designer sub-panel -->\n    <div class=\"sub-panel\" style=\"--sub-color:var(--warm-orange)\">\n      <div class=\"sub-header\">\n        <span class=\"sub-arrow\">&#8618;</span>\n        <span class=\"sub-name\">UI/UX Designer</span>\n        <span class=\"sub-desc\">LP design from CRO brief &middot; OCEAN-aligned visual tone &middot; ZATCA badge above fold &middot; mobile-first 375px</span>\n        <span class=\"sub-chip\">CRO CHAIN</span>\n      </div>\n      <div class=\"sub-body\">\n        <div class=\"grid-2\" style=\"margin-bottom:14px\">\n          <div class=\"card\">\n            <div class=\"ctitle\">Design Brief</div>\n            <div class=\"cdesc2\">Generate LP design brief: OCEAN visual mapping, ZATCA placement, RTL layout, form field names, interaction notes, handoff checklist for Developer</div>\n            <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n          </div>\n        </div>\n        <!-- Developer sub-panel (nested) -->\n        <div class=\"sub-panel\" style=\"--sub-color:var(--lgreen);margin-left:0\">\n          <div class=\"sub-header\">\n            <span class=\"sub-arrow\">&#8618;</span>\n            <span class=\"sub-name\">Developer</span>\n            <span class=\"sub-desc\">LP build &middot; UTM hidden fields on every form &middot; Meta pixel wiring &middot; mobile QA &middot; deploy to production</span>\n            <span class=\"sub-chip\">CRO CHAIN</span>\n          </div>\n          <div class=\"sub-body\">\n            <div class=\"grid-2\">\n              <div class=\"card\">\n                <div class=\"ctitle\">UTM Form Check</div>\n                <div class=\"cdesc2\">Audit all active LPs: hidden UTM fields on every form, HubSpot capturing all UTMs, mobile 375px renders correctly, &lt;3s load time</div>\n                <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #data-health</span></div>\n              </div>\n              <div class=\"card\">\n                <div class=\"ctitle\">Pixel Verification</div>\n                <div class=\"cdesc2\">Verify both Meta pixels firing (base + Lead event) on all active LPs via Events Manager</div>\n                <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #data-health</span></div>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Layer 3 Data -->\n<div class=\"sec\">Layer 3 &mdash; Data</div>\n\n<!-- Growth Analyst -->\n<div class=\"agent-panel\" style=\"--panel-color:var(--green)\">\n  <div class=\"agent-header\">\n    <span class=\"agent-icon\">&#128202;</span>\n    <span class=\"agent-name\">Growth Analyst</span>\n    <span class=\"agent-desc\">BQ analysis &middot; period comparisons &middot; flag investigations &middot; forecasts &middot; owns memory/08_pitfalls.md</span>\n    <a href=\"${N8N_BASE}/${N8N_WORKFLOWS.growth_analyst}\" target=\"_blank\" class=\"n8n-link\">ROAS sub-flow &rarr;</a>\n    <span class=\"dept-chip\">DATA</span>\n  </div>\n  <div class=\"agent-body\">\n    <div class=\"grid\">\n      <div class=\"card\">\n        <div class=\"ctitle\">Period Comparison</div>\n        <div class=\"cdesc2\">7d vs prior-7d for all channels: spend, leads, SQLs, CPQL, CPL, ROAS, qual rate, IS, CTR</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">Campaign Deep Dive</div>\n        <div class=\"cdesc2\">Root cause analysis on a specific CPQL/ROAS/qual flag: contributing factors, attribution</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n      <div class=\"card\">\n        <div class=\"ctitle\">Forecast</div>\n        <div class=\"cdesc2\">End-of-month projection: spend, leads, SQLs, CPQL, ROAS &mdash; status-quo vs post-action paths</div>\n        <div class=\"cfoot\"><span class=\"cnote\">Results &rarr; #approvals</span></div>\n      </div>\n    </div>\n  </div>\n</div>\n\n</main>\n</body></html>`;\n\nconst base64 = Buffer.from(html).toString('base64');\nreturn [{ json: { html, base64 } }];"
            }
        },
        {
            "id": "http-get-sha-001",
            "name": "GitHub - Get SHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [350, 0],
            "parameters": {
                "method": "GET",
                "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        }
                    ]
                },
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "http-push-html-001",
            "name": "GitHub - Push HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [600, 0],
            "parameters": {
                "method": "PUT",
                "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ message: 'chore(pages): update activity dashboard ' + new Date().toISOString().substring(0,16), content: $('Build HTML').first().json.base64, sha: ($('GitHub - Get SHA').first().json.sha || undefined) }) }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {"node": "BQ - System Health",              "type": "main", "index": 0},
                    {"node": "BQ - Connector Health (Paid)",    "type": "main", "index": 0},
                    {"node": "BQ - Connector Health (HubSpot)", "type": "main", "index": 0},
                    {"node": "BQ - Heatmap",                   "type": "main", "index": 0},
                    {"node": "BQ - Activity Feed",             "type": "main", "index": 0},
                    {"node": "BQ - Open Tasks",                "type": "main", "index": 0}
                ]
            ]
        },
        "BQ - System Health": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 0}]]
        },
        "BQ - Connector Health (Paid)": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 1}]]
        },
        "BQ - Connector Health (HubSpot)": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 2}]]
        },
        "BQ - Heatmap": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 3}]]
        },
        "BQ - Activity Feed": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 4}]]
        },
        "BQ - Open Tasks": {
            "main": [[{"node": "Build HTML", "type": "main", "index": 5}]]
        },
        "Build HTML": {
            "main": [[{"node": "GitHub - Get SHA", "type": "main", "index": 0}]]
        },
        "GitHub - Get SHA": {
            "main": [[{"node": "GitHub - Push HTML", "type": "main", "index": 0}]]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
