n8n/workflows/infra_activity_page.json
{
    "name": "Infra: Agent Activity Dashboard → GitHub Pages",
    "nodes": [
        {
            "id": "schedule-trigger-001",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [-400, 0],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            }
        },
        {
            "id": "bq-recent-actions-001",
            "name": "BQ - Recent Actions",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-150, -200],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT\n  COALESCE(role, 'unknown') AS role,\n  COALESCE(action, '') AS action,\n  COALESCE(status, 'unknown') AS status,\n  COALESCE(details, '') AS details,\n  COALESCE(channel, '') AS channel,\n  CAST(ts AS STRING) AS ts\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nORDER BY ts DESC\nLIMIT 50",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-open-tasks-001",
            "name": "BQ - Open Tasks",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-150, 0],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT\n  COALESCE(gid, '') AS gid,\n  COALESCE(title, '') AS title,\n  COALESCE(assignee_name, '') AS assignee_name,\n  CAST(due_on AS STRING) AS due_on\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.asana_task_status`\nWHERE completed = FALSE\n  AND LOWER(COALESCE(title, '')) NOT LIKE '%direct log%'\n  AND LOWER(COALESCE(title, '')) NOT LIKE '%connection test%'\n  AND LOWER(COALESCE(title, '')) NOT LIKE '%test connection%'\nORDER BY due_on ASC NULLS LAST\nLIMIT 20",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "bq-connector-health-001",
            "name": "BQ - Connector Health",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [-150, 200],
            "credentials": {
                "googleApi": {
                    "id": "kE5RxM61mQkpV21N",
                    "name": "BigQuery (Qoyod)"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "projectId": "={{ $vars.BQ_PROJECT }}",
                "sqlQuery": "SELECT\n  COALESCE(channel, 'unknown') AS channel,\n  COALESCE(status, 'unknown') AS status,\n  SUM(COALESCE(checks_passed, 0)) AS checks_passed,\n  SUM(COALESCE(checks_failed, 0)) AS checks_failed,\n  CAST(MAX(check_ts) AS STRING) AS last_seen\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.connector_health_log`\nWHERE check_ts >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 24 HOUR)\nGROUP BY channel, status\nORDER BY channel",
                "authentication": "serviceAccount",
                "options": {}
            }
        },
        {
            "id": "code-build-html-001",
            "name": "Build HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [150, 0],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Collect data from upstream nodes\nconst actions = $('BQ - Recent Actions').all().map(i => i.json);\nconst tasks = $('BQ - Open Tasks').all().map(i => i.json);\nconst health = $('BQ - Connector Health').all().map(i => i.json);\n\nfunction toRiyadh(ts) {\n  if (!ts || ts === 'null' || ts === '') return '—';\n  try {\n    const d = new Date(ts);\n    return d.toLocaleString('en-GB', { timeZone: 'Asia/Riyadh', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' }) + ' AST';\n  } catch(e) { return String(ts).substring(0,16); }\n}\n\nfunction statusBadge(s) {\n  const v = String(s || '').toLowerCase();\n  if (v === 'ok' || v === 'success' || v === 'completed' || v === 'done') return `<span class=\"badge ok\">${esc(s)}</span>`;\n  if (v === 'error' || v === 'fail' || v === 'failed') return `<span class=\"badge err\">${esc(s)}</span>`;\n  if (v === 'warning' || v === 'warn' || v === 'in_progress' || v === 'running' || v === 'new') return `<span class=\"badge warn\">${esc(s)}</span>`;\n  return `<span class=\"badge neutral\">${esc(s) || '—'}</span>`;\n}\n\nfunction esc(s) {\n  return String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n}\n\nconst now = new Date().toLocaleString('en-GB', { timeZone: 'Asia/Riyadh', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' }) + ' AST';\n\nconst actionRows = actions.length > 0\n  ? actions.map(r => `<tr><td>${toRiyadh(r.ts)}</td><td><code>${esc(r.role)}</code></td><td>${esc(r.action)}</td><td>${statusBadge(r.status)}</td><td class=\"detail\">${esc(r.details)}</td></tr>`).join('')\n  : '<tr><td colspan=\"5\" class=\"empty\">No activity logged</td></tr>';\n\nconst taskRows = tasks.length > 0\n  ? tasks.map(r => `<tr><td>${esc(r.title)}</td><td>${esc(r.assignee_name)}</td><td>${r.due_on || '—'}</td></tr>`).join('')\n  : '<tr><td colspan=\"3\" class=\"empty\">No open tasks</td></tr>';\n\nconst healthRows = health.length > 0\n  ? health.map(r => {\n      const ls = String(r.status || '').toLowerCase();\n      const cls = (ls === 'ok' || ls === 'success') ? '' : (ls === 'error' || ls === 'fail' ? 'row-err' : 'row-warn');\n      return `<tr class=\"${cls}\"><td>${esc(r.channel)}</td><td>${statusBadge(r.status)}</td><td>${r.checks_passed}</td><td>${r.checks_failed}</td><td>${toRiyadh(r.last_seen)}</td></tr>`;\n    }).join('')\n  : '<tr><td colspan=\"5\" class=\"empty\">No connector health data in last 24h</td></tr>';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta http-equiv=\"refresh\" content=\"3600\">\n<title>Qoyod Agent Activity</title>\n<style>\n  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #f7f8fa; color: #1a1a2e; font-size: 14px; }\n  header { background: #1a1a2e; color: #fff; padding: 20px 32px; }\n  header h1 { font-size: 20px; font-weight: 600; }\n  header .meta { font-size: 12px; color: #a0aec0; margin-top: 4px; }\n  .container { max-width: 1200px; margin: 0 auto; padding: 24px 16px; }\n  .section { background: #fff; border-radius: 8px; border: 1px solid #e2e8f0; margin-bottom: 24px; overflow: hidden; }\n  .section-header { padding: 14px 20px; border-bottom: 1px solid #e2e8f0; display: flex; align-items: center; gap: 10px; }\n  .section-header h2 { font-size: 15px; font-weight: 600; color: #2d3748; }\n  .section-header .count { background: #edf2f7; color: #4a5568; font-size: 11px; padding: 2px 8px; border-radius: 10px; font-weight: 500; }\n  .table-wrap { overflow-x: auto; }\n  table { width: 100%; border-collapse: collapse; }\n  th { background: #f7f8fa; text-align: left; padding: 10px 14px; font-size: 11px; font-weight: 600; color: #718096; text-transform: uppercase; letter-spacing: 0.5px; border-bottom: 1px solid #e2e8f0; white-space: nowrap; }\n  td { padding: 10px 14px; border-bottom: 1px solid #f0f0f0; vertical-align: top; }\n  tr:last-child td { border-bottom: none; }\n  tr:hover td { background: #fafbfc; }\n  tr.row-err td { background: #fff5f5; }\n  tr.row-warn td { background: #fffdf0; }\n  .badge { display: inline-block; padding: 2px 8px; border-radius: 10px; font-size: 11px; font-weight: 500; }\n  .badge.ok { background: #c6f6d5; color: #22543d; }\n  .badge.err { background: #fed7d7; color: #742a2a; }\n  .badge.warn { background: #fefcbf; color: #744210; }\n  .badge.neutral { background: #e2e8f0; color: #4a5568; }\n  .detail { color: #718096; font-size: 12px; max-width: 400px; word-break: break-word; }\n  code { font-family: 'SF Mono', monospace; background: #edf2f7; padding: 1px 5px; border-radius: 3px; font-size: 12px; }\n  .empty { text-align: center; color: #a0aec0; padding: 24px; font-style: italic; }\n  footer { text-align: center; padding: 16px; color: #a0aec0; font-size: 12px; }\n</style>\n</head>\n<body>\n<header>\n  <h1>Qoyod Agent Activity</h1>\n  <div class=\"meta\">Auto-refreshes every hour • Last updated: ${now}</div>\n</header>\n<div class=\"container\">\n  <div class=\"section\">\n    <div class=\"section-header\"><h2>Recent Agent Actions</h2><span class=\"count\">${actions.length} rows</span></div>\n    <div class=\"table-wrap\"><table>\n      <thead><tr><th>Timestamp (AST)</th><th>Role</th><th>Action</th><th>Status</th><th>Details</th></tr></thead>\n      <tbody>${actionRows}</tbody>\n    </table></div>\n  </div>\n  <div class=\"section\">\n    <div class=\"section-header\"><h2>Open Tasks</h2><span class=\"count\">${tasks.length} open</span></div>\n    <div class=\"table-wrap\"><table>\n      <thead><tr><th>Title</th><th>Assignee</th><th>Due</th></tr></thead>\n      <tbody>${taskRows}</tbody>\n    </table></div>\n  </div>\n  <div class=\"section\">\n    <div class=\"section-header\"><h2>Connector Health (Last 24h)</h2><span class=\"count\">${health.length} channels</span></div>\n    <div class=\"table-wrap\"><table>\n      <thead><tr><th>Channel</th><th>Status</th><th>Checks Passed</th><th>Checks Failed</th><th>Last Seen (AST)</th></tr></thead>\n      <tbody>${healthRows}</tbody>\n    </table></div>\n  </div>\n</div>\n<footer>Qoyod Performance Agent • <a href=\"https://qoyod.app.n8n.cloud\" style=\"color:#a0aec0\">n8n Cloud</a> • Updated ${now}</footer>\n</body></html>`;\n\nconst base64 = Buffer.from(html).toString('base64');\nreturn [{ json: { html, base64 } }];"
            }
        },
        {
            "id": "http-get-sha-001",
            "name": "GitHub - Get SHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [400, 0],
            "parameters": {
                "method": "GET",
                "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        }
                    ]
                },
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "http-push-html-001",
            "name": "GitHub - Push HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [650, 0],
            "parameters": {
                "method": "PUT",
                "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ message: 'chore(pages): update activity dashboard ' + new Date().toISOString().substring(0,16), content: $('Build HTML').first().json.base64, sha: ($('GitHub - Get SHA').first().json.sha || undefined) }) }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {"node": "BQ - Recent Actions", "type": "main", "index": 0},
                    {"node": "BQ - Open Tasks", "type": "main", "index": 0},
                    {"node": "BQ - Connector Health", "type": "main", "index": 0}
                ]
            ]
        },
        "BQ - Recent Actions": {
            "main": [
                [
                    {"node": "Build HTML", "type": "main", "index": 0}
                ]
            ]
        },
        "BQ - Open Tasks": {
            "main": [
                [
                    {"node": "Build HTML", "type": "main", "index": 1}
                ]
            ]
        },
        "BQ - Connector Health": {
            "main": [
                [
                    {"node": "Build HTML", "type": "main", "index": 2}
                ]
            ]
        },
        "Build HTML": {
            "main": [
                [
                    {"node": "GitHub - Get SHA", "type": "main", "index": 0}
                ]
            ]
        },
        "GitHub - Get SHA": {
            "main": [
                [
                    {"node": "GitHub - Push HTML", "type": "main", "index": 0}
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
