n8n/workflows/infra_activity_page.json
{
  "name": "Infra: Agent Activity Dashboard â†’ GitHub Pages",
  "description": "",
  "nodes": [
    {
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "bq-system-health-001",
      "name": "BQ - System Health",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        -400
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT CAST(MAX(ts) AS STRING) AS last_ts\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE ts >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "bq-connector-health-paid-001",
      "name": "BQ - Connector Health (Paid)",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        -240
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT channel, CAST(MAX(date) AS STRING) AS last_date,\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) AS days_stale\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\nWHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 14 DAY)\nGROUP BY channel",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "bq-connector-health-hs-001",
      "name": "BQ - Connector Health (HubSpot)",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        -80
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT 'hubspot_leads' AS channel, CAST(MAX(date) AS STRING) AS last_date,\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY) AS days_stale\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\nUNION ALL\nSELECT 'hubspot_deals', CAST(MAX(date) AS STRING),\n       DATE_DIFF(CURRENT_DATE('Asia/Riyadh'), MAX(date), DAY)\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_deals_daily`",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "bq-heatmap-001",
      "name": "BQ - Heatmap",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        80
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT\n  EXTRACT(DAYOFWEEK FROM ts AT TIME ZONE 'Asia/Riyadh') AS dow,\n  EXTRACT(HOUR FROM ts AT TIME ZONE 'Asia/Riyadh') AS hr,\n  COUNT(*) AS cnt\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE ts >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\nGROUP BY dow, hr\nORDER BY dow, hr",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "bq-activity-feed-001",
      "name": "BQ - Activity Feed",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        240
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT CAST(ts AS STRING) AS ts, role, action, status, channel, details\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\nWHERE action != 'heartbeat'\nORDER BY ts DESC LIMIT 20",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "bq-open-tasks-001",
      "name": "BQ - Open Tasks",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT gid, title, assignee_name, CAST(due_on AS STRING) AS due_on, project_key\nFROM (\n  SELECT gid, title, assignee_name, due_on, project_key,\n         ROW_NUMBER() OVER (PARTITION BY gid ORDER BY due_on ASC NULLS LAST) AS rn\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.asana_task_status`\n  WHERE completed = FALSE\n  AND title IS NOT NULL AND title != ''\n  AND title NOT LIKE '[Direct Log]%'\n  AND title NOT LIKE '[Agent Connection Test]%'\n)\nWHERE rn = 1\nORDER BY due_on ASC NULLS LAST LIMIT 10",
        "authentication": "serviceAccount",
        "options": {}
      }
    },
    {
      "id": "code-build-html-001",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Activity Dashboard — Build HTML (v2: accordion + links + hygiene + team roles)\n// ============================================================\n\n// ── helpers ──────────────────────────────────────────────────\nconst fmt = n => (n == null ? '—' : Number(n).toLocaleString());\nconst fmtUsd = n => n == null ? '—' : '$' + Number(n).toLocaleString(undefined, {minimumFractionDigits:2, maximumFractionDigits:2});\nconst ago = ts => {\n  if (!ts) return '—';\n  const d = Math.floor((Date.now() - new Date(ts)) / 86400000);\n  if (d === 0) return 'Today';\n  if (d === 1) return '1d ago';\n  return `${d}d ago`;\n};\nconst fresh = ts => {\n  if (!ts) return '<span style=\"color:#888\">Unknown ⚪</span>';\n  const d = Math.floor((Date.now() - new Date(ts)) / 86400000);\n  if (d === 0) return '<span style=\"color:#22c55e\">Fresh 🟢</span>';\n  if (d === 1) return '<span style=\"color:#f59e0b\">1d stale 🟡</span>';\n  return `<span style=\"color:#ef4444\">${d}d stale 🔴</span>`;\n};\nfunction esc(s) { return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\n// ── pull data from all inputs ─────────────────────────────────\nconst sysHealth    = ($('BQ - System Health').all()[0] || {json:{}}).json;\nconst paidHealth   = $('BQ - Connector Health (Paid)').all().map(i => i.json);\nconst hsHealth     = $('BQ - Connector Health (HubSpot)').all().map(i => i.json);\nconst heatRows     = $('BQ - Heatmap').all().map(i => i.json);\nconst actFeed      = $('BQ - Activity Feed').all().map(i => i.json);\nconst openTasks    = $('BQ - Open Tasks').all().map(i => i.json);\nconst hygieneRows  = $('BQ - Data Hygiene').all().map(i => i.json);\n\n// ── today ─────────────────────────────────────────────────────\nconst today = new Date().toLocaleDateString('en-GB', {day:'numeric',month:'short',year:'numeric', timeZone:'Asia/Riyadh'});\n\n// ── agent definitions ─────────────────────────────────────────\nconst agents = [\n  { name:'AI Orchestrator', color:'#f97316', dept:'MANAGER', trigger:'run daily / weekly / monthly', outputsTo:'All agents' },\n  { name:'QA Auditor', color:'#ef4444', dept:'GATEKEEPER', trigger:'validate this output', outputsTo:'AI Orchestrator' },\n  { name:'Project Coordinator', color:'#6b7280', dept:'OPS', trigger:'coordinate this campaign', outputsTo:'#approvals' },\n  { name:'Performance Lead', color:'#3b82f6', dept:'PERFORMANCE', trigger:'set KPI thresholds / budget', outputsTo:'Campaign Manager + Creative Strategist' },\n  { name:'Campaign Manager', color:'#0ea5e9', dept:'PERFORMANCE', trigger:'audit keywords / ads', outputsTo:'#approvals' },\n  { name:'Creative Strategist', color:'#a855f7', dept:'PERFORMANCE', trigger:'brief creative', outputsTo:'#approvals' },\n  { name:'CRO Specialist', color:'#f97316', dept:'CRO CHAIN', trigger:'LP brief / qual rate', outputsTo:'UI/UX Designer' },\n  { name:'UI/UX Designer', color:'#fb923c', dept:'CRO CHAIN', trigger:'design LP', outputsTo:'Developer' },\n  { name:'Developer', color:'#86efac', dept:'CRO CHAIN', trigger:'build LP / wire pixels', outputsTo:'#data-health' },\n];\n\n// ── dept color ─────────────────────────────────────────────────\nconst deptColor = { MANAGER:'#f97316', GATEKEEPER:'#ef4444', OPS:'#6b7280', PERFORMANCE:'#3b82f6', 'CRO CHAIN':'#22c55e' };\n\n// ── helpers from original ─────────────────────────────────────\nfunction stalenessColor(d) {\n  if (d===null||d===undefined) return 'var(--muted)';\n  const n = parseInt(d,10);\n  if (isNaN(n)) return 'var(--muted)';\n  return n===0 ? 'var(--green)' : n===1 ? 'var(--orange)' : '#e05c5c';\n}\n\nfunction fmtTs(tsStr) {\n  if (!tsStr || tsStr==='null') return '—';\n  try {\n    const d = new Date(tsStr);\n    return d.toLocaleString('en-GB',{timeZone:'UTC',month:'short',day:'2-digit',hour:'2-digit',minute:'2-digit',hour12:false}).replace(',','') + ' UTC';\n  } catch(e) { return String(tsStr).substring(0,16); }\n}\n\nfunction freshnessStatus(tsStr) {\n  if (!tsStr || tsStr==='null') return {color:'var(--muted)',label:'No data'};\n  const now = new Date();\n  const d = new Date(tsStr);\n  const diffH = (now - d) / 3600000;\n  if (diffH < 12) return {color:'var(--green)', label: Math.floor(diffH)+'h ago'};\n  if (diffH < 24) return {color:'var(--orange)', label: Math.floor(diffH)+'h ago'};\n  return {color:'#e05c5c', label: Math.floor(diffH)+'h ago'};\n}\n\nfunction agoStr(tsStr) {\n  if (!tsStr) return '—';\n  const now = new Date();\n  const d = new Date(tsStr);\n  const m = Math.floor((now - d) / 60000);\n  if (m < 60) return m+'m ago';\n  if (m < 1440) return Math.floor(m/60)+'h ago';\n  return Math.floor(m/1440)+'d ago';\n}\n\n// ── build sections ────────────────────────────────────────────\n\n// System Health Bar (preserved from original)\nconst N8N_BASE = 'https://qoyod.app.n8n.cloud/workflow';\nconst N8N_WORKFLOWS = {\n  orchestrator: 'T8icImtZFLYeCa7e', weekly: 'iNSdpXH7Rc9Lb8h8',\n  monthly: '0Zh45UoTtjjhRn8U', growth_analyst: 'MHCdIiAtKzHNve1x',\n  perf_lead: 'Qd5SoGxZbgT1ohYP', cro: 'jfE5KKnPJQBf7MCj',\n  qual: 'PxFBmtXDVgcNGzIM', campaign_mgr: 'eL0V6ReftV2U1wNf',\n  creative: 'smHaEhWloComRQyz', qa: 'ug3niLKrjPfO9Iz7',\n  data_collection: 'jOnJxdpdaO3Vbi0B', approval: '5Acqsbxsk0XQ5k9e'\n};\n\nconst fr = freshnessStatus(sysHealth.last_ts);\nconst dot = c => `<span class=\"hdot\" style=\"background:${c};box-shadow:0 0 5px ${c}\"></span>`;\nconst nowUtc = new Date();\nlet next8 = new Date(nowUtc);\nnext8.setUTCHours(5,0,0,0);\nif (nowUtc >= next8) next8 = new Date(next8.getTime() + 86400000);\nconst diffMs = next8 - nowUtc;\nconst nextH = Math.floor(diffMs/3600000);\nconst nextM = Math.floor((diffMs%3600000)/60000);\n\nconst healthBar = `<div class=\"hbar\">\n  <div class=\"hchip\">${dot(fr.color)}<span class=\"hlabel\">BQ Activity</span><span class=\"hval\" style=\"color:${fr.color}\">${fr.label}</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">n8n Master</span><span class=\"hval\" style=\"color:var(--muted)\">Daily 08:00 AST</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">GitHub Actions</span><span class=\"hval\" style=\"color:var(--muted)\">Every 6h</span></div>\n  <div class=\"hchip\">${dot('var(--green)')}<span class=\"hlabel\">GitHub Pages</span><span class=\"hval\" style=\"color:var(--green)\">Serving</span></div>\n  <div class=\"hchip\"><span class=\"hlabel\">⏳ Next run in</span><span class=\"hval\" style=\"color:var(--muted)\">${nextH}h ${nextM}m</span></div>\n  <div class=\"hchip\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.data_collection}\" target=\"_blank\" class=\"n8n-link\">Data Collection →</a></div>\n  <div class=\"hchip\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.approval}\" target=\"_blank\" class=\"n8n-link\">Approval Listener →</a></div>\n</div>`;\n\n// Connector cards\nconst bqToSlug = {\n  'Google Ads':'google_ads','Meta':'meta','Meta Ads':'meta',\n  'Snapchat':'snapchat','Snapchat Ads':'snapchat',\n  'TikTok':'tiktok','TikTok Ads':'tiktok',\n  'LinkedIn':'linkedin','LinkedIn Ads':'linkedin',\n  'Microsoft Ads':'microsoft_ads','Bing Ads':'microsoft_ads',\n  'hubspot_leads':'hubspot_leads','hubspot_deals':'hubspot_deals'\n};\nconst CONNECTORS = [\n  ['Google Ads','google_ads'],['Meta','meta'],['Snapchat','snapchat'],\n  ['TikTok','tiktok'],['LinkedIn','linkedin'],['Microsoft Ads','microsoft_ads'],\n  ['HubSpot Leads','hubspot_leads'],['HubSpot Deals','hubspot_deals']\n];\nconst slugMap = {};\n[...paidHealth, ...hsHealth].forEach(r => {\n  const slug = bqToSlug[r.channel] || (r.channel||'').toLowerCase().replace(/\\s+/g,'_');\n  slugMap[slug] = r;\n});\nconst connCards = CONNECTORS.map(([name, key]) => {\n  const info = slugMap[key] || {};\n  const lastDate = info.last_date || null;\n  const daysStale = info.days_stale !== undefined ? info.days_stale : null;\n  const color = stalenessColor(daysStale);\n  const dateStr = lastDate ? String(lastDate).substring(0,10) : 'No data';\n  const staleStr = daysStale===null ? '—' : (parseInt(daysStale)===0 ? 'Fresh' : `${parseInt(daysStale)}d stale`);\n  return `<div class=\"conn-card\">\n  <div class=\"conn-top\"><span class=\"conn-name\">${esc(name)}</span><span class=\"conn-dot\" style=\"background:${color};box-shadow:0 0 4px ${color}\"></span></div>\n  <div class=\"conn-ts\">${dateStr}</div>\n  <div class=\"conn-status\" style=\"color:${color}\">${staleStr}</div>\n</div>`;\n}).join('\\n');\n\n// Heatmap (preserved from original)\nconst DOW_LABELS = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];\nconst DOW_ORDER  = [2,3,4,5,6,7,1];\nconst heatLookup = {};\nheatRows.forEach(r => { heatLookup[`${r.dow}_${r.hr}`] = parseInt(r.cnt)||0; });\nconst maxCnt = Math.max(1, ...Object.values(heatLookup).concat([1]));\nconst hourHeaders = Array.from({length:24},(_,h)=>`<th class=\"hm-h\">${String(h).padStart(2,'0')}</th>`).join('');\nconst heatRowsHtml = DOW_ORDER.map((dow,i) => {\n  const cells = Array.from({length:24},(_,hr) => {\n    const cnt = heatLookup[`${dow}_${hr}`]||0;\n    const alpha = cnt ? (cnt/maxCnt).toFixed(2) : '0';\n    const bg = cnt ? `rgba(0,255,136,${alpha})` : 'var(--border)';\n    return `<td class=\"hm-cell\" style=\"background:${bg}\" title=\"${cnt} events\"></td>`;\n  }).join('');\n  return `<tr><th class=\"hm-row\">${DOW_LABELS[i]}</th>${cells}</tr>`;\n}).join('');\nconst heatmap = `<div class=\"hm-wrap\"><table class=\"hm-table\"><thead><tr><th></th>${hourHeaders}</tr></thead><tbody>${heatRowsHtml}</tbody></table>\n<div class=\"hm-legend\"><span style=\"color:var(--muted);font-size:11px\">Less</span><div class=\"hm-grad\"></div><span style=\"color:var(--muted);font-size:11px\">More</span><span style=\"color:var(--muted);font-size:11px;margin-left:16px\">Asia/Riyadh · last 7 days</span></div></div>`;\n\n// Activity feed (preserved from original)\nconst STATUS_COLOR = {\n  success:'var(--green)',failed:'#e05c5c',skipped:'var(--muted)',\n  pending_approval:'var(--orange)',approved:'var(--green)',rejected:'#e05c5c'\n};\nconst activityFeed = actFeed.length\n  ? actFeed.map(r => {\n    const color = STATUS_COLOR[(r.status||'').toLowerCase()] || 'var(--dim)';\n    const chTag = r.channel ? `<span class=\"feed-ch\">${esc(r.channel)}</span>` : '';\n    return `<div class=\"feed-row\"><span class=\"feed-ts\">${fmtTs(r.ts)}</span><span class=\"feed-role\">${esc(r.role)}</span>${chTag}<span class=\"feed-action\">${esc(r.action)}</span><span class=\"feed-badge\" style=\"color:${color};border-color:${color}\">${esc(r.status)}</span></div>`;\n  }).join('')\n  : '<div class=\"feed-empty\">No activity in the last 7 days — BQ may be unreachable</div>';\n\n// Open Tasks with Asana links\nconst todayStr = new Date(new Date().getTime()+3*3600000).toISOString().substring(0,10);\nconst taskRows = openTasks.map(t => {\n  const gid = t.gid || '';\n  const name = esc(t.title || '—');\n  const link = gid\n    ? `<a href=\"https://app.asana.com/0/0/${gid}\" target=\"_blank\" style=\"color:var(--orange);text-decoration:none\">${name}</a>`\n    : name;\n  const due = t.due_on ? String(t.due_on).substring(0,10) : null;\n  const overdue = due && due < todayStr;\n  const dueHtml = due\n    ? `<span style=\"color:${overdue ? '#ef4444' : 'var(--muted)'}\">${due}</span>`\n    : '—';\n  const assign = t.assignee_name ? esc(t.assignee_name) : '—';\n  const proj = t.project_key ? esc(t.project_key) : '—';\n  return `<tr><td>${link}</td><td>${assign}</td><td>${dueHtml}</td><td>${proj}</td></tr>`;\n}).join('') || '<tr><td colspan=\"4\" style=\"color:var(--muted);text-align:center\">No open tasks</td></tr>';\n\n// Data Hygiene cards\nconst hygieneCards = hygieneRows.map(r => {\n  return `<div class=\"conn-card\">\n  <div class=\"conn-top\"><span class=\"conn-name\">${esc(r.table_name)}</span></div>\n  <div class=\"conn-ts\">${fmt(r.row_count)} rows</div>\n  <div class=\"conn-status\">${fresh(r.last_modified)}</div>\n</div>`;\n}).join('\\n') || '<div style=\"color:var(--muted)\">No hygiene data</div>';\n\n// Team role cards\nconst teamRoleCards = agents.map(a => {\n  const dc = deptColor[a.dept] || '#888';\n  return `<div class=\"role-card\" style=\"border-left-color:${a.color}\">\n  <div style=\"font-size:14px;font-weight:700;color:${a.color};margin-bottom:6px\">${esc(a.name)}</div>\n  <div style=\"display:inline-block;font-size:10px;padding:2px 7px;border-radius:10px;font-weight:700;margin-bottom:8px;background:${dc};color:#000\">${esc(a.dept)}</div>\n  <div style=\"font-size:11px;color:var(--dim);margin-top:4px\"><strong style=\"color:var(--text)\">Trigger:</strong> ${esc(a.trigger)}</div>\n  <div style=\"font-size:11px;color:var(--dim);margin-top:4px\"><strong style=\"color:var(--text)\">Outputs to:</strong> ${esc(a.outputsTo)}</div>\n</div>`;\n}).join('');\n\nconst approvalsChannelId = 'C0AT1AP8TJ4';\nconst approvalsUrl = `https://qoyod.slack.com/channels/${approvalsChannelId}`;\nconst nowStr = new Date().toLocaleString('en-GB',{timeZone:'Asia/Riyadh',day:'2-digit',month:'short',year:'numeric',hour:'2-digit',minute:'2-digit',hour12:false}).replace(',','') + ' AST';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<meta http-equiv=\"refresh\" content=\"3600\">\n<title>Nexa Performance Agent — Activity Dashboard</title>\n<style>\n*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\n:root{\n  --bg:#0d0d0d;--card:#1a1a1a;--panel:#141414;--border:#2a2a2a;\n  --text:#e6e6e6;--dim:#aaa;--muted:#888;\n  --blue:#58a6ff;--lblue:#79c0ff;--purple:#d2a8ff;\n  --orange:#f0883e;--warm-orange:#ffa657;--green:#3fb950;--lgreen:#7ee787;\n  --grey:#8b949e;--red:#f85149;--accent:#00ff88;\n}\nbody{background:var(--bg);color:var(--text);font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif;font-size:14px;line-height:1.5;min-height:100vh}\na{color:inherit;text-decoration:none}\na:hover{text-decoration:underline}\nheader{display:flex;align-items:center;gap:10px;padding:16px 24px;border-bottom:1px solid var(--border);background:#111;position:sticky;top:0;z-index:100}\nheader h1{font-size:16px;font-weight:600;letter-spacing:.3px}\n.dot{width:8px;height:8px;border-radius:50%;background:var(--accent);box-shadow:0 0 6px var(--accent);flex-shrink:0}\n.htag{margin-left:auto;font-size:11px;color:var(--muted);background:#222;padding:3px 8px;border-radius:4px;border:1px solid var(--border)}\nmain{max-width:1160px;margin:0 auto;padding:28px 20px 60px}\n.toggle-all{font-size:11px;color:var(--orange);cursor:pointer;background:none;border:1px solid var(--orange);padding:4px 10px;border-radius:4px;margin-left:auto}\n.sec{font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:1.2px;color:var(--muted);margin:32px 0 0;display:flex;align-items:center;gap:8px;cursor:pointer;user-select:none}\n.sec::after{content:\"\";flex:1;height:1px;background:var(--border)}\n.sec .sec-arrow{font-size:9px;transition:transform 0.15s}\n.section-body{overflow:hidden;transition:max-height 0.25s ease;margin-bottom:4px}\n.section-body.collapsed{max-height:0!important}\n/* Health bar */\n.hbar{display:flex;flex-wrap:wrap;gap:10px;margin:14px 0 4px}\n.hchip{display:flex;align-items:center;gap:7px;background:var(--card);border:1px solid var(--border);border-radius:20px;padding:6px 14px;font-size:12px}\n.hdot{width:8px;height:8px;border-radius:50%;flex-shrink:0}\n.hlabel{color:var(--dim)}\n.hval{font-weight:600}\n/* Connector & hygiene cards */\n.conn-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:12px;margin:14px 0 4px}\n@media(max-width:900px){.conn-grid{grid-template-columns:repeat(2,1fr)}}\n@media(max-width:520px){.conn-grid{grid-template-columns:1fr}}\n.conn-card{background:var(--card);border:1px solid var(--border);border-radius:8px;padding:14px 16px;display:flex;flex-direction:column;gap:5px}\n.conn-top{display:flex;align-items:center;justify-content:space-between}\n.conn-name{font-size:13px;font-weight:600}\n.conn-dot{width:8px;height:8px;border-radius:50%;flex-shrink:0}\n.conn-ts{font-size:11px;color:var(--muted)}\n.conn-status{font-size:11px;font-weight:600}\n/* Heatmap */\n.hm-wrap{overflow-x:auto;margin:14px 0 4px}\n.hm-table{border-collapse:collapse;font-size:10px}\n.hm-h{color:var(--muted);padding:2px 3px;text-align:center;font-weight:400;width:22px}\n.hm-row{color:var(--dim);padding:2px 8px 2px 0;text-align:right;font-size:11px;white-space:nowrap;font-weight:500}\n.hm-cell{width:22px;height:18px;border-radius:3px;cursor:default}\n.hm-legend{display:flex;align-items:center;gap:8px;margin-top:8px}\n.hm-grad{width:80px;height:10px;border-radius:4px;background:linear-gradient(to right,var(--border),var(--accent))}\n/* Activity feed */\n.feed-wrap{background:var(--card);border:1px solid var(--border);border-radius:8px;overflow:hidden;margin:14px 0 4px}\n.feed-row{display:flex;align-items:center;gap:10px;padding:8px 12px;border-bottom:1px solid var(--border);font-size:12px;flex-wrap:wrap}\n.feed-row:last-child{border-bottom:none}\n.feed-ts{color:var(--muted);white-space:nowrap;min-width:110px}\n.feed-role{color:var(--blue);font-weight:600;min-width:120px}\n.feed-ch{background:#1f1f1f;color:var(--dim);border:1px solid var(--border);border-radius:4px;padding:1px 6px;font-size:10px}\n.feed-action{flex:1;color:var(--text)}\n.feed-badge{font-size:10px;font-weight:700;text-transform:uppercase;padding:2px 7px;border-radius:10px;border:1px solid;white-space:nowrap}\n.feed-empty{color:var(--muted);font-size:12px;padding:16px}\n/* Open Tasks table */\n.tasks-wrap{margin:14px 0 4px}\ntable{width:100%;border-collapse:collapse}\nth{text-align:left;font-size:11px;color:var(--muted);padding:8px 10px;border-bottom:1px solid var(--border);font-weight:600}\ntd{padding:9px 10px;border-bottom:1px solid var(--border);vertical-align:middle;font-size:13px}\ntr:last-child td{border-bottom:none}\ntr:hover td{background:rgba(255,255,255,0.02)}\n/* Cadence */\n.cgrid{display:grid;grid-template-columns:repeat(3,1fr);gap:14px;margin:14px 0 4px}\n@media(max-width:700px){.cgrid{grid-template-columns:1fr}}\n.ccard{background:var(--card);border:1px solid var(--border);border-radius:8px;padding:14px 16px;display:flex;justify-content:space-between;align-items:flex-start;gap:12px}\n.cname{font-size:13px;font-weight:600}\n.cdesc{font-size:11px;color:var(--muted);margin-top:3px}\n.csched{font-size:11px;color:var(--muted);background:#111;padding:3px 8px;border-radius:4px;font-family:monospace;white-space:nowrap;flex-shrink:0}\n.n8n-link{color:#f0883e;font-size:11px;text-decoration:none;border:1px solid #f0883e44;padding:2px 8px;border-radius:4px;white-space:nowrap}\n.n8n-link:hover{background:#f0883e22}\n/* Team roles */\n.role-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(260px,1fr));gap:12px;margin:14px 0 4px}\n.role-card{background:var(--card);border:1px solid var(--border);border-left-width:3px;border-radius:8px;padding:14px}\n/* Approval footer */\n.approval-footer{margin-top:24px;padding:14px;background:var(--card);border:1px solid var(--border);border-radius:8px;font-size:13px}\n</style>\n</head>\n<body>\n\n<header>\n  <div class=\"dot\"></div>\n  <h1>Nexa Performance Agent</h1>\n  <span class=\"htag\">n8n Cloud · GitHub Pages · ${nowStr}</span>\n  <button id=\"toggle-all\" class=\"toggle-all\">Collapse All</button>\n</header>\n\n<main>\n\n<!-- SYSTEM HEALTH -->\n<div class=\"sec\" id=\"sec-h-0\"><span class=\"sec-arrow\">▾</span>&nbsp;System Health</div>\n<div class=\"section-body\" id=\"sec-0\">${healthBar}</div>\n\n<!-- CONNECTOR HEALTH -->\n<div class=\"sec\" id=\"sec-h-1\"><span class=\"sec-arrow\">▾</span>&nbsp;Connector Health</div>\n<div class=\"section-body\" id=\"sec-1\">\n  <div class=\"conn-grid\">${connCards}</div>\n</div>\n\n<!-- DATA HYGIENE -->\n<div class=\"sec\" id=\"sec-h-2\"><span class=\"sec-arrow\">▾</span>&nbsp;Data Hygiene</div>\n<div class=\"section-body\" id=\"sec-2\">\n  <div class=\"conn-grid\">${hygieneCards}</div>\n</div>\n\n<!-- ACTIVITY HEATMAP -->\n<div class=\"sec\" id=\"sec-h-3\"><span class=\"sec-arrow\">▾</span>&nbsp;Activity Heat Map — Last 7 Days</div>\n<div class=\"section-body\" id=\"sec-3\">${heatmap}</div>\n\n<!-- RECENT AGENT ACTIVITY -->\n<div class=\"sec\" id=\"sec-h-4\"><span class=\"sec-arrow\">▾</span>&nbsp;Recent Agent Activity</div>\n<div class=\"section-body\" id=\"sec-4\">\n  <div class=\"feed-wrap\">${activityFeed}</div>\n</div>\n\n<!-- OPEN TASKS -->\n<div class=\"sec\" id=\"sec-h-5\"><span class=\"sec-arrow\">▾</span>&nbsp;Open Asana Tasks</div>\n<div class=\"section-body\" id=\"sec-5\">\n  <div class=\"tasks-wrap\">\n    <table>\n      <thead><tr><th>Title</th><th>Assignee</th><th>Due</th><th>Project</th></tr></thead>\n      <tbody>${taskRows}</tbody>\n    </table>\n  </div>\n</div>\n\n<!-- CADENCE FLOWS -->\n<div class=\"sec\" id=\"sec-h-6\"><span class=\"sec-arrow\">▾</span>&nbsp;Cadence Flows</div>\n<div class=\"section-body\" id=\"sec-6\">\n  <div class=\"cgrid\">\n    <div class=\"ccard\">\n      <div>\n        <div class=\"cname\">Daily Master</div>\n        <div class=\"cdesc\">Full daily analysis: spend, leads, CPQL, anomaly detection, Slack summary, pause/scale candidates</div>\n        <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.orchestrator}\" target=\"_blank\" class=\"n8n-link\">Open Daily in n8n →</a></div>\n      </div>\n      <div class=\"csched\">05:00 UTC daily</div>\n    </div>\n    <div class=\"ccard\">\n      <div>\n        <div class=\"cname\">Weekly Review</div>\n        <div class=\"cdesc\">7-day vs prior-7 period comparison, keyword autofix, channel flags, weekly Slack digest</div>\n        <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.weekly}\" target=\"_blank\" class=\"n8n-link\">Open Weekly in n8n →</a></div>\n      </div>\n      <div class=\"csched\">Sun 05:00 UTC</div>\n    </div>\n    <div class=\"ccard\">\n      <div>\n        <div class=\"cname\">Monthly Review</div>\n        <div class=\"cdesc\">MoM review, OKR tracking, budget reconciliation, 30-day forecast</div>\n        <div style=\"margin-top:8px\"><a href=\"${N8N_BASE}/${N8N_WORKFLOWS.monthly}\" target=\"_blank\" class=\"n8n-link\">Open Monthly in n8n →</a></div>\n      </div>\n      <div class=\"csched\">1st 05:00 UTC</div>\n    </div>\n  </div>\n</div>\n\n<!-- TEAM ROLES -->\n<div class=\"sec\" id=\"sec-h-7\"><span class=\"sec-arrow\">▾</span>&nbsp;Team Roles Quick Reference</div>\n<div class=\"section-body\" id=\"sec-7\">\n  <div class=\"role-grid\">${teamRoleCards}</div>\n</div>\n\n<!-- APPROVAL FOOTER -->\n<div class=\"approval-footer\">\n  📋 <strong>Approval channel:</strong>\n  <a href=\"${approvalsUrl}\" target=\"_blank\" style=\"color:var(--orange)\">\n    #approvals (${approvalsChannelId})\n  </a> — React ✅ to execute all scale/pause items, ❌ to skip.\n  optimize / junk / drilldown items are review-only — Asana tasks already created, no further execution needed.\n</div>\n\n</main>\n\n<script>\nconst secs = document.querySelectorAll('.sec[id^=\"sec-h-\"]');\nsecs.forEach(function(sec, i) {\n  const body = document.getElementById('sec-' + i);\n  if (!body) return;\n  body.style.maxHeight = body.scrollHeight + 'px';\n  sec.addEventListener('click', function() {\n    const collapsed = sec.classList.toggle('collapsed');\n    body.classList.toggle('collapsed', collapsed);\n    if (!collapsed) body.style.maxHeight = body.scrollHeight + 'px';\n    const arrow = sec.querySelector('.sec-arrow');\n    if (arrow) arrow.textContent = collapsed ? '▸' : '▾';\n  });\n});\ndocument.getElementById('toggle-all').addEventListener('click', function() {\n  const allOpen = [...document.querySelectorAll('.section-body')].every(function(b) { return !b.classList.contains('collapsed'); });\n  document.querySelectorAll('.sec[id^=\"sec-h-\"]').forEach(function(s) {\n    s.classList.toggle('collapsed', allOpen);\n    const arrow = s.querySelector('.sec-arrow');\n    if (arrow) arrow.textContent = allOpen ? '▸' : '▾';\n  });\n  document.querySelectorAll('.section-body').forEach(function(b) {\n    b.classList.toggle('collapsed', allOpen);\n    if (!allOpen) b.style.maxHeight = b.scrollHeight + 'px';\n  });\n  this.textContent = allOpen ? 'Expand All' : 'Collapse All';\n});\n</script>\n</body>\n</html>`;\n\nconst base64 = Buffer.from(html).toString('base64');\nreturn [{ json: { html, base64 } }];\n"
      }
    },
    {
      "id": "http-get-sha-001",
      "name": "GitHub - Get SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        350,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "http-push-html-001",
      "name": "GitHub - Push HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Rana96-run/nexa-performance-agent/contents/docs/index.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore(pages): update activity dashboard ' + new Date().toISOString().substring(0,16), content: $('Build HTML').first().json.base64, sha: ($('GitHub - Get SHA').first().json.sha || undefined) }) }}",
        "options": {}
      }
    },
    {
      "id": "bq-data-hygiene-001",
      "name": "BQ - Data Hygiene",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        -350,
        560
      ],
      "credentials": {
        "googleApi": {
          "id": "kE5RxM61mQkpV21N",
          "name": "BigQuery (Qoyod)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{ $vars.BQ_PROJECT }}",
        "sqlQuery": "SELECT table_name, row_count, CAST(last_modified AS STRING) AS last_modified\nFROM (\n  SELECT 'campaigns_daily' AS table_name, COUNT(*) AS row_count, MAX(CAST(date AS TIMESTAMP)) AS last_modified FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n  UNION ALL SELECT 'hubspot_leads_module_daily', COUNT(*), MAX(CAST(date AS TIMESTAMP)) FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  UNION ALL SELECT 'hubspot_deals_daily', COUNT(*), MAX(CAST(date AS TIMESTAMP)) FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_deals_daily`\n  UNION ALL SELECT 'agent_activity_log', COUNT(*), MAX(ts) FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.agent_activity_log`\n  UNION ALL SELECT 'asana_task_status', COUNT(*), MAX(synced_at) FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.asana_task_status`\n)\nORDER BY table_name",
        "authentication": "serviceAccount",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BQ - System Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Connector Health (Paid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Connector Health (HubSpot)",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Heatmap",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Activity Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Open Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Data Hygiene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - System Health": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Connector Health (Paid)": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BQ - Connector Health (HubSpot)": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "BQ - Heatmap": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "BQ - Activity Feed": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BQ - Open Tasks": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "GitHub - Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Get SHA": {
      "main": [
        [
          {
            "node": "GitHub - Push HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Data Hygiene": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}