n8n/workflows/kpi_cpl.json
{"updatedAt":"2026-06-17T20:33:53.888Z","createdAt":"2026-06-16T19:46:02.077Z","id":"Qd5SoGxZbgT1ohYP","name":"Nexa ? [KPI] CPL Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"id":"8a8f8b4d-dd61-504e-9bcd-2f0b5b4ffa31","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0],"parameters":{}},{"id":"296e647a-32b8-5eb3-bb4c-98bbaf0af29a","name":"BQ - CPL Drill","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[250,0],"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"operation":"executeQuery","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"-- CPL Analysis: mandatory CTE join pattern\n-- Leads source: hubspot_leads_module_daily ONLY (never hubspot_leads_daily = legacy)\n-- Spend source: campaigns_daily (always USD, never SAR)\n-- Pre-aggregate HubSpot before joining to avoid spend fan-out (direct join multiplies spend)\n-- CPL zones (USD): scale <$25 | acceptable $25-$38 | warning $40-$49 | pause >$50\n-- CPQL zones (USD): scale <$85 | acceptable $80-$95 | warning $95-$130 | pause >$160\n-- Entry gate: CPL > $38 USD. Pause: CPL > $50 USD. Scale: CPL < $25 USD.\n-- LinkedIn: campaign GROUP = utm_campaign | Ad Set = utm_audience | Ad = utm_content\n-- Awareness gate (WebsiteTraffic/ImpressionShare/Reach): skip CPL/CPQL checks entirely\n-- 14-day gate: confirm >=14 days data before any pause/scale/budget action\nWITH hs AS (\n  SELECT date, LOWER(lead_utm_campaign) AS campaign_key,\n         SUM(leads_total) AS leads_total,\n         SUM(leads_qualified) AS leads_qualified\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  GROUP BY date, LOWER(lead_utm_campaign)\n)\nSELECT c.channel, c.campaign_name, c.campaign_id,\n       SUM(c.spend) AS spend,\n       SUM(hs.leads_total) AS leads_total,\n       SUM(hs.leads_qualified) AS leads_qualified,\n       ROUND(SAFE_DIVIDE(SUM(c.spend), SUM(hs.leads_total)), 2) AS cpl,\n       ROUND(SAFE_DIVIDE(SUM(c.spend), SUM(hs.leads_qualified)), 2) AS cpql,\n       ROUND(SAFE_DIVIDE(SUM(hs.leads_qualified), NULLIF(SUM(hs.leads_total),0))*100, 1) AS qual_pct\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily` c\nLEFT JOIN hs ON c.date = hs.date\n           AND LOWER(c.campaign_name) = hs.campaign_key\nWHERE c.date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  AND c.channel = '={{$input.first().json.channel}}'\n  AND c.spend > 0\n  AND LOWER(c.campaign_name) NOT IN (\n    SELECT LOWER(campaign_name)\n    FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n    WHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 2 DAY)\n    GROUP BY campaign_name\n    HAVING SUM(spend) = 0 AND SUM(impressions) = 0\n  )\nGROUP BY c.channel, c.campaign_name, c.campaign_id\nHAVING SUM(c.spend) > 0\nORDER BY cpl DESC\nLIMIT 20","authentication":"serviceAccount","options":{}}},{"id":"fc5340da-e8a1-5747-83ba-e918ddf81711","name":"Build Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows=$input.all().map(i=>i.json);\nconst ch=$('Trigger').first().json.channel, cpl=$('Trigger').first().json.cpl;\n// CPL entry gate: CPL > $38 USD (top of acceptable range). Was wrongly \"$20 SAR\".\n// Filter for rows above acceptable range ($38) for analysis focus\nconst worst=rows.filter(r=>(r.cpl||0)>38).slice(0,8);\nreturn [{json:{\n  system:`You are a paid media analyst for Qoyod (a SaaS company in Saudi Arabia).\n\nCRITICAL KPI RULES:\n- CPL zones (USD): scale <$25 | acceptable $25-$38 | warning $40-$49 | pause >$50\n- CPQL zones (USD): scale <$85 | acceptable $80-$95 | warning $95-$130 | pause >$160\n- CPL entry gate: CPL > $38 USD triggers analysis. Pause threshold: CPL > $50 USD.\n- CPL = SUM(campaigns_daily.spend) / SUM(hubspot_leads_module_daily.leads_total) via CTE join\n- NEVER use channel-reported lead counts. Always use HubSpot lead module data.\n- Spend is always USD. Deal amounts in BQ are already USD. NEVER divide by 3.75.\n- Awareness campaigns (WebsiteTraffic / ImpressionShare / Reach): skip CPL/CPQL checks entirely.\n- 14-day minimum window before any pause/scale/budget action.\n\nLINKEDIN SPECIAL RULE:\n- LinkedIn campaign level: join on utm_campaign (= Campaign Group in LinkedIn UI)\n- LinkedIn ad set level: join on utm_audience (= Campaign in LinkedIn UI)\n- LinkedIn ad level: join on utm_content (= Ad in LinkedIn UI)\n\n\nKEYWORD PAUSE RULES (QS-based, not CPL-based):\n- Pause if: QS < 5 AND >80% lost impression share\n- Converting keyword exception: if QS < 5 AND conv > 4 AND $10 <= CPA <= $70 -> LEAVE ENABLED (keyword is converting despite low QS)\n- Minimum 10-day keyword age before any pause - keywords younger than 10 days: add to monitoring list, no action\n- Zero-active-keyword guard: NEVER pause the last enabled keyword in an ad group (would kill campaign silently)\n- NEVER delete a keyword - only pause\n- QS = 0 (PMax keywords or not-yet-set): skip, cannot evaluate\nAPPROVAL RULE:\n- ALL actions (pause, scale, bid change, budget shift) must queue to #approvals channel\n- Execution only after emoji reaction from approver\n- Exception: bid increases <=10% auto-execute\n\nCRO HANDOFF CHAIN (when CPL issue traced to LP/quality):\nCRO Specialist -> UI/UX Designer -> Developer -> pixel verification in Events Manager\n(both Meta pixels observed + UTM passthrough confirmed) -> LP sign-off\n\nAnalyze CPL data for ${ch}. Current channel CPL: $${cpl} USD.\nFind root cause and recommend fixes. Do NOT recommend pausing without checking 14-day window.\nOutput JSON: {\"root_cause\":str,\"worst_campaigns\":[{\"campaign_name\":str,\"cpl\":num,\"cpql\":num,\"recommendation\":str}],\"channel_recommendation\":str,\"asana_title\":str,\"requires_cro_handoff\":bool}`,\n  messages:[{role:'user',content:`Channel: ${ch}\\nCurrent CPL: $${cpl} USD\\n\\nCampaign breakdown (CPL > $38 USD):\\n${JSON.stringify(worst,null,2)}`}]\n}}];"}},{"id":"0c820cc4-9892-52b3-80dd-a3c783c3610c","name":"Claude - CPL Analyst","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,0],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","genericAuthType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:2000, system:$json.system, messages:$json.messages }) }}","options":{},"nodeCredentialType":"anthropicApi"}},{"id":"6f112bda-44c1-5c98-8d36-cb12aa07943f","name":"Parse Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"\nconst raw=$json.content?.find(b=>b.type==='text')?.text||'{}';\nconst ch=$('Trigger').first().json.channel, t=new Date().toISOString().slice(0,10);\ntry{\n  const r=JSON.parse(raw);\n  return [{json:{\n    task_name: r.asana_title||`[CPL FIX] ${ch} - CPL above threshold`,\n    task_notes:`Channel: ${ch}\\n\\nRoot Cause:\\n${r.root_cause||'See data'}\\n\\nWorst Adsets:\\n${(r.worst_adsets||[]).map(a=>`. ${a.adset_name}: $${a.cpl} - ${a.recommendation}`).join('\\n')}\\n\\nRecommendation:\\n${r.channel_recommendation||'-'}\\n\\nCreated: ${t} | Due: +2d | Priority: P1 | Type: CPL Fix | Channel: ${ch} | Asset level: Ad Set | Action: optimize ? [campaign-manager]`,\n    due_on: new Date(Date.now()+2*86400000).toISOString().slice(0,10)\n  }}];\n}catch(e){return [{json:{task_name:`CPL Fix parse error`,task_notes:raw,due_on:t}}];}\n"}},{"id":"c6347158-3f6f-5650-9a31-85c1615efa93","name":"Create Asana Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,0],"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}},"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ data: { name: $json.task_name, notes: $json.task_notes, projects: ['1214135581886045'], assignee: '1208007704598388', due_on: $json.due_on } }) }}","options":{}}},{"id":"0b9818a9-d45d-53c6-8b3c-8a13d56ca844","name":"Return Result","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,0],"parameters":{"mode":"manual","fields":{"values":[{"name":"sub_flow","stringValue":"B_CPL"},{"name":"status","stringValue":"={{ $json.data?'created':'error' }}"},{"name":"channel","stringValue":"={{ $('Trigger').first().json.channel }}"}]}}}],"connections":{"Trigger":{"main":[[{"node":"BQ - CPL Drill","type":"main","index":0}]]},"BQ - CPL Drill":{"main":[[{"node":"Build Claude Prompt","type":"main","index":0}]]},"Build Claude Prompt":{"main":[[{"node":"Claude - CPL Analyst","type":"main","index":0}]]},"Claude - CPL Analyst":{"main":[[{"node":"Parse Claude","type":"main","index":0}]]},"Parse Claude":{"main":[[{"node":"Create Asana Task","type":"main","index":0}]]},"Create Asana Task":{"main":[[{"node":"Return Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Riyadh","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"51e6122a-e45e-4008-87ad-7c9ce0f4f7c1","activeVersionId":"51e6122a-e45e-4008-87ad-7c9ce0f4f7c1","versionCounter":6,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-16T19:46:02.078Z","createdAt":"2026-06-16T19:46:02.078Z","role":"workflow:owner","workflowId":"Qd5SoGxZbgT1ohYP","projectId":"adzgqz9cb5avvdf1","project":{"updatedAt":"2026-05-28T17:50:33.321Z","createdAt":"2026-05-28T17:50:26.370Z","id":"adzgqz9cb5avvdf1","name":"Mohamed Irshaid <mohammad.irsheid@qoyod.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-17T20:33:53.891Z","createdAt":"2026-06-17T20:33:53.891Z","versionId":"51e6122a-e45e-4008-87ad-7c9ce0f4f7c1","workflowId":"Qd5SoGxZbgT1ohYP","nodes":[{"id":"8a8f8b4d-dd61-504e-9bcd-2f0b5b4ffa31","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0],"parameters":{}},{"id":"296e647a-32b8-5eb3-bb4c-98bbaf0af29a","name":"BQ - CPL Drill","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[250,0],"credentials":{"googleApi":{"id":"kE5RxM61mQkpV21N","name":"BigQuery (Qoyod)"}},"parameters":{"operation":"executeQuery","projectId":"={{ $vars.BQ_PROJECT }}","sqlQuery":"-- CPL Analysis: mandatory CTE join pattern\n-- Leads source: hubspot_leads_module_daily ONLY (never hubspot_leads_daily = legacy)\n-- Spend source: campaigns_daily (always USD, never SAR)\n-- Pre-aggregate HubSpot before joining to avoid spend fan-out (direct join multiplies spend)\n-- CPL zones (USD): scale <$25 | acceptable $25-$38 | warning $40-$49 | pause >$50\n-- CPQL zones (USD): scale <$85 | acceptable $80-$95 | warning $95-$130 | pause >$160\n-- Entry gate: CPL > $38 USD. Pause: CPL > $50 USD. Scale: CPL < $25 USD.\n-- LinkedIn: campaign GROUP = utm_campaign | Ad Set = utm_audience | Ad = utm_content\n-- Awareness gate (WebsiteTraffic/ImpressionShare/Reach): skip CPL/CPQL checks entirely\n-- 14-day gate: confirm >=14 days data before any pause/scale/budget action\nWITH hs AS (\n  SELECT date, LOWER(lead_utm_campaign) AS campaign_key,\n         SUM(leads_total) AS leads_total,\n         SUM(leads_qualified) AS leads_qualified\n  FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.hubspot_leads_module_daily`\n  WHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  GROUP BY date, LOWER(lead_utm_campaign)\n)\nSELECT c.channel, c.campaign_name, c.campaign_id,\n       SUM(c.spend) AS spend,\n       SUM(hs.leads_total) AS leads_total,\n       SUM(hs.leads_qualified) AS leads_qualified,\n       ROUND(SAFE_DIVIDE(SUM(c.spend), SUM(hs.leads_total)), 2) AS cpl,\n       ROUND(SAFE_DIVIDE(SUM(c.spend), SUM(hs.leads_qualified)), 2) AS cpql,\n       ROUND(SAFE_DIVIDE(SUM(hs.leads_qualified), NULLIF(SUM(hs.leads_total),0))*100, 1) AS qual_pct\nFROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily` c\nLEFT JOIN hs ON c.date = hs.date\n           AND LOWER(c.campaign_name) = hs.campaign_key\nWHERE c.date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 30 DAY)\n  AND c.channel = '={{$input.first().json.channel}}'\n  AND c.spend > 0\n  AND LOWER(c.campaign_name) NOT IN (\n    SELECT LOWER(campaign_name)\n    FROM `{{ $vars.BQ_PROJECT }}.{{ $vars.BQ_DATASET }}.campaigns_daily`\n    WHERE date >= DATE_SUB(CURRENT_DATE('Asia/Riyadh'), INTERVAL 2 DAY)\n    GROUP BY campaign_name\n    HAVING SUM(spend) = 0 AND SUM(impressions) = 0\n  )\nGROUP BY c.channel, c.campaign_name, c.campaign_id\nHAVING SUM(c.spend) > 0\nORDER BY cpl DESC\nLIMIT 20","authentication":"serviceAccount","options":{}}},{"id":"fc5340da-e8a1-5747-83ba-e918ddf81711","name":"Build Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows=$input.all().map(i=>i.json);\nconst ch=$('Trigger').first().json.channel, cpl=$('Trigger').first().json.cpl;\n// CPL entry gate: CPL > $38 USD (top of acceptable range). Was wrongly \"$20 SAR\".\n// Filter for rows above acceptable range ($38) for analysis focus\nconst worst=rows.filter(r=>(r.cpl||0)>38).slice(0,8);\nreturn [{json:{\n  system:`You are a paid media analyst for Qoyod (a SaaS company in Saudi Arabia).\n\nCRITICAL KPI RULES:\n- CPL zones (USD): scale <$25 | acceptable $25-$38 | warning $40-$49 | pause >$50\n- CPQL zones (USD): scale <$85 | acceptable $80-$95 | warning $95-$130 | pause >$160\n- CPL entry gate: CPL > $38 USD triggers analysis. Pause threshold: CPL > $50 USD.\n- CPL = SUM(campaigns_daily.spend) / SUM(hubspot_leads_module_daily.leads_total) via CTE join\n- NEVER use channel-reported lead counts. Always use HubSpot lead module data.\n- Spend is always USD. Deal amounts in BQ are already USD. NEVER divide by 3.75.\n- Awareness campaigns (WebsiteTraffic / ImpressionShare / Reach): skip CPL/CPQL checks entirely.\n- 14-day minimum window before any pause/scale/budget action.\n\nLINKEDIN SPECIAL RULE:\n- LinkedIn campaign level: join on utm_campaign (= Campaign Group in LinkedIn UI)\n- LinkedIn ad set level: join on utm_audience (= Campaign in LinkedIn UI)\n- LinkedIn ad level: join on utm_content (= Ad in LinkedIn UI)\n\n\nKEYWORD PAUSE RULES (QS-based, not CPL-based):\n- Pause if: QS < 5 AND >80% lost impression share\n- Converting keyword exception: if QS < 5 AND conv > 4 AND $10 <= CPA <= $70 -> LEAVE ENABLED (keyword is converting despite low QS)\n- Minimum 10-day keyword age before any pause - keywords younger than 10 days: add to monitoring list, no action\n- Zero-active-keyword guard: NEVER pause the last enabled keyword in an ad group (would kill campaign silently)\n- NEVER delete a keyword - only pause\n- QS = 0 (PMax keywords or not-yet-set): skip, cannot evaluate\nAPPROVAL RULE:\n- ALL actions (pause, scale, bid change, budget shift) must queue to #approvals channel\n- Execution only after emoji reaction from approver\n- Exception: bid increases <=10% auto-execute\n\nCRO HANDOFF CHAIN (when CPL issue traced to LP/quality):\nCRO Specialist -> UI/UX Designer -> Developer -> pixel verification in Events Manager\n(both Meta pixels observed + UTM passthrough confirmed) -> LP sign-off\n\nAnalyze CPL data for ${ch}. Current channel CPL: $${cpl} USD.\nFind root cause and recommend fixes. Do NOT recommend pausing without checking 14-day window.\nOutput JSON: {\"root_cause\":str,\"worst_campaigns\":[{\"campaign_name\":str,\"cpl\":num,\"cpql\":num,\"recommendation\":str}],\"channel_recommendation\":str,\"asana_title\":str,\"requires_cro_handoff\":bool}`,\n  messages:[{role:'user',content:`Channel: ${ch}\\nCurrent CPL: $${cpl} USD\\n\\nCampaign breakdown (CPL > $38 USD):\\n${JSON.stringify(worst,null,2)}`}]\n}}];"}},{"id":"0c820cc4-9892-52b3-80dd-a3c783c3610c","name":"Claude - CPL Analyst","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,0],"credentials":{"anthropicApi":{"id":"yLwrXNzxReOM4Fgn","name":"Anthropic account"}},"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","genericAuthType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model:'claude-sonnet-4-6', max_tokens:2000, system:$json.system, messages:$json.messages }) }}","options":{},"nodeCredentialType":"anthropicApi"}},{"id":"6f112bda-44c1-5c98-8d36-cb12aa07943f","name":"Parse Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"\nconst raw=$json.content?.find(b=>b.type==='text')?.text||'{}';\nconst ch=$('Trigger').first().json.channel, t=new Date().toISOString().slice(0,10);\ntry{\n  const r=JSON.parse(raw);\n  return [{json:{\n    task_name: r.asana_title||`[CPL FIX] ${ch} - CPL above threshold`,\n    task_notes:`Channel: ${ch}\\n\\nRoot Cause:\\n${r.root_cause||'See data'}\\n\\nWorst Adsets:\\n${(r.worst_adsets||[]).map(a=>`. ${a.adset_name}: $${a.cpl} - ${a.recommendation}`).join('\\n')}\\n\\nRecommendation:\\n${r.channel_recommendation||'-'}\\n\\nCreated: ${t} | Due: +2d | Priority: P1 | Type: CPL Fix | Channel: ${ch} | Asset level: Ad Set | Action: optimize ? [campaign-manager]`,\n    due_on: new Date(Date.now()+2*86400000).toISOString().slice(0,10)\n  }}];\n}catch(e){return [{json:{task_name:`CPL Fix parse error`,task_notes:raw,due_on:t}}];}\n"}},{"id":"c6347158-3f6f-5650-9a31-85c1615efa93","name":"Create Asana Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,0],"credentials":{"httpHeaderAuth":{"id":"iUYNax4N4UkcLiQB","name":"Asana (Qoyod)"}},"parameters":{"method":"POST","url":"https://app.asana.com/api/1.0/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ data: { name: $json.task_name, notes: $json.task_notes, projects: ['1214135581886045'], assignee: '1208007704598388', due_on: $json.due_on } }) }}","options":{}}},{"id":"0b9818a9-d45d-53c6-8b3c-8a13d56ca844","name":"Return Result","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,0],"parameters":{"mode":"manual","fields":{"values":[{"name":"sub_flow","stringValue":"B_CPL"},{"name":"status","stringValue":"={{ $json.data?'created':'error' }}"},{"name":"channel","stringValue":"={{ $('Trigger').first().json.channel }}"}]}}}],"connections":{"Trigger":{"main":[[{"node":"BQ - CPL Drill","type":"main","index":0}]]},"BQ - CPL Drill":{"main":[[{"node":"Build Claude Prompt","type":"main","index":0}]]},"Build Claude Prompt":{"main":[[{"node":"Claude - CPL Analyst","type":"main","index":0}]]},"Claude - CPL Analyst":{"main":[[{"node":"Parse Claude","type":"main","index":0}]]},"Parse Claude":{"main":[[{"node":"Create Asana Task","type":"main","index":0}]]},"Create Asana Task":{"main":[[{"node":"Return Result","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Mohamed Irshaid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-17T20:33:54.029Z","id":243,"workflowId":"Qd5SoGxZbgT1ohYP","versionId":"51e6122a-e45e-4008-87ad-7c9ce0f4f7c1","event":"activated","userId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"},{"createdAt":"2026-06-17T20:33:53.981Z","id":242,"workflowId":"Qd5SoGxZbgT1ohYP","versionId":"51e6122a-e45e-4008-87ad-7c9ce0f4f7c1","event":"deactivated","userId":"2a6e0304-07da-4c79-a506-3c92b5981bd1"}]}}